<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>候位系統 - 季河資訊</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but newpos-register doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <!-- 資料加載動畫 -->
      <div v-if="false" style="height:100%;width:100%;position:absolute;z-index:99999;display: flex;align-items: center;justify-content: center;">
        <div>
          <img width="160" src="<%= BASE_URL %>pending.svg">
          <p style="color: gray;margin-top: .5rem; text-align: center;">資料加載中，請稍後...</p>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
