@charset "UTF-8";

/* 載入 google Rubik fonts */
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(../fonts/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(../fonts/iJWKBXyIfDnIV7nBrXo.woff) format('woff');
}

:root {
  /* for web */
  --font-family-zhtw: "微軟正黑體";
  --font-google: "Rubik";
  /* color */
  --primary-color: #ff5859;
  --expired-color: steelblue;
  --entered-color: mediumseagreen;
  /* nav height */
  --header-height: 3rem;
  --footer-height: 3.5rem;
}

*:not(input) {
  /*-webkit-touch-callout: none;  Disable Android and iOS callouts*/
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input[type=text], input[type=number], input[type=password] {
  -webkit-appearance: none;
  appearance: none;
}

* { outline: none !important; }

.primary-color,
.primary-color:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.border-primary-color {
  border-color: var(--primary-color) !important;
}

.primary-text-color {
  color: var(--primary-color) !important;
}

/* 過號色 */

.expired-color .primary-color,
.expired-color .primary-color:hover {
  background: var(--expired-color) !important;
  color: #fff !important;
}

.expired-color .border-primary-color {
  border-color: var(--expired-color) !important;
}

.expired-color .primary-text-color {
  color: var(--expired-color) !important;
}

/* 入席色 */

.entered-color .primary-color,
.entered-color .primary-color:hover {
  background: var(--entered-color) !important;
  color: #fff !important;
}

.entered-color .border-primary-color {
  border-color: var(--entered-color) !important;
}

.entered-color .primary-text-color {
  color: var(--entered-color) !important;
}

/* try to remove 300m tap delay */
html {
  touch-action: manipulation;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: var(--font-google), -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", var(--font-family-zhtw), "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.secondary-color,
.secondary-color:hover {
  background: var(--secondary-color) !important;
  color: #fff !important;
}

.full-height {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.launch-image {
  background: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 9999;
}
.default-page {
  background: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 9998;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.text-more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 置頂(底)功能列 */
.header, .footer {
  padding: .5rem;
  height: var(--header-height);
}
.footer {
  height: var(--footer-height);
}

/* 側選單 */
.sideMenu {
  z-index: 99;
  overflow: visible;
  background: rgba(255, 255, 255, .95);
}

/* alert & confirm */
.app-modal {
  display: block;
}

/* 跳窗設定 */
.app-modal .w3-modal-content {
  overflow: hidden;
}

/* 載入動畫 */
/* .loader-modal {
} */

.loader-modal .loader-container {
  width: 80px !important;
}

.loader-modal .loader-container .loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid var(--primary-color);
  width: 32px;
  height: 32px;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* flex center */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* w3 customize */
.w3-section-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.w3-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.w3-margin-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.w3-text-transparent {
  color: transparent !important;
}

.w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray, .w3-hover-border-gray:hover {
  border-color: #d9d9d9!important;
}

.w3-btn:hover {
  box-shadow: none;
}

.w3-sidebar {
  z-index: 99;
}


/* 換頁動畫 */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .15s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

/* 滑動圖層 */
.func-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

/**
 * vue enter/leave transition
 * 側選單 & 下拉 & 滑動圖層
 */
.slide-top-enter-active,
.slide-top-leave-active,
.side-menu-enter-active,
.side-menu-leave-active {
  transition: all .3s ease;
}
.slide-top-enter,
.slide-top-leave-to {
  transform: translateY(100%);
}
.side-menu-enter,
.side-menu-leave-to {
  transform: translateX(-200px);
}
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all .3s ease;
  max-height: 500px;
}
.slide-down-enter,
.slide-down-leave-to {
  max-height: 0px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle item */

input[type="checkbox"].ck-button + label,
input[type="radio"].ck-button + label {
  display: inline-block;
  padding: .25rem .5rem;
  min-width: 30%;
  color:black;
  background:#eee;
  border:1px solid #ccc;
  text-align: center;
  border-radius: 4px;
  margin: .25rem .125rem;
}

input[type="checkbox"].ck-button:checked + label,
input[type="radio"].ck-button:checked + label {
  border:1px solid orange;
  background: #ffe4b3;
}

/* swiper pagination color */
.swiper-pagination-bullet-active {
   background: var(--primary-color);
}

/* TAB */
.tabBar .tabLink {
  border-bottom-width: 2px !important;
  border-bottom-color: transparent !important;
  padding: .5rem 0;
}

.tabBar .tabLink.isActive {
  border-bottom-width: 2px !important;
  border-bottom-color: var(--primary-color) !important;
}

.status-tab {
  background: #00000026;
  color: white;
  margin-left: -3px;
}
.status-tab:first-child {
  margin-left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.status-tab:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {

}

/* datepicker */
.vdp-datepicker__calendar {
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  overflow: hidden;
  margin-top: 1px;
  border: 0 !important;
}
.vdp-datepicker__calendar .day-header {
  font-size: 100% !important;
  color: #bbb !important;
  border-bottom: 1px solid #f1f1f1 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
.vdp-datepicker__calendar header {
  background-color: #2196F3;
  overflow: hidden;
  color: white;
}
.vdp-datepicker__calendar header .prev:after {
  border-right: 8px solid white !important;
}
.vdp-datepicker__calendar header .next:after {
  border-left: 8px solid white !important;
}
.vdp-datepicker__calendar .cell.selected {
  background: #2196F3 !important;
  color: white !important;
  font-weight: bold !important;
}
.vdp-datepicker__calendar header .prev:not(.disabled):hover,
.vdp-datepicker__calendar header .next:not(.disabled):hover,
.vdp-datepicker__calendar header .up:not(.disabled):hover {
    background: #2196F3 !important;
}

/* for vue use */

[v-cloak] {
  display: none !important;
}

[disabled] {
  pointer-events: none !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 數字鍵盤 */

.numPad-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}

.numPad-wrapper > div {
  border-radius: 8px;
  background-color: #333;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: .25rem;
  transition: .05s linear;
}

/* 人數 TITLE */

.px-title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1rem;
  margin: .5rem 0 2.5rem 0;
  font-size: 1.75rem;
}

.px-title span {
  background: #fff;
  padding: 0 1rem;
  transform: translateY(1rem);
  display: inline-block;
  color: dimgray;
}

.showNotify {
	animation: flash linear 1s infinite;
}
@keyframes flash {
	0% { background-color: white; }
	50% { background-color: #ffff76; }
	100% { background-color: white; }
}


/* IE11 Hack */
@media all and (-ms-high-contrast:none) {
  html, body {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "微軟正黑體", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .primary-color,
  .primary-color:hover {
    background: #ff5859 !important;
    color: #fff !important;
  }
  .border-primary-color {
    border-color: #ff5859 !important;
  }
  .primary-text-color {
    color: #ff5859 !important;
  }
  .flex-center {
    height: 80vh;;
  }
  .loader-modal {
    opacity: 0 !important;
  }
}
