// 碳佐麻里客製樣式

/* 載入 google Rubik fonts */
/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rubik'), local('Rubik-Regular'), url(../fonts/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rubik'), local('Rubik-Regular'), url(../fonts/iJWKBXyIfDnIV7nBrXo.woff) format('woff');
}

:root {
    --color-gold: #c79f5e;
    --waiting-color: #8c002f;
    --expired-color: #072b5c;
    --entered-color: #7d7025;
}

html, body {
    height: 100%;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "微軟正黑體", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*:not(input):not(textarea) {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.opacity-0 { opacity: 0 !important; }
.opacity-25 { opacity: .25 !important; }
.opacity-50 { opacity: .5 !important; }
.opacity-75 { opacity: .75 !important; }
.opacity-100 { opacity: 1 !important; }

.login-bg {
    background: url('../images/tzml/menu_bg.jpg');
}

.welcome-bg {
    background: url('../images/tzml/welcome_bg.jpg');
}

.ratio-rwd {
    --bs-aspect-ratio: calc(2 / 5 * 100%) !important;
    @media (min-width: 576px) {
        --bs-aspect-ratio: 100% !important;
    }
}

.rounded-xl {
    border-radius: .5rem !important;
}

.text-gold {
    color: var(--color-gold);
}

.bg-gold {
    background: var(--color-gold) !important;
    color: black;
}

.swiper-pagination-bullet-active {
    background: var(--color-gold) !important;
}

.overflow-y-auto {
    overflow-y: auto;
}

@mixin baseBtn_background($bgC,$boC) {
    background:$bgC;
    border:1px solid $boC;
}

input[type="checkbox"].ck-btn + label,
input[type="radio"].ck-btn + label {
    @include baseBtn_background(#eee,#ccc);
}

input[type="checkbox"].ck-btn:checked + label,
input[type="radio"].ck-btn:checked + label,
input[type="radio"].ck-btn + label.active {
    @include baseBtn_background(var(--color-gold),var(--color-gold));
    color: white;
    font-weight: bold;
}

input[type="checkbox"].ck-btn-sp + label,
input[type="radio"].ck-btn-sp + label {
    @include baseBtn_background(cornsilk,#ccc);
}

input[type="checkbox"].ck-btn-sp:checked + label,
input[type="radio"].ck-btn-sp:checked + label {
    @include baseBtn_background(var(--color-gold),var(--color-gold));
    color: white;
    font-weight: bold;
}

.form-check-input {
    &:checked {
        background-color: var(--bs-dark);
        border-color: var(--bs-dark);
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, .25);
    }
}

input[type="radio"].ck-gold:checked {
    background-color: var(--color-gold) !important;
    border-color: var(--color-gold) !important;
} 

input[type="checkbox"].ck-gold:checked {
    background-color: var(--color-gold) !important;
    border-color: var(--color-gold) !important;
}

.text-waiting {
    color: var(--waiting-color);
}

.bg-waiting {
    background-color: var(--waiting-color) !important;
    color: white !important;
}

.expired-theme {
    .bg-waiting {
        background-color: var(--expired-color) !important;
    }
    .text-waiting {
        color: var(--expired-color);
    }
}

.entered-theme {
    .bg-waiting {
        background-color: var(--entered-color) !important;
    }
    .text-waiting {
        color: var(--entered-color);
    }
}

/* 管理>候位清單-閃爍效果 */
@keyframes blink {
    50% {
        background-color: mistyrose;
    }
}

.blinking {
    animation: blink normal ease-in-out 1s infinite;
}

/* 管理>候位清單-閃爍效果 End */

/*for ie10 、 ie11*/
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
    .row > * {
        padding-right: 8px;
        padding-left: 8px;
        margin-top: 0;
    }
    .ratio::before {
        padding-top: 100%;
    }
    .text-gold {
        color: #c79f5e;
    }
    .bg-gold {
        background: #c79f5e;
    }
    .display-1 {
        font-size: calc(1.625rem + 6vw);
    }
    .rounded-xl {
        border-radius: 1.5rem !important;
    }
}

.showNotify {
	animation: flash linear 1s infinite;
}
@keyframes flash {
	0% { background-color: white; }
	50% { background-color: #ffff76; }
	100% { background-color: white; }
}