<!-- eslint-disable -->
<template>

  <div style="height:calc(100% - var(--footer-height);padding:.1px">
    <!-- 版本號 -->
    <div class="w3-right-align w3-small w3-bottom w3-opacity-max" style="padding-right:4px;bottom:56px">v.{{getVersion}}</div>
    <div class="full-height scroll-touch">
      <!-- Nav tabs -->
      <div class="w3-margin scroll-touch" style="white-space:nowrap;">
        <div class="w3-btn w3-center w3-round-large w3-padding w3-light-gray w3-border" style="width:220px;border-width:2px!important;margin-right:.5rem"
        @click="deskTypeID = 'all'"
        :class="{'border-primary-color':deskTypeID === 'all'}"
        v-if="orderState === 'waiting'"
        >
          <div class="w3-xlarge">
            <b>總覽</b>
            <div class="w3-medium">
              <FAI icon="sync-alt" class="w3-opacity-max" />
              {{$root.$children[0].time}}
            </div>
          </div>
        </div>
        <div class="w3-btn w3-display-container w3-center w3-round-large w3-padding w3-light-gray w3-border" style="width:220px;border-width:2px!important;margin-right:.5rem"
          :class="(deskTypeID === desk.GID) ? 'border-primary-color' : ''"
          v-for="(desk, index) in deskList" :key="index"
          @click="deskTypeID = desk.GID"
        >
          <div class="w3-display-topright w3-large w3-badge primary-color" style="min-width:27px;border-radius:14px;margin:.25rem">{{queueCount(desk)}}</div>
          <div class="w3-xlarge">
            <b>{{desk.DeskTypeName}}</b>
            <div class="w3-medium">{{desk.MinSeats}} ~ {{desk.MaxSeats}} 人</div>
          </div>
        </div>
      </div>

      <!-- Waiting list -->
      <ul class="w3-ul w3-container">
        <li class="w3-padding-16" v-for="(wait, index) in waitQueueList" :key="index" :style="{'background-color': (wait.LastState === 'M') ? 'oldlace' : 'white'}">
          <div class="w3-row">
            <div class="w3-col s4 m2">
              <b class="w3-xxlarge primary-text-color" :class="{'expired-color':$root.todoTitle === '過號歷史紀錄','entered-color':$root.todoTitle === '入席歷史紀錄'}">
                <FAI icon="exclamation-circle" :class="{'w3-text-transparent':!isOutTime(wait)}" />
                {{deskType(wait)}}{{wait.Number}}
              </b>
            </div>
            <div class="w3-col s8 m5 w3-large">
              <span>{{wait.Name}}</span>
              <b class="w3-margin-left">{{showMobile(wait)}}</b>
              <b class="w3-margin-left">{{wait.ManCount}} 人</b>
              <small v-if="wait.KidCount > 0"> + {{wait.KidCount}} 張兒童椅 </small>
              <div class="w3-medium" style="margin:.25rem 0 .5rem;color: dimgray;">
                <span v-if="wait.AllowSeparateNumber || wait.AllowUniteNumber || (wait.WaitTags && wait.WaitTags !== 'null') || (wait.WaitTags && wait.WaitTags !== 'null') " class="w3-badge w3-dark-gray" style="padding:0 .25rem;">註</span>
                <span v-if="wait.AllowSeparateNumber" style="margin-left:.25rem" class="w3-tag w3-light-gray w3-border w3-round w3-pale-blue">同意拆桌</span>
                <span v-if="wait.AllowUniteNumber" style="margin-left:.25rem" class="w3-tag w3-light-gray w3-border w3-round w3-pale-yellow">同意併桌</span>
                <span v-if="wait.WaitTags && wait.WaitTags !== 'null'" style="margin-left:.25rem"> {{wait.WaitTags}} </span>
                <div v-if="wait.Memo !== 'null'" style="margin-left:.25rem"> {{wait.Memo}} </div>
              </div>
              <div v-if="deskTypeID === 'all'">
                <hr style="margin: 10px 0;width: 200px;">
                {{deskTypeName(wait)}}, {{showWaitedTime(wait)}}
              </div>
            </div>
            <div class="w3-col s12 m5 w3-right-align">
              <!-- 候位 (1, 6)-->
              <div class="w3-section" v-if="orderState === 'waiting'">
                <button @click="queueCalling(wait)" class="w3-btn w3-round w3-black w3-display-container" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="bell" size="lg" fixed-width />
                  叫號
                  <div v-if="wait.CallNb" class="w3-display-middle w3-large w3-badge primary-color" style="min-width: 27px;border-radius: 14px;margin-top: -1.5rem;">{{wait.CallNb}}</div>
                </button>
                <button v-if="ShowBtnSMS" @click="queueSendSMS(wait)" class="w3-btn w3-round w3-black w3-display-container" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="comment-dots" size="lg" fixed-width />
                  發簡訊
                  <div v-if="wait.SendNb" class="w3-display-middle w3-large w3-badge primary-color" style="min-width: 27px;border-radius: 14px;margin-top: -1.5rem;">{{wait.SendNb}}</div>
                </button>
                <button @click="queuePassing(wait)" class="w3-btn w3-round w3-black" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="user-slash" size="lg" fixed-width />
                  過號
                </button>
                <button @click="showCheckinNote = true ; currentWait = wait" class="w3-btn w3-round w3-black" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="utensils" size="lg" fixed-width />
                  入席
                </button>
              </div>
              <!-- 過號 (7) -->
              <div class="w3-section" v-if="orderState === 'expired'">
                <button @click="showCheckinNote = true ; currentWait = wait" class="w3-btn w3-round w3-black" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="utensils" size="lg" fixed-width />
                  再入席
                </button>
                <button @click="showCallTimeList(wait)" class="w3-btn w3-round w3-black" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="clipboard-list" size="lg" fixed-width />
                  叫號記錄
                </button>
                <button @click="showSendTimeList(wait)" class="w3-btn w3-round w3-black" style="padding:8px;margin:2px;overflow:visible">
                  <FAI icon="clipboard-list" size="lg" fixed-width />
                  簡訊紀錄
                </button>
              </div>
              <!-- 已入席 (5, 9)-->
              <div class="w3-section" v-if="orderState === 'entered'">
                <span>入席時間：<br>{{ wait.CheckInTime }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- footer-->
    <footer class="w3-container w3-padding-8 w3-block w3-bottom w3-white w3-border-gray w3-card primary-color" v-if="$route.path !== '/cardCoupon'">
      <div class="w3-row">
        <div class="w3-col s12 m4">
          <div class="w3-margin-8">
            餐期 <b>{{mealCount}}</b>
            <span style="margin:.5rem">/</span>
            總數 <b>{{waitListBasic.length}}</b> 組
          </div>
        </div>
        <div class="w3-col s8 m4 w3-center">
          <button @click="setOrderState('waiting', '候位管理系統')" class="w3-btn w3-wide status-tab" :class="(orderState === 'waiting') ? 'w3-white' : ''" style="margin-right:.25rem"> 候位 </button>
          <button @click="setOrderState('expired', '過號歷史紀錄')" class="w3-btn w3-wide status-tab" :class="(orderState === 'expired') ? 'w3-white' : ''" style="margin-right:.25rem"> 過號 </button>
          <button @click="setOrderState('entered', '入席歷史紀錄')" class="w3-btn w3-wide status-tab" :class="(orderState === 'entered') ? 'w3-white' : ''" style="margin-right:.25rem"> 入席 </button>
        </div>
        <div class="w3-col s4 m4 w3-right-align">
          <button class="w3-btn w3-white w3-wide w3-round" v-if="orderState === 'waiting'" @click="newWaiting=true">
            <FAI icon="plus-circle" size="lg" class="primary-text-color" />
            新增
          </button>
        </div>
      </div>
    </footer>

    <!-- 新增候位 -->
    <transition name="slide-top">
      <div class="w3-white func-layer" v-if="newWaiting" v-cloak>
        <header class="header w3-cell-row w3-large w3-border-bottom w3-border-light-gray primary-color">
          <div class="w3-cell w3-cell-middle w3-opacity-max" style="width:20%"></div>
          <div class="w3-cell w3-cell-middle w3-center text-more" style="width:60%">新增候位</div>
          <div class="w3-cell w3-cell-middle w3-right-align" style="width:20%;padding-right:.5rem" @click="newWaiting=false;alerted = false">
            <FAI icon="times" />
         </div>
        </header>

        <div class="w3-container w3-content w3-padding-24 w3-large" style="max-width:600px">
          <div class="w3-row">
            <div class="w3-col m6" style="padding:4px">
              <input type="number" v-model="queueForm.ManCount" class="w3-input w3-large w3-border w3-round" pattern="[0-9]*" maxlength="3" placeholder="輸入候位人數">
            </div>
            <div class="w3-col m6" style="padding:4px">
              <input type="number" v-model="queueForm.Account" class="w3-input w3-large w3-border w3-round" pattern="[0-9]*" maxlength="3" placeholder="輸入手機號碼">
            </div>
            <div class="w3-col m6" style="padding:4px">
              <input type="text" v-model="queueForm.Name" class="w3-input w3-large w3-border w3-round" placeholder="輸入姓氏">
            </div>
            <div class="w3-col m6" style="padding:8px 0 0 8px">
              <input type="radio" v-model="queueForm.gender" name="gender" id="male" value="先生" class="w3-radio">
              <label for="male">先生</label>
              <input type="radio" v-model="queueForm.gender" name="gender" id="female" value="小姐" class="w3-radio w3-margin-left">
              <label for="female">小姐</label>
            </div>
            <div class="w3-col m12" style="padding:4px">
              <span class="ck-box">
                <input id="a1" type="checkbox" v-model="queueForm.AllowSeparateNumber" name="" class="ck-button w3-hide">
                <label for="a1">同意拆桌</label>
              </span>
              <span class="ck-box">
                <input id="a2" type="checkbox" v-model="queueForm.AllowUniteNumber" name="" class="ck-button w3-hide">
                <label for="a2">同意共桌</label>
              </span>
            </div>
            <div class="w3-col m12 w3-margin-top" style="padding:4px">
              兒童椅：<br>
              <span class="ck-box">
                <input class="ck-button w3-hide" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount0" value="0">
                <label for="KidCount0" style="min-width:22.5%">不需要</label>
              </span>
              <span class="ck-box">
                <input class="ck-button w3-hide" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount1" value="1">
                <label for="KidCount1" style="min-width:22.5%">一張</label>
              </span>
              <span class="ck-box">
                <input class="ck-button w3-hide" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount2" value="2">
                <label for="KidCount2" style="min-width:22.5%">二張</label>
              </span>
              <span class="ck-box">
                <input class="ck-button w3-hide" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount3" value="3">
                <label for="KidCount3" style="min-width:22.5%">三張</label>
              </span>
              <span class="ck-box">
                <input class="ck-button w3-hide" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount4" value="4">
                <label for="KidCount4" style="min-width:22.5%">四張</label>
              </span>
              <span class="ck-box">
                <input class="ck-button w3-hide" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount5" value="5">
                <label for="KidCount5" style="min-width:22.5%">五張</label>
              </span>
            </div>
            <!-- 無備註則隱藏 -->
            <div class="w3-col m12 w3-margin-top" style="padding:4px">備註</div>
            <div class="w3-col m12">
              <span v-for="data in tags" :key="data.GID" class="ck-box">
                <input type="checkbox" v-model="queueForm.WaitTags" :value="data.Tag" :id="data.GID" :name="data.GID" class="ck-button w3-hide">
                <label :for="data.GID">{{data.Tag}}</label>
              </span>
            </div>
          </div>
          <button class=" w3-btn w3-block w3-round-large w3-xlarge primary-color" style="margin-top:32px" @click="createWaitingQueue" :disabled="formValid">取號</button>
        </div>

      </div>
    </transition>

    <!-- 入席備註彈窗 -->
    <div class="w3-modal app-modal" v-if="showCheckinNote" v-cloak>
      <div class="w3-modal-content w3-card-4 w3-round" style="max-width: 400px;">
        <div class="w3-container">
          <!-- 文字提示 -->
          <p class="w3-container w3-padding-16 w3-center w3-xlarge w3-margin-top">請輸入備註</p>
          <input class="w3-input w3-border w3-round w3-section" type="text"  v-model="checkinNote" placeholder="備註">
          <div class="w3-section w3-center w3-cell-row">
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large w3-gray w3-text-white" @click="showCheckinNote = false">取消</button>
            </div>
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large w3-dark-gray" @click="queueCheckin()">不用備註</button>
            </div>
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large primary-color" style="margin:4px" @click="queueCheckin(checkinNote)">確定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
/* eslint-disable */
import { deviseFunction } from '../libs/deviseHelper.js'
import { currentTime, moment, getToday } from '../libs/timeHelper.js'
import { showAlert, showConfirm, setLoading } from '../libs/appHelper.js'

import store from '../store'
import router from '../router'

import { library } from '@fortawesome/fontawesome-svg-core'
import {
  faBell, faUserSlash, faUtensils, faClipboardList, faCommentDots,
  faSyncAlt, faCircle, faExclamationCircle, faPlusCircle, faTimes
} from '@fortawesome/free-solid-svg-icons'

library.add(
  faBell, faUserSlash, faUtensils, faClipboardList, faCommentDots,
  faSyncAlt, faCircle, faExclamationCircle, faPlusCircle, faTimes
)
import { L_Obj } from '../fun1.js'	// 共用fun在此!

const LS_key1 = 'BtnSMS_counter'	// 發簡訊-次數
const LS_key2 = 'BtnSMS_curDay'		// 發簡訊-當天


export default {
  name: 'Dashboard',
  data() {
    return {
      state: this.$store.state,
      alerted: false,
      // isRunAuto: false,
      deskTypeID: 'all',
      orderState: 'waiting',
      newWaiting: false,
      showCheckinNote: false,
      ShowBtnSMS: false,
      shouldSendSMS: false,
      currentWait: undefined,
      checkinNote: '',
      queueForm: {
        Name: "",
        Account: "",
        ManCount: "",
        WaitTags: [],
        KidCount: '0',
        gender: "先生",
        AllowSeparateNumber: false, // 同意拆桌
        AllowUniteNumber: false,    // 同意併桌
      },
      counter: 0	// 發簡訊-次數
    }
  },
  computed: {
    isLogin() { return this.$store.getters.isLogin },
    waitListBasic() {
			const them = this.state.waitQueueList
				,hasData = !!them.length

			if (hasData) {
				// const obj1 = them[0]
					// ,lastDay = obj1.CreateDate.substr(0,10)
				// console.log('waitListBasic-obj1: '+lastDay, obj1);	// @@
				// const curDay = getToday()
				// const curDay = '2020-11-03'
				// console.log('waitListBasic-curDay: '+curDay);	// @@

				// if (lastDay != curDay) {
					// this.autoChangeMealTime();
				// } else {
					// 篩選出目前餐期
					let baseQueue = them.filter(queue => queue.Name !== 'meatime' && queue.MealCount === this.mealCount)
					// 依據叫號號碼做排序
					baseQueue = baseQueue.sort((a, b) => a.Number - b.Number )
					// 依據 orderState (候位/過號/入席) 來篩選
					if (this.orderState === 'waiting') return baseQueue.filter(wait => wait.OrderStateID === 1 || wait.OrderStateID === 6)
					if (this.orderState === 'expired') return baseQueue.filter(wait => wait.OrderStateID === 7)
					if (this.orderState === 'entered') return baseQueue.filter(wait => wait.OrderStateID === 5 || wait.OrderStateID === 9)
				// }
			}

			return [];
    },
    // 候位資料 (依據桌位篩選)
    waitQueueList() {
      if (this.deskTypeID === 'all') return this.waitListBasic.slice().sort((a, b) => moment(a.CreateDate).unix() - moment(b.CreateDate).unix() )
      return this.waitListBasic.filter(wait => wait.DeskTypeID === this.deskTypeID)
    },
    // 餐期
    mealCount() { return this.state.baseData.MealCount },
    // 桌位清單
    deskList() { return this.state.deskTypeList.sort((a, b) => b.SortValue - a.SortValue) },
    // 桌位與號次表
    currentDeskNotifyNumber() { return this.$store.getters.currentDeskNotifyNumber },
    // 表單資料驗證
    formValid() {
      const {ManCount, Account, Name} = this.queueForm
      // 手機號碼格式驗證
      const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
      const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX

      return this.$store.state.isLoading || !(parseInt(ManCount) >= 1  && Name !== '' && (twMobilePhoneRegxp.test(Account) || cnMobilePhoneRegxp.test(Account)) )
    },
    // 候位備註標籤
    tags() { return this.state.waitTagList },
    mobile() { return this.queueForm.Account },
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  },

  async created() {
		const curDay 	= getToday()
			,counter 		= L_Obj.read(LS_key1) || {}
			,day1 			= L_Obj.read(LS_key2) || {}
		// console.log('beforeRouteEnter-day1: ', day1);	// @@
		this.counter = day1 == curDay ? counter : 0;
		// console.log('created-counter: ', this.counter);	// @@

    this.$store.commit('setHeadTitle', `${this.state.baseData.ShopName}`)
    this.$store.commit('setHeadName', '候位管理')
    if (!store.getters.isLogin) return

    let EnterpriseID = this.state.baseData.EnterpriseID
    let shopID = this.state.baseData.ShopID

    setTimeout(()=>{
      if(this.$cable && this.$cable.isConnected()) {
        //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+EnterpriseID+""+shopID);
      } else {
        this.$cable.ReConnect("Waiting"+EnterpriseID+""+shopID);
      }
    }, 500)

    await this.$store.dispatch('fetchWaitingDesk')
    this.$store.dispatch('fetchWaitingTag')
    this.$store.dispatch('fetchWaitingQueue')
    // 每 3 分鐘刷新一次候位資料
    setTimeout(() => { this.$store.dispatch('fetchWaitingDesk') }, 180000)
  },
  async beforeRouteEnter(to, from, next) {
		// console.log('beforeRouteEnter-to.path: ', to.path);	// @@
    store.commit('setEntryPath', to.path)
    if (!store.getters.isLogin) return router.push('/login')

		await store.dispatch('fetchWaitConfig')
		// next()
		next(vm => {
			const waitConfig = vm.state.waitConfig
			// console.log('beforeRouteEnter-waitConfig: ', waitConfig); // @@(微管雲設定
			vm.ShowBtnSMS = waitConfig.ShowBtnSMS == 1
			vm.shouldSendSMS = waitConfig.ResponseWaitSMS == 1
		});
  },

  beforeRouteLeave(to, from, next) {
		// this.isRunAuto = false;

    // 消滅此 instance
    this.$destroy()
    next()
  },
  watch: {
    mobile(value) {
      if (value === '') return
      const firstNumber = value[0].toString()
      if (firstNumber !== '0' && firstNumber !== '1') {
        alert('手機號碼第一個字必須是 0 或 1 !!')
        this.queueForm.Account = ''
      }
    },
		counter: function (v1) {
			L_Obj.save(LS_key1, v1);
			L_Obj.save(LS_key2, getToday());
		}
  },
  methods: {
    /* 自動更換餐期 */
    // async autoChangeMealTime() {
			// if (this.isRunAuto) { return; }

      // setLoading(true)
      // // 建立新餐期
      // await this.$store.dispatch('createWaitingQueue', {act: "addwaitingposition", Name: "meatime", MealCount: 1})
      // // 重新刷新所有資料
      // await this.$store.dispatch('fetchWaitingDesk')
      // this.$store.dispatch('fetchWaitingTag')
      // this.$store.dispatch('fetchWaitingQueue')

      // setLoading(false)
      // showAlert('偵測日期變更,已自動更換餐期1')
			// this.isRunAuto = true;
    // },
    queueCount(desk) {
      return this.waitListBasic.filter(wait => wait.DeskTypeID === desk.GID).length
    },
    filterDeskData(DeskTypeID, _type) {
			if (!DeskTypeID) return ''
      const deskData = this.state.deskTypeList.find(desk => desk.GID === DeskTypeID)
      return deskData ? (_type == 'code' ? deskData.DeskTypeCode : deskData.DeskTypeName) : ''
    },
    deskType(wait) {
			return this.filterDeskData(wait.DeskTypeID, 'code');
    },
    deskTypeName(wait) {
			return this.filterDeskData(wait.DeskTypeID, 'name');
    },
    // 顯示-叫號紀錄
    showCallTimeList(wait){
      let arr1 ; try { arr1 = JSON.parse(wait.CallTimeList).map(item => item.time) } catch(e) {}
      arr1 = arr1 || []
      showAlert(arr1.join("<br>"))
    },
    // 顯示-簡訊紀錄
    showSendTimeList(wait){
      let arr1 ; try { arr1 = JSON.parse(wait.SendTimeList).map(item => item.time) } catch(e) {}
      arr1 = arr1 || []
      showAlert(arr1.join("<br>"))
    },
    // 顯示手機號碼 (為了個資，中間要隱藏)
    showMobile(wait) {
		/** @PS: 2021.09.24 改顯示全部 */
      // const m = wait.Account
      // const l = []
      // for(let i = 0; i < 15; i++) {
        // if (i === 2 || i === 3 || i === 4) { l.push('*') ; continue }
        // if (m[i]) l.push(m[i])
      // }
      // return l.join('')
      return wait.Account
    },
    // 建立候位資料
    async createWaitingQueue() {
      const { Name, Account, ManCount, WaitTags, gender, AllowSeparateNumber, AllowUniteNumber, KidCount } = this.queueForm
      // 資料驗證
      if (!Account) 	return showAlert('請輸入手機號碼')
      if (!ManCount) 	return showAlert('請輸入候位人數')
      if (!Name) 			return showAlert('請輸入姓氏')

      // 先重新刷新取最新的候位資料
      await this.$store.dispatch('fetchWaitingQueue')

      // 依據候位人數，取對應的桌位資料
      const manCount = parseInt(ManCount)
      const deskData = this.deskList.find(desk => (parseInt(desk.MinSeats) <= manCount) && (parseInt(desk.MaxSeats) >= manCount))

			// console.log('桌位資料-deskData: ', deskData);	// @@
      if (!deskData)	return showAlert('人數太多,限定20人以內')

      // 取得目前桌位 & 號次
      const deskQueue = this.waitListBasic.filter(queue => queue.DeskTypeID === deskData.GID)
      const currentNumberTmp = this.currentDeskNotifyNumber.find(data => data.code === deskData.DeskTypeCode)
      if (!currentNumberTmp) return;      
      const currentNumber = currentNumberTmp.lastNumber

      const data = {
        act: "addwaitingposition",
        Account,
        AllowSeparateNumber,
        AllowUniteNumber,
        Name: Name + gender,
        Number: parseInt(currentNumber) + 1,
        ManCount: manCount,
        KidCount: KidCount,
        DeskID: deskData.DeskTypeCode,
        DeskTypeID: deskData.GID,
        WaitTags: WaitTags.join(','),
      }

      const result = await this.$store.dispatch('createWaitingQueue', data)
      if (result.error) showAlert(result.msg)
      this.newWaiting = false
      this.alerted = false
       //更新候位資料
      await this.$store.dispatch('fetchWaitingQueue')
      this.resetQueueForm()
    },
    // 更新候位資料： 叫號
    async queueCalling(wait) {
console.log('候位叫號-wait: ', wait);	// @@
      const {GID, CallNb, CallTimeList, EnterpriseID, Number} = wait
      const curTime = currentTime()
      // 叫號次數
      const num1 = CallNb ? parseInt(CallNb)+1 : 1
      // 叫號紀錄
      let callList = []
      let callData ; try { callData = JSON.parse(CallTimeList) } catch(e) {}
      if (callData) callList = callData
      callList.push({index: num1, time: curTime})
			// console.log('叫號紀錄-callList: ', callList);	// @@

      const body = {
        GID: GID,
        LastState: "M",
        OrderStateID: 6,
        AlertTime: curTime,
        CallNb: num1,
        CallTimeList: JSON.stringify(callList),
      }

      showConfirm("確定叫號？").then(res => {	// 點擊確認執行
				this.$store.dispatch('updateWaitingQueue', body)
				this.$store.dispatch('cablePublish', {act: 'bell', number: `${this.deskType(wait)} ${Number}` } )
				this.closeModal()

				// 判斷是否取號時寄簡訊
				const {EnterpriseName, ShopName} = this.$store.state.baseData
				const string = `${wait.Account};${EnterpriseName} ${ShopName} 您的候位號碼: ${this.deskType(wait)}${Number} 已叫號 ${num1} 次，請盡速報到`
				this.shouldSendSMS && deviseFunction('AppSMSMsg', string)
			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(rej => { this.closeModal() })
    },
    // 發簡訊
    async queueSendSMS(wait) {
			// console.log('發簡訊-wait: ', wait); // @@
      const {GID, SendNb, SendTimeList, EnterpriseID, Number} = wait
      const curTime = currentTime()
				,num1 			= SendNb ? parseInt(SendNb)+1 : 1	// 發簡訊次數
      // 發簡訊紀錄
      let callList = [], callData
      try { callData = JSON.parse(SendTimeList) } catch(e) {}
      if (callData) callList = callData
      callList.push({index: num1, time: curTime})
console.log('發簡訊紀錄-callList: ', callList);	// @@

      const body = {
        GID: GID,
        LastState: "M",
        SendNb: num1,
        SendTimeList: JSON.stringify(callList),
      }

      showConfirm("確定發簡訊？").then(res => {
				this.$store.dispatch('updateWaitingQueue', body)

				const {EnterpriseName, ShopName} = this.$store.state.baseData
					,string = `${wait.Account};${EnterpriseName} ${ShopName} 您的座位已備妥(感謝耐心等候,請盡速前往報到)!`
				// console.warn('string: ', string);	// @@
				deviseFunction('AppSMSMsg', string)
				this.closeModal();
			})
			.catch(this.closeModal)

		},

    // 過號
    async queuePassing(wait) {
      const body = {
        GID: wait.GID,
        LastState: "M",
        OrderStateID: 7,
        PassTime: currentTime(),
      }

      showConfirm("確定這組客人不在現場，放入過號名單？")
        // 點擊確認執行
        .then(res => { this.$store.dispatch('updateWaitingQueue', body); this.closeModal() })
        // 點擊取消執行 => 關閉 confirmn 視窗
				.catch(this.closeModal)
    },
    // 入席
    async queueCheckin(checkinNote) {
      this.showCheckinNote = false
      checkinNote = checkinNote || ''
      const body = {
        GID: this.currentWait.GID,
        LastState: "M",
        OrderStateID: 5,
        CheckInTime: currentTime(),
        Memo: checkinNote
      }

      this.$store.dispatch('updateWaitingQueue', body)
      this.checkinNote = ''
    },
    // 清空表單
    resetQueueForm() {
      this.queueForm = {
        Name: "",
        Account: "",
        ManCount: "",
        WaitTags: [],
        gender: "先生",
        AllowSeparateNumber: false,
        AllowUniteNumber: false,
      }
    },
    // 判斷是否已建立超過 15 分鐘
    isOutTime(wait) {
      const currentTime = moment(new Date()).toDate()
      const createTimePlus = moment(new Date(wait.CreateDate.replace(/-/g, "/"))).add(15, 'm').toDate()
      return currentTime > createTimePlus
    },
    // 顯示已等待時間
    showWaitedTime(wait) {
      const currentTime = moment(new Date())
      const createTime = moment(new Date(wait.CreateDate.replace(/-/g, "/")))
      return `已等待 ${currentTime.diff(createTime, 'hours')} 小時 ${currentTime.diff(createTime, 'minutes') % 60} 分`
    },
    setOrderState(state, title) {
      if (this.deskTypeID === 'all') this.deskTypeID = this.deskList[0].GID
      this.orderState = state
      this.$store.commit('setTodoTitle', title)
    },
    closeModal() {
			this.$store.commit('setCustomModal', { type: '', text: '' });
    },
  },
}
</script>
