<!-- eslint-disable -->
<template>
  <div class="flex-center full-height">
    <div class="w3-container w3-xlarge" style="width:100%;max-width:480px">
      <button class="w3-section w3-btn w3-block w3-round-large primary-color" @click="$router.push('/dashboard')">管　理</button>
      <button class="w3-section w3-btn w3-block w3-round-large primary-color" @click="$router.push('/number_taker')">取　號</button>
      <button class="w3-section w3-btn w3-block w3-round-large primary-color" @click="$router.push('/kanban')">看　板</button>
    </div>
  </div>
</template>

<script>
import store from '../store'
import router from '../router'
import { onBeforeMount } from '@vue/composition-api'

export default {
  name: 'Index',
  setup() {
    // 如果尚未登入 => 導向登入頁
    onBeforeMount(() => {
      const isLogin = store.getters.isLogin
      if (!isLogin) return router.push('/login')
    })

    return {}
  }
}
</script>
