<!-- eslint-disable -->
<template>
  <div class="w3-container w3-light-gray" style="height: calc(100% + var(--header-height);">
    <!-- 版本號 -->
    <div class="w3-right-align w3-small w3-bottom w3-opacity-max" style="margin-left:-20px">v.{{getVersion}}</div>
    <div class="w3-container w3-xlarge w3-black w3-stretch w3-padding-8" @click="confirmLogout">
      <span>候位叫號看板 - {{`${this.$store.state.baseData.ShopName}`}}</span>
      <div class="w3-right" style="width:265px">
        <span id="dtDate"></span>
        <i class="far fa-clock fa-sm ml-2"></i>
        <span id="dtTime"></span>
      </div>
    </div>
    <div class="screenLeft">
      <div class="w3-border w3-round-xlarge w3-section" style="overflow:hidden" v-for="(desk, index) in deskList" :key="index">
        <div class="w3-cell-row w3-text-gray w3-xlarge">
          <div class="w3-cell w3-center w3-padding primary-color w3-cell-middle" style="width:20%">
            <div class="w3-xxlarge w3-center w3-padding-small" style="line-height:1.25">{{ desk.MinSeats }}~{{ desk.MaxSeats }}<br>人組</div>
          </div>
          <div class="w3-cell w3-white w3-center landscape-height" :class="{'showNotify': showNotify(desk.DeskTypeCode)}" style="width:80%;padding:20px 0"><!-- 在此加入閃爍樣式 showNotify 20秒後移除 -->
            <div class="w3-cell-row">
              <div class="w3-cell w3-center w3-border-right" style="padding:1rem 1.5rem;width:50%">
                <div class="w3-left-align">準備入座</div>
                <b class="primary-text-color w3-jumbo" style="line-height:1;margin-top:-.5rem"> {{showCurrentAlertNumber(desk.DeskTypeCode)}} </b>
              </div>
              <div class="w3-cell w3-center" style="padding:1rem 1.5rem">
                <div class="w3-left-align">待位組數</div>
                <b class="w3-text-dark-gray w3-jumbo" style="line-height:1">{{deskWaitCount(desk)}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 輪播 Banner -->
    <div class="w3-center screenRight">
      <Swiper ref="awesomeSwiperA" :options="swiperOptionA">
        <SwiperSlide v-for="(item, index) in banner" :key="index">
          <img class="w3-image" style="width: 100%;" :src="item">
        </SwiperSlide>
        <!-- Optional controls -->
        <div class="swiper-pagination" slot="pagination"></div>
      </Swiper>
    </div>
  </div>
</template>

<style>
.screenRight {
  width: 98%;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
@media screen and (orientation: landscape) {
  .screenLeft {
    width: 50%;
    display: inline-block;
  }
  .screenLeft .landscape-height {
    padding: 40px 0 !important;
  }
  .screenRight {
    width: calc(50% - 0rem);
    display: inline-block;
    padding-top: 1.75rem;
    padding-left: 16px;
    vertical-align: top;
  }
}
</style>

<script>
/* eslint-disable */
import moment from 'moment'
import store from '../store'
import router from '../router'
import { onBeforeMount, computed, ref } from '@vue/composition-api'
import { showConfirm } from '../libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'

import 'swiper/dist/css/swiper.css'

export default {
  name: 'NumberTaker',
  // BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  setup() {
   
    const currentMealCount = computed(() => store.state.baseData.MealCount )
    // BANNER輪播
    const swiperOptionA = {
      pagination: { el: '.swiper-pagination' },
      autoplay: true,
/* 	//等同于以下设置
	  autoplay: {
			delay: 3000,
			stopOnLastSlide: false,
			disableOnInteraction: true,
	  },
*/
      // loop: true,	// 外掛的bug:不能與autoplay一起做,否則不會輪播(無輪回)
    }

    // 桌位清單
    const deskList = computed(() => store.state.deskTypeList.slice().sort((a, b) => b.SortValue - a.SortValue) )
    // 等待候位清單
    function byProcessing(wait) { return wait.MealCount === currentMealCount.value && (wait.OrderStateID === 1 || wait.OrderStateID === 6) }
    const waitList = computed(() => store.state.waitQueueList.filter(wait => byProcessing(wait) ) )

    // 待位統計
    function deskWaitCount(desk) { return waitList.value.filter(wait => wait.DeskTypeID === desk.GID).length }
    // 目前叫號
    function showCurrentAlertNumber(deskID) {
      function byDeskID(wait) { return wait.AlertTime !== '' && wait.DeskID === deskID }
      function byAlertTime(a, b) { return moment(b.AlertTime).unix() - moment(a.AlertTime).unix() }
      const list = waitList.value
                     .filter(wait => byDeskID(wait) )
                     .sort((a, b) => byAlertTime(a, b) )

      if (list.length === 0) return '--'
      return `${deskID}${list[0].Number}`
    }

    const deskNotify = computed(() => store.state.deskNotify )
    // 判斷顯示通知的邏輯
    function showNotify(deskCode) {
      return deskCode === deskNotify.value
    }

    // 確認是否登出
    function confirmLogout() {
      showConfirm('是否登出？')
        // 點擊確認執行
        .then(() => {
          const EnterpriseID = store.state.baseData.EnterpriseID
          store.commit('setLogin', {userName: '', userCode: '', ShopID: '', EnterpriseID})
          store.commit('setHeadTitle', '候位管理系統')
          router.push('/login')
          store.commit('setCustomModal', { type: '', text: '' })
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    }

    // 每秒更新現在時間   
    setInterval(() => {
      let nowDt = moment(new Date())
      if (document.getElementById("dtDate"))
        document.getElementById("dtDate").innerText =nowDt.format('YYYY-MM-DD')
      if (document.getElementById("dtTime"))
        document.getElementById("dtTime").innerText =nowDt.format('HH:mm:ss')
    }, 1000)
    
    return {deskList, deskWaitCount, showCurrentAlertNumber, swiperOptionA, showNotify, confirmLogout}
  },
  async beforeRouteEnter(to, from, next) {
    console.log('kanban beforeRouteEnter ===> start')
    // alert('kanban beforeRouteEnter ===> start')

    // 如果尚未登入 => 導向登入頁
    const isLogin = store.getters.isLogin
    store.commit('setEntryPath', '/kanban')
    if (!isLogin) return router.push('/login')
    // 取桌位與候位資訊
    store.commit('setHeadTitle', '候位取號')
    store.dispatch('fetchKanbanBanner') // 取得Banner圖片
    await store.dispatch('fetchWaitingDesk')
    store.dispatch('fetchWaitingTag')
    store.dispatch('fetchWaitingQueue')
    next()
  },
  created() {
    let EnterpriseID = this.state.baseData.EnterpriseID
    let shopID = this.state.baseData.ShopID
    console.log('kanban created ===> eid =>' + EnterpriseID
      + '/ shopID =>' + shopID)
    // alert('kanban created ===> eid =>' + EnterpriseID
      // + '/ shopID =>' + shopID)

    setTimeout(()=>{
      if(this.$cable && this.$cable.isConnected()) {
        //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+EnterpriseID+""+shopID);
      } else {
        this.$cable.ReConnect("Waiting"+EnterpriseID+""+shopID);  
      }
    }, 500)
  },
  computed: {
  	banner() {
  		return this.$store.state.kanbanBanner.map(function (one) {
  			const path = one.path,
  			url = one.url,
  			_src = /http/.test(path) ? path : url + path;
  			// console.log('banner_src: ', _src); // @@
  			return _src;
  		})
  	},
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  },
  data() {
    return {
      state: this.$store.state,
    }
  }
}
</script>
