<!-- eslint-disable -->
<template>
  <div class="flex-center full-height">
    <!-- 選擇企業號 -->
    <div class="w3-container w3-large" style="width:100%;max-width:480px" v-if="isStep==='login' && form.EnterpriseID === ''">
      <div class="w3-padding-8 w3-light-gray w3-center">
        選擇企業號
      </div>
      <div class="w3-padding-16">
        <input class="w3-input w3-border w3-margin-bottom w3-round w3-section" type="text" v-model="EnterpriseID" @keyup="toLower" @keyup.13="setEnterpriseID" placeholder="企業號" name="EnterpriseID">
      </div>
      <button class="w3-btn w3-block w3-round-large primary-color" @click="setEnterpriseID">確定</button>
    </div>
    <!-- 會員登入 -->
    <div class="w3-container w3-large" style="width:100%;max-width:480px" v-if="isStep==='login' && form.EnterpriseID !== ''">
      <div class="w3-padding-8 w3-light-gray w3-center">
        會員登入
      </div>
      <div class="w3-padding-16">
        <input class="w3-input w3-border w3-margin-bottom w3-round w3-section" type="text" v-model="form.user" placeholder="帳號" name="name" @keyup.13="userLogin">
        <input class="w3-input w3-border w3-round w3-section" type="password"  v-model="form.pwd" placeholder="密碼" name="password" @keyup.13="userLogin">
      </div>
      <button class="w3-btn w3-block w3-round-large primary-color" @click="userLogin">確定</button>
    </div>
    <!-- 選擇門店 -->
    <div class="w3-container w3-padding-24 w3-xlarge full-height" style="width:100%;max-width:880px" v-if="isStep==='store'">
      <div class="w3-padding-8 w3-round-large w3-light-gray w3-center">
        選擇門店
      </div>
      <div class="w3-row w3-section scroll-touch" style="height: calc(100% - 6rem);">
        <div class="w3-third" style="padding:.25rem" v-for="(shop,index) in shops" :key="index">
          <div class="w3-btn w3-block w3-round-large w3-border w3-border-deep-orange text-more" @click="select(shop)">{{shop.name}}</div>
        </div>
      </div>
    </div>
    <div class="w3-padding-16 w3-bottom w3-center w3-text-gray">JINHER INFO.COM.,LTD. Version:{{this.getVersion}} </div>
  </div>
</template>

<script>
import axios from 'axios';
import md5 from 'md5';
// import { deviseFunction } from '../libs/deviseHelper.js'

import { L_Obj } from '../s_obj.js'
import { GetEnterpriseKey } from '../f_waiting.js'
import Vue from 'vue'
import VueCookies from 'vue-cookies'
Vue.use(VueCookies)
axios.defaults.timeout = 15000;
const LS_key1 = 'loginForm'
	,LS1 				= L_Obj.read(LS_key1) || {}
// console.log('LS1loginForm-LS1: ', LS1);	// @@

export default {
  name: 'Index',
  computed: {
    isLogin() { return this.$store.getters.isLogin },
    entryPath() { return this.$store.state.baseData.entryPath },
    getVersion() {return this.$store.getters.getStateVersion}
  },
  data() {
    return {
      isStep: 'login',
      reqHead: { "headers": { "Content-Type": "application/x-www-form-urlencoded" } },
      EnterpriseID: this.$store.state.baseData.EnterpriseID,
      EnterpriseName: '',
      userName: '',
      userCode: '',
      shops: [],
      form: {
        EnterpriseID: this.$store.state.baseData.EnterpriseID,
        user: LS1.user || '',
        pwd: LS1.pwd || '',
      },
    };
  },  
  methods: {
    // 自動轉小寫及去空白
    toLower() {
			this.EnterpriseID = this.EnterpriseID.toLowerCase().trim()
    },

    // 設定企業號
    async setEnterpriseID() {

      if (this.EnterpriseID === '') return alert('請輸入企業號')
      this.$cookies.set('EnterpriseID', this.EnterpriseID)
      this.$store.commit('setLogin', {EnterpriseID: this.EnterpriseID})
			this.form = LS1;
      this.form.EnterpriseID = this.EnterpriseID

      //依照不同企業號,導向不同客製界面
      let currentEnterpriseKey=GetEnterpriseKey(this.EnterpriseID)
      L_Obj.save('themeVar',currentEnterpriseKey)
      L_Obj.save('EnterpriseID',this.EnterpriseID)
      
      setTimeout(() => {
         window.location.reload()
      }, 100); 
     
     
     
     
       
    },
    // 使用者登入
    async userLogin() {
      // 設定基本參數
      const {EnterpriseID, user, pwd} = this.form
			L_Obj.save(LS_key1, this.form);
      

      const password = md5(pwd)
      const loginUrl = 'https://8012.jh8.tw/public/AppNCWOneEntry.ashx'
      const loginBody = {
        act: "login",
        EnterpriseID: EnterpriseID,
        userphone: user,
        userPwd: password,
      }
      
      // 1. 確認登入是否成功
      //const {data: loginData} = await axios.post(loginUrl, loginBody, this.reqHead)
      const datatmp 	= await axios.post(loginUrl, loginBody, this.reqHead).catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      
      if (!datatmp) return; //萬一datatmp.data沒有值時.
      const  {data: loginData} = datatmp;
      
      
      if (loginData.ErrorCode !== '0') {
        this.isStep = 'login'
        this.$cookies.remove('EnterpriseID')
        this.EnterpriseID = ''
        this.form = { EnterpriseID: '', user: '', pwd: '',}
        alert(loginData.ErrorMsg)
        window.location.href = `${window.location.origin}${window.location.pathname}#/login`; //導回預設登錄頁面
        return
      }
      if (!loginData.Remark || typeof(loginData.Remark) !== 'string') return alert('錯誤'); //萬一Remark沒有值時.
      const login = JSON.parse(loginData.Remark)
      this.$store.commit('setBaseHoHttp', loginData.HoHttp)
      this.EnterpriseID = EnterpriseID
      this.EnterpriseName = login.EnterpriseName
      this.userName = login.UserName
      this.userCode = login.UserCode

     
      // 2. 取門店資料，並導向選取門店
      const shopUrl = 'https://8012.jh8.tw/Public/AppDataOneEntry.ashx'
      const shopBody = {
        act: "WaitingGetShopList",
        FunctionID: "420101",
        EnterPriseID: EnterpriseID,
        Account: user,
      }
      //const {data: shopData} = await axios.post(shopUrl, shopBody, this.reqHead)
      const dataShop 	= await axios.post(shopUrl, shopBody, this.reqHead).catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!dataShop) return; //萬一datatmp.data沒有值時.
      const  {data: shopData} = dataShop;
      
      
      if (shopData.ErrorCode !== '0' || JSON.parse(shopData.Remark).length === 0) {
        this.isStep = 'login'
        this.$cookies.remove('EnterpriseID')
        this.EnterpriseID = ''
        this.form = { EnterpriseID: '', user: '', pwd: '',}

        // 補清使用者資料
        this.userName = ''
        this.userCode = ''
        if (JSON.parse(shopData.Remark).length === 0) return alert('此帳號沒有門店權限，請聯繫管理人員')
        return alert(shopData.ErrorMsg)
      }

      this.shops = JSON.parse(shopData.Remark)
      this.isStep='store'
    },
    // 選擇門店
    async select(shop) {
      // 取得門店的地址與電話
      const shopUrl = 'https://8012.jh8.tw/Public/AppDataOneEntry.ashx'
      const shopBody = {
        act: "WaitingGetShopData",
        FunctionID: "420101",
        EnterPriseID: this.EnterpriseID,
        // 避免this.form.user不見,所以改用this.userCode
        Account: this.userCode, // this.form.user,
        param: { "ShopID": btoa(`'${shop.id}'`) }
      }
      //const {data} = await axios.post(shopUrl, shopBody, this.reqHead)
      const dataShop 	= await axios.post(shopUrl, shopBody, this.reqHead).catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!dataShop) return; //萬一datatmp.data沒有值時.
      const  {data} = dataShop;
      
      if (data.ErrorCode !== '0') {
        this.isStep = 'login'
        this.$cookies.remove('EnterpriseID')
        this.EnterpriseID = ''
        this.form = { EnterpriseID: '', user: '', pwd: '',}
        return alert(data.ErrorMsg)
      }
      if (!data.Remark || typeof(data.Remark) !== 'string') return alert('錯誤'); //萬一Remark沒有值時.
      const shopTmp = JSON.parse(data.Remark)
      if (!Array.isArray(shopTmp) || (Array.isArray(shopTmp) && !shopTmp.length) ) return alert('錯誤');
      const shopData = shopTmp[0] || {}
      let {Tel: ShopTel, Addr: ShopAddr} = shopData

      // 存入登入資料
      this.$store.commit('setLogin', {EnterpriseID: this.EnterpriseID, EnterpriseName: this.EnterpriseName, userName: this.userName, userCode: this.userCode, ShopID: shop.id, ShopName: shop.name, ShopTel, ShopAddr})
      // 清空表單資料
      this.form = { EnterpriseID: '', user: '', pwd: '',}
      if(this.$cable && this.$cable.isConnected())
      {
      //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+this.EnterpriseID+""+shop.id);
      }
      else
        this.$cable.ReConnect("Waiting"+this.EnterpriseID+""+shop.id);

      this.$store.commit('setHeadTitle', shop.name)
      let entryPathInLs=L_Obj.read("entryPath")   
      this.$router.push(entryPathInLs || this.entryPath)
    },
  },
  beforeRouteLeave(to, from, next) {
    this.isStep = 'login'
    next()
  },
}
</script>
