<!-- eslint-disable -->
<template>
<div class="w3-row-padding full-height">
  <!-- 版本號 -->
  <div class="w3-right-align w3-small w3-bottom w3-opacity-max" style="margin-left:-12px">v.{{getVersion}}</div>
  <!-- 候位資訊區 -->
  <div class="w3-col s12 m6 scroll-touch" style="height:100%">
    <p class="w3-xlarge d-flex align-items-center" style="margin: .5rem 0;line-height:1; height: 50px">
      <!-- <img height="50" src="../../src/assets/images/client_logo.jpg" alt=""> -->
      <img v-if="logoUrl" height="50" width="250px" :src="logoUrl" alt="">
      <span class="ml-1" style="font-size:22px">
        <span>{{currentTime.format('YYYY-MM-DD')}}</span>
        <span class="ml-1">{{currentTime.format('HH:mm:ss')}}</span>
      </span>
    </p>
    <p class="w3-center w3-xlarge w3-round-large w3-section-8 w3-padding-8" style="background:whitesmoke">目前取號狀態</p>


    <div class="w3-border w3-round-xlarge w3-section" style="overflow:hidden" v-for="(desk, index) in deskList" :key="index">
      <div class="w3-cell-row w3-text-gray w3-large">
        <div class="w3-cell w3-center w3-padding primary-color w3-cell-middle" style="width:25%">
          <div class="w3-xlarge w3-center w3-padding-small">{{ desk.MinSeats }} ~ {{ desk.MaxSeats }}<br>人組</div>
        </div>
        <div class="w3-cell w3-white w3-center" style="width:75%;padding:16px 0">
          <div class="w3-cell-row">
            <div class="w3-cell w3-center w3-border-right" style="padding:1rem 1.5rem;width:50%">
              <div class="w3-left-align">準備入座</div>
              <b class="primary-text-color w3-xxxlarge" style="line-height:1;margin-top:-.5rem"> {{showCurrentAlertNumber(desk.DeskTypeCode)}} </b>
            </div>
            <div class="w3-cell w3-center" style="padding:1rem 1.5rem">
              <div class="w3-left-align">待位組數</div>
              <b class="w3-text-dark-gray w3-xxxlarge" style="line-height:1">{{deskWaitCount(desk)}}</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="w3-xlarge font-weight-bold" style="line-height:1.25" v-if="RequestWaitMSG !== ''">{{RequestWaitMSG}}</p>
  </div>
  <!-- 數字鍵盤區 -->
  <div class="w3-col s12 m6">
    <div>
      <form id="queue_add" name="queue_add" class="queue_add">
        <div class="w3-section">
          <div class="w3-display-container">
            <span class="w3-display-topmiddle w3-tag w3-white w3-round-xlarge pl-0" style="margin-top: -10px;z-index: 2;left: 25%">
              <div style="width:24px" class="w3-tag w3-round-xxlarge" :class="inputFocus === 'people' ? '':'w3-gray w3-text-white'">1</div> 含佔位兒童數
            </span>
            <span class="w3-display-topmiddle w3-tag w3-white w3-round-xxlarge" style="margin-top: -10px;z-index: 2; left: 77.5%">
              兒童椅
            </span>
            <span class="w3-display-topmiddle w3-tag w3-white w3-round-xxlarge pl-0" style="margin-top: 100px;z-index: 2">
              <div class="w3-tag w3-round-xxlarge" :class="inputFocus === 'phone' ? '':'w3-gray w3-text-white'">2</div> 手機號碼
            </span>
          </div>
          <input
            type="number" class="w3-input w3-center w3-border w3-xxxlarge w3-round-large" id="add_people" style="border-width:3px !important;width: 50%;display: inline-block"
            name="add_people" maxlength="3" placeholder="候位人數"
            :style= "{'border-color':(inputFocus === 'people') ? '#ff5859 !important' : 'inherit', 'background-color':(inputFocus === 'people') ? 'cornsilk' : ''}"
            v-model="form.people" @click="inputFocus = 'people'"
            readonly
          >
          <div class="w3-display-container" style="width: calc(50% - 1rem);vertical-align: bottom;display: inline-block">
            <FAI icon="caret-down" class="w3-display-right" size="lg" fixed-width />
            <select v-model="form.KidCount" class="w3-select w3-white w3-border w3-xxxlarge w3-round-large" name="option"
              style="border-width:3px !important;height: 92px;padding: 0 1rem;margin-left: 1rem;-webkit-appearance:none;"
              :class="{'input-focus':(inputFocus === 'people')}"
              :style= "{'border-color':(inputFocus === 'people') ? '#ff5859 !important' : 'inherit', 'background-color':(inputFocus === 'people') ? 'cornsilk !important' : ''}"
              @click="inputFocus = 'people'"
            >
              <option value="-1" selected>不需要</option>
              <option value="1">1 張</option>
              <option value="2">2 張</option>
              <option value="3">3 張</option>
              <option value="4">4 張</option>
              <option value="5">5 張</option>
            </select>
          </div>
        </div>
        <input
          type="number" class="w3-input w3-center w3-border w3-xxxlarge w3-round-large w3-section" id="guest_phone" style="border-width:3px !important"
          name="guest_phone" maxlength="16" placeholder="輸入手機號碼"
          :style= "{'border-color':(inputFocus === 'phone') ? '#ff5859 !important' : 'inherit', 'background-color':(inputFocus === 'phone') ? 'cornsilk' : ''}"
          v-model="form.phone" @click="inputFocus = 'phone'"
          readonly autofocus
        >
      </form>
    </div>
    <div>
      <div class="numPad-wrapper">
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='1'}" @click="snedKey(1)">1</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='2'}" @click="snedKey(2)">2</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='3'}" @click="snedKey(3)">3</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='4'}" @click="snedKey(4)">4</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='5'}" @click="snedKey(5)">5</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='6'}" @click="snedKey(6)">6</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='7'}" @click="snedKey(7)">7</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='8'}" @click="snedKey(8)">8</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='9'}" @click="snedKey(9)">9</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='b'}" @click="snedKey('backspace')"><FAI icon="backspace" /></div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='0'}" @click="snedKey(0)">0</div>
        <div class="w3-xxxlarge number-key" :class="{'tapStatus':tapVar=='c'}" @click="snedKey('clear')"><FAI icon="times" /></div>
      </div>
      <button type="button" id="ticket_pick_up_btn" class="w3-section w3-btn w3-block w3-padding-16 w3-round-large w3-xxlarge primary-color" @click="clickCreate" :disabled="formValid">取號</button>
    </div>
  </div>
</div>

</template>

<script>
/* eslint-disable */
import { showConfirm, showAlert } from '../libs/appHelper.js'
import axios from 'axios'
import moment from 'moment'
import store from '../store'
import router from '../router'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faCaretDown, faTimes, faBackspace } from '@fortawesome/free-solid-svg-icons'
axios.defaults.timeout = 15000;
library.add(faCaretDown, faTimes, faBackspace)

export default {
  name: 'NumberTaker',
  computed: {
    currentTime() { return moment(this.datetime) },
    // 不能直接 .sort(), 要用.slice().sort(), => ref: https://stackoverflow.com/questions/49869081/unexpected-side-effect-in-computed-property
    deskList() { return this.state.deskTypeList.slice().sort((a, b) => b.SortValue - a.SortValue) },
    waitList() { return this.state.waitQueueList.filter(wait => wait.MealCount === this.currentMealCount && (wait.OrderStateID === 1 || wait.OrderStateID === 6) ) },
    currentDeskNotifyNumber() { return this.$store.getters.currentDeskNotifyNumber },
    // 表單資料驗證
    formValid() { return this.$store.state.isLoading || !(this.form.people.length >= 1 && /^09[0-9]{8}$/.test(this.form.phone)) },
    // 當下餐期
    currentMealCount() { return this.state.baseData.MealCount },
    RequestWaitMSG() { return this.state.waitConfig.RequestWaitMSG || '' },
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  },
  data() {
    return {
      tapVar: '',
      state: this.$store.state,
      inputFocus: 'people',
      datetime: new Date(),
      logoUrl: undefined,
      // 候位資料
      form: { people: '', phone: '', KidCount: '-1' },
      lastClickTime: null,
      // timer: null
    }
  },
  async created() {
    const {EnterpriseID, ShopName} = this.$store.state.baseData
    this.$store.commit('setHeadTitle', `${ShopName}`)
    this.$store.commit('setHeadName', '候位取號')
    if (!this.$store.getters.isLogin) return

    let shopID = this.state.baseData.ShopID
    setTimeout(()=>{
      if(this.$cable && this.$cable.isConnected()) {
        //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+EnterpriseID+""+shopID);
      } else {
        this.$cable.ReConnect("Waiting"+EnterpriseID+""+shopID);  
      }
    }, 500)

    await this.$store.dispatch('fetchWaitingDesk')
    this.fetchLogoUrl(EnterpriseID)
    this.$store.dispatch('fetchWaitConfig')
    this.$store.dispatch('fetchWaitingTag')
    this.$store.dispatch('fetchWaitingQueue')
    // 每秒刷新一次當下時間
    setInterval(() => { this.datetime = new Date() }, 1000)
  },
  beforeRouteEnter(to, from, next) {
    store.commit('setEntryPath', to.path)    
    if (!store.getters.isLogin) return router.push('/login')
    next()
  },
  beforeRouteLeave(to, from, next) {
    // 消滅此 instance
    this.$destroy()
    next()
  },
  methods: {
    deskWaitCount(desk) {
      return this.waitList.filter(wait => wait.DeskTypeID === desk.GID).length
    },
    snedKey(key) {

      this.tapVar = key

      // 鍵盤移除點按樣式
      setTimeout(() => {
        this.tapVar = ''
      }, 100)

      const { people, phone } = this.form
      let model = this.form[this.inputFocus]
      // 退後鍵
      if (key === 'backspace') return this.form[this.inputFocus] = model.slice(0, model.length-1), this.tapVar = 'b'
      // 清除鍵
      if (key === 'clear')     return this.form[this.inputFocus] = '', this.tapVar = 'c'
      // 若不是數字，則中斷
      if (typeof(key) !== 'number') return

      // 資料驗證 (電話)
      if (this.inputFocus === 'phone') {
        if (phone.length >= 10) return
      }

      // 資料驗證 (人數)
      if (this.inputFocus === 'people') {
        if (people.length === 0 && key === 0 ) return
        if (people.length >= 2) return
      }

      // 執行按鍵的資料變化
      this.form[this.inputFocus] = model + key

    },
    // // 顯示最新叫號資訊
    showCurrentAlertNumber(deskID) {
      const list = this.waitList
                     .filter(wait => wait.AlertTime !== '' && wait.DeskID === deskID)
                     .sort((a, b) => { return new Date(b.AlertTime).getTime() - new Date(a.AlertTime).getTime() })

      if (list.length === 0) return '--'
      return `${deskID}${list[0].Number}`
    },
    // 清空確認視窗
    clearConfirm() {
      return this.$store.commit('setCustomModal', { type: '', text: '' })
    },
    async clickCreate() {

      let nowTime = new Date().getTime()

      // 只有按第一下的時候要真的[取號] (或間隔超過3秒)
      if(!this.lastClickTime || (nowTime-this.lastClickTime)>3000) {
        console.log('clickCreate ===> this.clicks is 1 ')
        this.createWaitingQueue()

      // 快速按第2下的時候就忽略
      } else {
        console.log('clickCreate ===> this.clicks is 2 ')
        // clearTimeout(this.timer)
        // this.clicks = 0
      }

      this.lastClickTime = nowTime
    },
    // 取號，建立候位資料
    async createWaitingQueue() {
      // 1. 重新刷新取最新的候位資料
      await this.$store.dispatch('fetchWaitingQueue')
      // 2. 依據候位人數，取對應的桌位資料與號次
      const { people, phone, KidCount } = this.form
      const kidCount = (KidCount === '-1') ? 0 : KidCount
      const ManCount = parseInt(people)
      const deskData = this.deskList.find(desk => (parseInt(desk.MinSeats) <= ManCount) && (parseInt(desk.MaxSeats) >= ManCount))
      const currentNumberTmp = this.currentDeskNotifyNumber.find(data => data.code === deskData.DeskTypeCode)
      if (!currentNumberTmp) return;
      const currentNumber = currentNumberTmp.lastNumber       
      let AllowSeparateNumber = false // 同意拆桌
      let AllowUniteNumber = false    // 同意併桌

      // 3. 判斷 & 詢問是否同意拆桌
      const splitCount = parseInt(deskData.MiniNumber)
      const shouldAskSplitDesk = ( splitCount > 0 && deskData.SplitNumber === '1' && ManCount >= splitCount)
      if (shouldAskSplitDesk) await showConfirm("是否同意拆桌？", "同意", "不同意")
        // 點擊同意執行
        .then(res => { AllowSeparateNumber = true; this.clearConfirm() })
        // 點擊不同意執行 => 關閉 confirmn 視窗
        .catch(rej => { this.clearConfirm() })

      // 4. 判斷 & 詢問是否同意併桌
      const unitCount = parseInt(deskData.UniteMiniNumber)
      const shouldAskUnitDesk = ( unitCount > 0 && deskData.UniteNumber === '1' && ManCount <= unitCount)
      if (shouldAskUnitDesk) await showConfirm("是否同意併桌？", "同意", "不同意")
        // 點擊同意執行
        .then(res => { AllowUniteNumber = true; this.clearConfirm() })
        // 點擊不同意執行 => 關閉 confirmn 視窗
        .catch(rej => { this.clearConfirm() })

      // 5. 組合成要建立的候位資料
      const data = {
        act: "addwaitingposition",
        Name: "門店候位",
        Number: parseInt(currentNumber) + 1,
        Account: phone,
        ManCount: ManCount,
        KidCount: kidCount,
        DeskID: deskData.DeskTypeCode,
        DeskTypeID: deskData.GID,
        AllowSeparateNumber,
        AllowUniteNumber,
      }

      // 6. 執行資料建立
      const result = await this.$store.dispatch('createWaitingQueue', data)
      this.form = { people: '', phone: '', KidCount: -1 }
      this.inputFocus = 'people'

      //7. 重新更新一次候位資料
      await this.$store.dispatch('fetchWaitingQueue');

      if (result.error) return showAlert(result.msg)
      if (this.RequestWaitMSG !== '') showAlert(this.RequestWaitMSG)
    },
    // 取 Logo 網址
    async fetchLogoUrl(EnterpriseID) {
      this.logoUrl = undefined
      const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }

      // // 取 baseUrl
      // const { data: baseData } = await axios.post('https://8012.jh8.tw/Public/AppVipOneEntry.ashx', {"act":"db_name","EnterPriseID": EnterpriseID}, head)
      // if (baseData.ErrorCode !== '0') return
      // const base = baseData.Remark

      // 取檔案位置
      const dataTmp = await axios.post('https://8012.jh8.tw/Public/AppNCWOneEntry.ashx', {"act":"getapplogo","EnterPriseID": EnterpriseID}, head)
      .catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!dataTmp) return; //萬一datatmp.data沒有值時.
      const { data: fileData } = dataTmp;
      if (fileData.ErrorCode !== '0') return
      const src = JSON.parse(fileData.Remark)[0]
      if (!src.Dir || src.Dir === '' || !src.FileName || src.FileName === '') return

      // 存入 logoUrl
      // this.logoUrl = `https://${base}.jinher.com.tw${src.Dir}${src.FileName}`
			// 取號的logoUrl改為jh8
      // this.logoUrl = `https://${base}.jh8.tw${src.Dir}${src.FileName}`      
      this.logoUrl = `${store.state.baseInfo.baseHoHttp}/${src.Dir}${src.FileName}`      
    }

  }
}
</script>

<style>
  .tapStatus {
    color: white;
    background: var(--primary-color) !important;
  }
  .input-focus {
    background-color: cornsilk;
    border-color: var(--primary-color) !important;
  }
</style>
