<template>
  <div style="padding-bottom:26px" v-if="waitData && waitingQueue">
    <!-- 商家店號、圖片 -->
    <div class="w3-padding-16 w3-light-gray w3-center">
      <img v-if="logoUrl" :src="logoUrl" style="max-height: 40px">
      <!-- 如無圖片則顯示名稱 -->
      <h3 v-if="!logoUrl" class="font-weight-bold">{{waitData.EnterpriseName}}</h3>
      <!-- 如有分店 -->
      <div class="w3-padding-8">
        <p>
          <span class="w3-tag w3-round-xlarge" style="padding:.25rem 1rem">{{waitData.ShopName}}</span>
          <br><br>
          {{waitData.tel}} <br> {{waitData.Addr}}
        </p>
      </div>
    </div>
    <span class="d-none">User {{ $route.params.id }}</span>
    <div class="text-center my-4 w3-large" style="line-height:1.5">
      <span class="w3-opacity">候位資訊 (餐期: {{waitData.MealCount}} )</span><br>
      <span v-if="waitData.Name !== '門店候位'">{{waitData.Name}} 您好，</span>
      您的序號：<b class="w3-xlarge primary-text-color">{{`${waitData.DeskID}${waitData.Number}`}}</b>
    </div>
    <!-- 等待組數 -->
    <div v-if="waitData.OrderStateID === 1" class="w3-container w3-large w3-center w3-padding-16 w3-round-large w3-border m-3">
      <span class="w3-opacity">候位順序</span>
      <div class="w3-padding-16">
        <h1 class="primary-text-color w3-light-gray w3-jumbo d-inline-block w3-padding w3-round-large" style="line-height:1">{{numberDiff}}</h1>
      </div>
      <!-- 預計等候時間 <b class="primary-text-color w3-xlarge">30</b> 分鐘 -->
      <!-- <div class="w3-padding-16">
        <div class="w3-btn w3-block w3-large w3-border w3-round-large w3-border-dark-gray mt-1">取消候位</div>
      </div>
      <div class="w3-center w3-opacity">如須放棄，請按取消候位。</div> -->
    </div>
    <!-- 已備座 -->
    <div v-if="waitData.OrderStateID === 6" class="w3-container w3-large w3-center w3-padding-48 w3-round-large w3-border m-3">
      <div class="pb-4">
        <b class="w3-light-gray w3-xlarge d-inline-block w3-padding w3-round-large">您的座位已備妥</b>
      </div>
      感謝耐心等候，請盡速前往報到<!-- ，<br>
      位置將保留至 <b class="primary-text-color w3-xlarge">6：30</b> 下午 -->
    </div>
    <!-- 已過號 -->
    <div v-if="waitData.OrderStateID === 7" class="w3-container w3-large w3-center w3-padding-48 w3-round-large w3-border m-3">
      <div class="pb-4">
        <b class="w3-light-gray w3-xlarge d-inline-block w3-padding w3-round-large">已過號</b>
      </div>
      很抱歉，請重新取號，<br>期望能再次為您服務。
    </div>
    <!-- 已入席 -->
    <div v-if="waitData.OrderStateID === 5" class="w3-container w3-large w3-center w3-padding-48 w3-round-large w3-border m-3">
      <div class="pb-4">
        <b class="w3-light-gray w3-xlarge d-inline-block w3-padding w3-round-large">候位已入座</b>
      </div>
      感謝您的光臨，<br>希望下次還有機會為您服務。
    </div>
    <!-- 備註 -->
    <ol class="w3-text-gray pr-3">
      <div style="margin-left:-1rem">備註：</div>
      <li>候位順序請依「現場叫號」為主，叫號時未到接待台視同過號。</li>
      <li>過號「<b>30分鐘內</b>」，依現場狀況，安排第三順位入場。</li>
      <li>提醒您「<b>登記用餐人數</b>」需全員到齊，方可為您帶位。</li>
      <li>店內用餐時間依當店公告為主，並禁帶外食。</li>
      <li>號碼單是 <b>{{waitData.CreateDate.substr(0,10)}}</b> 的第 <b>{{waitData.MealCount}}</b> 餐期，不得與其他餐期號碼一同候位。</li>
    </ol>
    <!--
    <div class="w3-container w3-section w3-center">
      <a target="_blank" href="https://www.facebook.com/bb.qCHICKENTaiwan" style="color: #3b5998"><i class="fab fa-facebook fa-lg"></i> 前往bb.q CHICKEN台灣粉絲團</a>
    </div>
    -->
    <!-- 季河技術支援宣告 -->
    <div class="jh-footer w3-small w3-text-gray py-1">
      <a href="https://www.jinher.com.tw/page1.html" target="_blank">季河資訊技術支援 <span class="w3-opacity-max">v.{{getVersion}}</span></a>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import store from '../store'
import { setLoading } from '../libs/appHelper.js'
import { onBeforeMount, computed, ref } from '@vue/composition-api'
axios.defaults.timeout = 15000;
const waitData = ref(undefined)
const waitingQueue = ref(undefined)
const logoUrl = ref(undefined)

const numberDiff = computed(() => {
  const queue = waitingQueue.value
  if (!queue || !waitData.value) return 1
  const number = waitData.value.Number
  const diff = queue.indexOf(queue.find(i => i.Number === number))
  return (diff !== -1) ? diff + 1 : 1
})

// 取 Logo 網址
async function fetchLogoUrl(EnterpriseID) {
  logoUrl.value = undefined
  const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }

  // // 取 baseUrl
  // const { data: baseData } = await axios.post('https://8012.jh8.tw/Public/AppVipOneEntry.ashx', {"act":"db_name","EnterPriseID": EnterpriseID}, head)
  // if (baseData.ErrorCode !== '0') return
  // const base = baseData.Remark

  // 取檔案位置
  const dataTmp = await axios.post('https://8012.jh8.tw/Public/AppNCWOneEntry.ashx', {"act":"getapplogo","EnterPriseID": EnterpriseID}, head)
    .catch(err => {
      if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
    })
  if (!dataTmp) return; //萬一datatmp.data沒有值時.
  const { data: fileData } = dataTmp;
  if (fileData.ErrorCode !== '0') return
  const srcTmp = JSON.parse(fileData.Remark)
  if (!Array.isArray(srcTmp) || (Array.isArray(srcTmp) && !srcTmp.length) ) return;
  const src = srcTmp[0] || {}
  if (!src.Dir || src.Dir === '' || !src.FileName || src.FileName === '') return

  // 存入 logoUrl
  // logoUrl.value = `https://${base}.jinher.com.tw${src.Dir}${src.FileName}`
  logoUrl.value = `${store.state.baseInfo.baseHoHttp}/${src.Dir}${src.FileName}`      
}

// 取候位資訊
async function fetchWaitData(pathData) {
  waitData.value = undefined
  waitingQueue.value = undefined
  setLoading(true)

  const EnterpriseID = pathData.params.id

  // 取 Logo 網址
  fetchLogoUrl(EnterpriseID)
  // 確認是否取到顧客的預約資訊
  const ID = pathData.query.i
  const wData = await store.dispatch('fetchWaitInfo', {EnterpriseID, ID})

  // 如果有錯 / 找不到直接中斷
  if (wData.error) return setLoading(false)

  // 取得目前的候位資訊
  const {ShopID} = wData
  await store.dispatch('fetchWaitingQueue', {EnterpriseID, ShopID})
  // 如果有錯 / 找不到直接中斷
  const waitList = store.state.waitQueueList
  if (waitList.length === 0) return setLoading(false)

  // 取得目前已叫號的最新號碼
  const wQueue = waitList
                  .filter(wait => wait.DeskID === wData.DeskID && (wait.OrderStateID === 1 || wait.OrderStateID === 6))
                  .sort((a, b) => { return a.Number - b.Number })

  // final: 設定畫面所需的變數
  setLoading(false)
  waitingQueue.value = wQueue
  waitData.value = wData
}

// 取候位資訊 => 每隔幾秒重撈一次
async function fetchWaitDataCycle(pathData) {
  
  const EnterpriseID = pathData.params.id

  // 確認是否取到顧客的預約資訊
  const ID = pathData.query.i
  const wData = await store.dispatch('fetchWaitInfo', {EnterpriseID, ID})
  // 如果有錯 / 找不到直接中斷
  if (wData.error) return setLoading(false)

  // 取得目前的候位資訊
  const {ShopID} = wData
  await store.dispatch('fetchWaitingQueue', {EnterpriseID, ShopID})
  // 如果有錯 / 找不到直接中斷
  const waitList = store.state.waitQueueList
  if (waitList.length === 0) return setLoading(false)

  // 取得目前已叫號的最新號碼
  const wQueue = waitList
                  .filter(wait => wait.DeskID === wData.DeskID && (wait.OrderStateID === 1 || wait.OrderStateID === 6))
                  .sort((a, b) => { return a.Number - b.Number })

  // final: 設定畫面所需的變數
  waitingQueue.value = wQueue
  waitData.value = wData
  
  // 狀態若為 -> 5: 已入席, 7: 已過號 ==> 不再重撈資料
  const OrderStateID = waitData.value.OrderStateID
  if ((OrderStateID === 5) || (OrderStateID === 7)) {
    clearInterval(this.cycleId)
  }
}

export default {
  name: 'Reservations',
  setup(props, context) {

    onBeforeMount(() => fetchWaitData(context.root.$route) )

    return {waitData, waitingQueue, numberDiff, fetchWaitData, fetchWaitDataCycle, logoUrl}
  },
  data() {
    return {
      cycleId: null 
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.fetchWaitData(to)
    next()
  },
  created() {
    // 每5秒重刷一次 (5000)
    this.cycleId = setInterval(() => { 
      this.fetchWaitDataCycle(this.$route)
    }, 5000)
  },
  computed: {
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  }
}
</script>
<style>
  .jh-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffffde;
    text-align: center;
  }
</style>
