<!-- eslint-disable -->
<template>

  <div class="h-100 login-bg" style="padding-top: 40px">
    <!-- 版本號 -->
    <small class="position-fixed end-0 text-black-50 me-1" style="bottom: 56px">v.{{getVersion}}</small>
    <div class="scroll-touch" style="padding-bottom: 54px">
      <!-- Nav tabs -->
      <div class="scroll-touch py-3 text-nowrap" style="background-color: rgba(0, 0, 0, .15)">
        <div class="container-fluid">
          <div class="d-inline-block text-center rounded-xl py-2 px-3 me-3 shadow"
            @click="deskTypeID = 'all'"
            :class="deskTypeID === 'all'?'bg-waiting':'bg-light'"
            v-if="orderState === 'waiting'"
          >
            <div class="fs-4">
              <b>總覽</b>
              <div class="fs-6">
                <FAI icon="sync-alt" class="opacity-25 me-1" />
                {{$root.$children[0].time}}
              </div>
            </div>
          </div>
          <div class="d-inline-block text-center rounded-xl py-2 px-3 me-3 position-relative shadow"
            :class="(deskTypeID === desk.GID) ? 'bg-waiting' : 'bg-light'" style="min-width: 200px"
            v-for="(desk, index) in deskList" :key="index"
            @click="deskTypeID = desk.GID"
          >
            <span class="position-absolute top-0 start-100 translate-middle badge fs-6 rounded-pill bg-secondary">{{queueCount(desk)}} <span class="visually-hidden">unread messages</span></span>
            <div class="fs-4">
              <b>{{desk.DeskTypeName}}</b>
              <div class="fs-6">{{desk.MinSeats}} ~ {{desk.MaxSeats}} 人</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Waiting list -->
      <ul class="list-group overflow-auto text-nowrap" style="calc(100% - 110px)">
        <li class="list-group-item py-3" v-for="(wait, index) in waitQueueList" :key="index" :style="{'background-color': (wait.LastState === 'M') ? 'oldlace' : 'white'}">
          <div class="row">
            <div class="col-2 d-flex align-items-center">
              <b class="fs-1 text-waiting">
                <!-- <FAI icon="exclamation-circle" :class="{'w3-text-transparent':!isOutTime(wait)}" /> -->
                {{deskType(wait)}}{{wait.Number}}
              </b>
            </div>
            <div class="col-5" :data-phone="wait.Account">
              <span>{{wait.Name}}</span>
              <b class="ms-3">{{showMobile(wait)}}</b>
              <b class="ms-3">{{wait.ManCount}} 人</b>
              <small v-if="wait.KidCount > 0"> + {{wait.KidCount}} 兒童椅<span v-if="wait.KidTablewareCount > 0">(+{{wait.KidTablewareCount}} 兒童餐具)</span></small>
              <div>
                <span v-if="wait.AllowSeparateNumber || wait.AllowUniteNumber || (!!wait.WaitTags) " class="badge bg-dark rounded-pill me-1 fs-6">註</span>
                <span v-if="wait.AllowSeparateNumber" class="badge border rounded-pill me-1 fs-6" style="background-color:teal">同意拆桌</span>
                <span v-if="wait.AllowUniteNumber" class="badge border rounded-pill w3-pale-yellow me-1 fs-6" style="background-color:steelblue">同意併桌</span>
                <span v-if="wait.WaitTags && wait.WaitTags !== 'null'" class="me-1" v-html="showTags(wait.WaitTags)"></span>
                <div v-if="wait.Memo !== 'null'" class="me-1"> {{wait.Memo}} </div>
              </div>
              <div v-if="deskTypeID === 'all'">
                <hr class="w-75 my-2">
                {{deskTypeName(wait)}}, {{showWaitedTime(wait)}}
              </div>
            </div>
            <div class="col-5 d-flex align-items-center justify-content-end">
              <!-- 候位 (1, 6)-->
              <div class="btn-group" v-if="orderState === 'waiting'">
                <button @click="queueCalling(wait)" class="btn btn-dark">
                  <FAI icon="bell" fixed-width />
                  叫號
                  <div v-if="wait.CallNb" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-gold">{{wait.CallNb}}</div>
                </button>
                <button v-if="ShowBtnSMS" @click="queueSendSMS(wait)" class="btn btn-dark">
                  <FAI icon="comment-dots" fixed-width />
                  發簡訊
                  <div v-if="wait.SendNb" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-gold">{{wait.SendNb}}</div>
                </button>
                <button @click="queuePassing(wait)" class="btn btn-dark">
                  <FAI icon="user-slash" fixed-width />
                  過號
                </button>
                <button @click="showCheckinNote = true ; currentWait = wait ; checkinNote = wait.Memo ; buttonFlag = 'A'" class="btn btn-dark">
                  <FAI icon="utensils" fixed-width />
                  入席
                </button>
                <button @click="showCheckinNote = true ; currentWait = wait ; checkinNote = wait.Memo ; buttonFlag = 'B'" class="btn btn-dark">
                  <FAI icon="pen" fixed-width />
                  備註
                </button>
              </div>
              <!-- 過號 (7) -->
              <div class="btn-group" v-if="orderState === 'expired'">
                <button @click="showCheckinNote = true ; currentWait = wait ; checkinNote = wait.Memo ; buttonFlag = 'A'" class="btn btn-dark">
                  <FAI icon="utensils" fixed-width />
                  再入席
                </button>
                <button @click="showCallTimeList(wait)" class="btn btn-dark">
                  <FAI icon="clipboard-list" fixed-width />
                  叫號記錄
                </button>
                <button @click="showSendTimeList(wait)" class="btn btn-dark">
                  <FAI icon="clipboard-list" fixed-width />
                  簡訊紀錄
                </button>
              </div>
              <!-- 已入席 (5, 9)-->
              <div v-if="orderState === 'entered'">
                <button class="btn btn-link text-dark text-decoration-none btn-lg disabled fs-6">入席時間：{{ wait.CheckInTime }}</button>
                <button @click="showCheckinNote = true ; currentWait = wait ; checkinNote = wait.Memo ; buttonFlag = 'B'" class="btn btn-dark">
                  <FAI icon="pen" fixed-width />
                  備註
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- 底功能列 -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="row g-0 w-100 text-white">
          <div class="col d-flex align-items-center">
            <div>
              餐期 <b class="mx-1 text-gold fs-4">{{mealCount}}</b>
              <span class="mx-2">/</span>
              總數 <b class="mx-1 text-gold fs-4">{{waitListBasic.length}}</b> 組
            </div>
          </div>
          <div class="col text-center">
            <div class="btn-group position-relative">
              <input type="radio" class="btn-check" name="btnradio" id="btnWaiting" ref="btnWaiting" autocomplete="off" checked @click="setOrderState('waiting', '候位管理系統')">
              <label class="btn btn-outline-secondary px-4 text-nowrap" for="btnWaiting">候 位</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnExpired" ref="btnExpired" autocomplete="off" @click="setOrderState('expired', '過號歷史紀錄')">
              <label class="btn btn-outline-secondary px-4 text-nowrap" for="btnExpired">過 號</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnEntered" ref="btnEntered" autocomplete="off" @click="setOrderState('entered', '入席歷史紀錄')">
              <label class="btn btn-outline-secondary px-4 text-nowrap" for="btnEntered">入 席</label>

              <!-- 過濾設定 -->
              <button type="button" class="btn btn-outline-secondary bg-dark px-4" @click="filterSetting = true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
              </button>
              <div class="position-absolute translate-middle-x" style="width: 320px; bottom: calc(100% + 20px); left: calc(100% - 32px)" v-if="filterSetting">
                <div class="px-3 pb-3 text-white bg-dark position-relative rounded-xl shadow">
                  <div class="text-end py-2"><button type="button" class="btn-close btn-close-white" aria-label="Close" @click="filterSetting = false"  v-show="filterSetting"></button></div>
                  <form class="row g-3">
                    <div class="col-12 position-relative">
                      <input type="text" maxlength="10" pattern="[0-9]*" class="form-control fs-5" id="filterCond.Phone" ref="filterCondPhone" v-model="filterCond.Phone" placeholder="手機號碼搜尋..">
                      <svg id='srClose' v-if="filterCond.Phone != ''" @click="filterCond.Phone = '';$refs.filterCondPhone.focus()" class="position-absolute top-50 end-0 translate-middle-y me-3 opacity-25" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
                      </svg>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-between">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterCond.TagFirst" >
                        <label class="form-check-label" for="filterCond.TagFirst">
                          優先需求置頂
                        </label>
                      </div>
                      <button type="button" class="btn btn-secondary" @click="filterButton()">送出</button>
                    </div>
                  </form>
                  <svg width="1.25rem" height="1.25rem" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill" fill="var(--bs-dark)" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-center justify-content-end">
            <button type="button" class="btn bg-waiting w-50" v-if="orderState === 'waiting'" @click="newWaiting = true">
              新 增
              <svg xmlns="http://www.w3.org/2000/svg" class="ms-2 align-text-bottom" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <!-- 新增候位 -->
    <transition name="slide-top">
      <template v-if="newWaiting">
        <div class="modal d-block">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">新增候位</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" @click="newWaiting=false;alerted = false"></button>
              </div>
              <div class="modal-body">
                <div class="container" style="max-width: 600px">
                  <div class="row g-2">
                    <div class="col-6">
                      <input type="text" v-model="queueForm.ManCount" class="form-control form-control-lg" pattern="[0-9]*" maxlength="2" placeholder="輸入候位人數">
                    </div>
                    <div class="col-6">
                      <input type="text" v-model="queueForm.Account" class="form-control form-control-lg" pattern="[0-9]*" maxlength="10" placeholder="輸入手機號碼">
                    </div>
                    <div class="col-6">
                      <input type="text" v-model="queueForm.Name" class="form-control form-control-lg" placeholder="輸入姓氏">
                    </div>
                    <div class="col-6 py-2 px-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input col-form-label-lg ck-gold" type="radio" v-model="queueForm.gender" name="gender" id="male" value="先生">
                        <label class="form-check-label col-form-label-lg p-0" for="male">先生</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input col-form-label-lg ck-gold" type="radio" v-model="queueForm.gender" name="gender" id="female" value="小姐">
                        <label class="form-check-label col-form-label-lg p-0" for="female">小姐</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row g-2 row-cols-3 my-1">
                        <div class="col">
                          <input id="a1" type="checkbox" v-model="queueForm.AllowSeparateNumber" name="" class="ck-btn d-none">
                          <label class="btn fs-5 w-100" for="a1">同意拆桌</label>
                        </div>
                        <div class="col">
                          <input id="a2" type="checkbox" v-model="queueForm.AllowUniteNumber" name="" class="ck-btn d-none">
                          <label class="btn fs-5 w-100" for="a2">同意共桌</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      兒童椅：
                      <div class="row g-2 row-cols-4 my-1">
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount0" value="0">
                          <label class="btn fs-5 w-100" for="KidCount0" :class="{'active':queueForm.KidCount == undefined}">不需要</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount1" value="1">
                          <label class="btn fs-5 w-100" for="KidCount1">一張</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount2" value="2">
                          <label class="btn fs-5 w-100" for="KidCount2">二張</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount3" value="3">
                          <label class="btn fs-5 w-100" for="KidCount3">三張</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount4" value="4">
                          <label class="btn fs-5 w-100" for="KidCount4">四張</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidCount" type="radio" name="KidCount" id="KidCount5" value="5">
                          <label class="btn fs-5 w-100" for="KidCount5">五張</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      兒童餐具：
                      <div class="row g-2 row-cols-4 my-1">
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidTablewareCount" type="radio" name="KidTablewareCount" id="KidTablewareCount0" value="0">
                          <label class="btn fs-5 w-100" for="KidTablewareCount0" :class="{'active':queueForm.KidTablewareCount == undefined}">不需要</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidTablewareCount" type="radio" name="KidTablewareCount" id="KidTablewareCount1" value="1">
                          <label class="btn fs-5 w-100" for="KidTablewareCount1">一套</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidTablewareCount" type="radio" name="KidTablewareCount" id="KidTablewareCount2" value="2">
                          <label class="btn fs-5 w-100" for="KidTablewareCount2">二套</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidTablewareCount" type="radio" name="KidTablewareCount" id="KidTablewareCount3" value="3">
                          <label class="btn fs-5 w-100" for="KidTablewareCount3">三套</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidTablewareCount" type="radio" name="KidTablewareCount" id="KidTablewareCount4" value="4">
                          <label class="btn fs-5 w-100" for="KidTablewareCount4">四套</label>
                        </div>
                        <div class="col">
                          <input class="ck-btn d-none" v-model="queueForm.KidTablewareCount" type="radio" name="KidTablewareCount" id="KidTablewareCount5" value="5">
                          <label class="btn fs-5 w-100" for="KidTablewareCount5">五套</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      備註：
                      <div class="row g-2 row-cols-3 my-1" v-if="Managetags.length">
                        <div v-for="data in Managetags" :key="data.GID" class="col">
                          <input :class="{'ck-btn':data.IsPriority==false,'ck-btn-sp':data.IsPriority==true,'d-none':true}" type="checkbox" v-model="queueForm.WaitTags" :value="data.Tag" :id="data.GID" :name="data.GID">
                          <label class="btn fs-5 w-100" :for="data.GID">{{data.Tag}}</label>
                        </div>
                      </div>
                      <div class=" my-2">
                        <label for="exampleFormControlTextarea" class="form-label visually-hidden">其他備註</label>
                        <textarea class="form-control" id="exampleFormControlTextarea" rows="2" v-model="queueForm.Memo" placeholder="輸入文字"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-center border-top-0">
                <div class="container" style="max-width: 600px">
                  <button type="button" class="btn btn-dark fs-4 btn-lg w-100" @click="createWaitingQueue" :disabled="formValid">取號</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </transition>

    <!-- 入席備註彈窗 -->
    <template v-if="showCheckinNote">
      <div class="modal d-block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white shadow-lg">
            <div class="modal-body p-4">
              <p class="h4 text-center mb-4">備註</p>
              <div class="mb-3">
                <input class="form-control form-control-lg"  type="text"  v-model="checkinNote" placeholder="請輸入文字">
              </div>
            </div>
            <div class="modal-footer justify-content-start border-top-0">
              <div class="row w-100 g-2">
                <div class="col">
                  <button type="button" class="btn btn-lg bg-white w-100" @click="queueCheckin()">不用備註</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-secondary w-100" @click="showCheckinNote = false">取消</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100" @click="queueCheckin(checkinNote)">確定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>
  </div>

</template>

<script>
/* eslint-disable */
import { deviseFunction } from '../libs/deviseHelper.js'
import { currentTime, moment, getToday } from '../libs/timeHelper.js'
import { showAlert, showConfirm, setLoading } from '../libs/appHelper.js'

import store from '../store'
import router from '../router'

import { library } from '@fortawesome/fontawesome-svg-core'
import {
  faBell, faUserSlash, faUtensils, faClipboardList, faCommentDots, faPen,
  faSyncAlt, faCircle, faExclamationCircle, faPlusCircle, faTimes
} from '@fortawesome/free-solid-svg-icons'

library.add(
  faBell, faUserSlash, faUtensils, faClipboardList, faCommentDots, faPen,
  faSyncAlt, faCircle, faExclamationCircle, faPlusCircle, faTimes
)
import { L_Obj } from '../fun1.js'	// 共用fun在此!

const LS_key1 = 'BtnSMS_counter'	// 發簡訊-次數
const LS_key2 = 'BtnSMS_curDay'		// 發簡訊-當天

export default {
  name: 'Dashboard',
  data() {
    return {
      state: this.$store.state,
      alerted: false,
      // isRunAuto: false,
      deskTypeID: 'all',
      orderState: 'waiting',
      newWaiting: false,
      showCheckinNote: false,
      ShowBtnSMS: false,
      shouldSendSMS: false,
      currentWait: undefined,
      checkinNote: '',
      buttonFlag:'A',  //A:入席,B:備註
      queueForm: {
        Name: "",
        Account: "",
        ManCount: "",
        WaitTags: [],
        KidCount: '0',
        KidTablewareCount: '0',
        gender: "先生",
        Memo:'',
        AllowSeparateNumber: false, // 同意拆桌
        AllowUniteNumber: false,    // 同意併桌
      },
      counter: 0,	// 發簡訊-次數
      filterSetting: false,	// 開啟進階搜尋
      filterCond:{
        Phone:'',
        TagFirst:false
      }
    }
  },
  computed: {
    isLogin() { return this.$store.getters.isLogin },
    waitListBasic() {
			const them = this.state.waitQueueList
				,hasData = !!them.length

			if (hasData) {
				// const obj1 = them[0]
					// ,lastDay = obj1.CreateDate.substr(0,10)
				// console.log('waitListBasic-obj1: '+lastDay, obj1);	// @@
				// const curDay = getToday()
				// const curDay = '2020-11-03'
				// console.log('waitListBasic-curDay: '+curDay);	// @@

				// if (lastDay != curDay) {
					// this.autoChangeMealTime();
				// } else {
					// 篩選出目前餐期
					let baseQueue = them.filter(queue => queue.Name !== 'meatime' && queue.MealCount === this.mealCount)
					// 依據叫號號碼做排序
					baseQueue = baseQueue.sort((a, b) => a.Number - b.Number )
          // 
					// 依據 orderState (候位/過號/入席) 來篩選
					if (this.orderState === 'waiting') return baseQueue.filter(wait => wait.OrderStateID === 1 || wait.OrderStateID === 6)
					if (this.orderState === 'expired') return baseQueue.filter(wait => wait.OrderStateID === 7).reverse()
					if (this.orderState === 'entered') return baseQueue.filter(wait => wait.OrderStateID === 5 || wait.OrderStateID === 9).reverse()
				// }
			}

			return [];
    },
    // 候位資料 (依據桌位篩選)
    waitQueueList() {
      
      var f_TagFirst = this.filterCond.TagFirst

      var r={};
      if (this.deskTypeID === 'all') 
        r= this.waitListBasic.slice().sort((a, b) => moment(a.CreateDate).unix() - moment(b.CreateDate).unix() )
      else
        r= this.waitListBasic.filter(wait => wait.DeskTypeID === this.deskTypeID)
      //有勾選優先排序的標籤
      let spTags = this.Prioritytags.map(x=>x.Tag);
      
      if (f_TagFirst && spTags.length>0)
        r=r.slice().sort((a, b) => spTags.some(v => a.WaitTags.includes(v)) > spTags.some(v => b.WaitTags.includes(v)) ?-1:1); 
      
      return r;
    },
    // 餐期
    mealCount() { return this.state.baseData.MealCount },
    // 桌位清單
    deskList() { return this.state.deskTypeList.sort((a, b) => b.SortValue - a.SortValue) },
    // 桌位與號次表
    currentDeskNotifyNumber() { return this.$store.getters.currentDeskNotifyNumber },
    // 表單資料驗證
    formValid() {
      const {ManCount, Account, Name} = this.queueForm
      // 手機號碼格式驗證
      const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
      const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX

      return this.$store.state.isLoading || !(parseInt(ManCount) >= 1  && Name !== '' && (twMobilePhoneRegxp.test(Account) || cnMobilePhoneRegxp.test(Account)) )
    },
    // 候位備註標籤
    tags() { return this.state.waitTagList },
    // 新增時,只在管理頁面顯示的備註
    Managetags() { return this.state.waitTagList.filter(x=>x.IsDisplayManage) },
    // 候位備註標籤(有勾優先排序)
    Prioritytags() { return this.tags.filter(x=>x.IsPriority==true) },
    mobile() { return this.queueForm.Account },
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  },

  async created() {
		const curDay 	= getToday()
			,counter 		= L_Obj.read(LS_key1) || {}
			,day1 			= L_Obj.read(LS_key2) || {}
		// console.log('beforeRouteEnter-day1: ', day1);	// @@
		this.counter = day1 == curDay ? counter : 0;
		// console.log('created-counter: ', this.counter);	// @@

    this.$store.commit('setHeadTitle', `${this.state.baseData.ShopName}`)
    this.$store.commit('setHeadName', '候位管理')
    if (!store.getters.isLogin) return

    let EnterpriseID = this.state.baseData.EnterpriseID
    let shopID = this.state.baseData.ShopID

    setTimeout(()=>{
      if(this.$cable && this.$cable.isConnected()) {
        //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+EnterpriseID+""+shopID);
      } else {
        this.$cable.ReConnect("Waiting"+EnterpriseID+""+shopID);
      }
    }, 500)

    await this.$store.dispatch('fetchWaitingDesk')
    this.$store.dispatch('fetchWaitingTag')
    this.$store.dispatch('fetchWaitingQueue')
    // 每 3 分鐘刷新一次候位資料
    setTimeout(() => { this.$store.dispatch('fetchWaitingDesk') }, 180000)
  },
  async beforeRouteEnter(to, from, next) {
		// console.log('beforeRouteEnter-to.path: ', to.path);	// @@
    store.commit('setEntryPath', to.path)
    if (!store.getters.isLogin) return router.push('/login')

		await store.dispatch('fetchWaitConfig')
		// next()
		next(vm => {
			const waitConfig = vm.state.waitConfig
			// console.log('beforeRouteEnter-waitConfig: ', waitConfig); // @@(微管雲設定
			vm.ShowBtnSMS = waitConfig.ShowBtnSMS == 1
			vm.shouldSendSMS = waitConfig.ResponseWaitSMS == 1
		});
  },

  beforeRouteLeave(to, from, next) {
		// this.isRunAuto = false;

    // 消滅此 instance
    this.$destroy()
    next()
  },
  watch: {
    mobile(value) {
      if (value === '') return
      const firstNumber = value[0].toString()
      if (firstNumber !== '0' && firstNumber !== '1') {
        alert('手機號碼第一個字必須是 0 或 1 !!')
        this.queueForm.Account = ''
      }
    },
		counter: function (v1) {
			L_Obj.save(LS_key1, v1);
			L_Obj.save(LS_key2, getToday());
		},
    newWaiting:function(newVal,oldVal){
      if (newVal){ //重新進新增畫面時,要清空資料
        this.resetQueueForm()
      }
    }
  },
  methods: {
    /* 自動更換餐期 */
    // async autoChangeMealTime() {
			// if (this.isRunAuto) { return; }

      // setLoading(true)
      // // 建立新餐期
      // await this.$store.dispatch('createWaitingQueue', {act: "addwaitingposition", Name: "meatime", MealCount: 1})
      // // 重新刷新所有資料
      // await this.$store.dispatch('fetchWaitingDesk')
      // this.$store.dispatch('fetchWaitingTag')
      // this.$store.dispatch('fetchWaitingQueue')

      // setLoading(false)
      // showAlert('偵測日期變更,已自動更換餐期1')
			// this.isRunAuto = true;
    // },
    queueCount(desk) {
      return this.waitListBasic.filter(wait => wait.DeskTypeID === desk.GID).length
    },
    filterDeskData(DeskTypeID, _type) {
			if (!DeskTypeID) return ''
      const deskData = this.state.deskTypeList.find(desk => desk.GID === DeskTypeID)
      return deskData ? (_type == 'code' ? deskData.DeskTypeCode : deskData.DeskTypeName) : ''
    },
    deskType(wait) {
			return this.filterDeskData(wait.DeskTypeID, 'code');
    },
    deskTypeName(wait) {
			return this.filterDeskData(wait.DeskTypeID, 'name');
    },
    // 顯示-叫號紀錄
    showCallTimeList(wait){
      let arr1 ; try { arr1 = JSON.parse(wait.CallTimeList).map(item => item.time) } catch(e) {}
      arr1 = arr1 || []
      showAlert(arr1.join("<br>"))
    },
    // 顯示-簡訊紀錄
    showSendTimeList(wait){
      let arr1 ; try { arr1 = JSON.parse(wait.SendTimeList).map(item => item.time) } catch(e) {}
      arr1 = arr1 || []
      showAlert(arr1.join("<br>"))
    },
    // 顯示手機號碼 (為了個資，中間要隱藏)
    showMobile(wait) {
      const m = wait.Account
      const l = []
      for(let i = 0; i < 15; i++) {
        // 碳佐全碼顯示
        // if (i === 2 || i === 3 || i === 4) { l.push('*') ; continue }
        if (m[i]) l.push(m[i])
      }
      return l.join('')
    },
    //格式化標籤顏色
    showTags(inVal){
       let result=[]
       let inValArr=inVal.split(',')
       let spTags = this.Prioritytags.map(x=>x.Tag)
       inValArr.forEach(ele => 
       {
          if (spTags.includes(ele))
            result.push(`<span class="badge border rounded-pill w3-pale-yellow me-1 fs-6" style="background-color: cornsilk;color:#212529">${ele}</span>`);
          else
            result.push(ele);
       });
       
       return result.join(',')
    },
    // 建立候位資料
    async createWaitingQueue() {
      const { Name, Account, ManCount, WaitTags, gender, AllowSeparateNumber, AllowUniteNumber, KidCount, KidTablewareCount,Memo } = this.queueForm
      // 資料驗證
      if (!Account) 	return showAlert('請輸入手機號碼')
      if (!ManCount) 	return showAlert('請輸入候位人數')
      if (!Name) 			return showAlert('請輸入姓氏')

      // 先重新刷新取最新的候位資料
      await this.$store.dispatch('fetchWaitingQueue')

      // 依據候位人數，取對應的桌位資料
      const arrDList 	= this.deskList
				,manCount 		= parseInt(ManCount)
      if (!arrDList.length)		return showAlert('查無桌位資料!');

      const deskData = arrDList.find(desk => (parseInt(desk.MinSeats) <= manCount) && (parseInt(desk.MaxSeats) >= manCount))
			// console.log('桌位資料-deskData: ', deskData);	// @@
      if (!deskData)	return showAlert('人數太多,限定20人以內')

      // 取得目前桌位 & 號次
      const deskQueue = this.waitListBasic.filter(queue => queue.DeskTypeID === deskData.GID)
      const currentNumberTmp = this.currentDeskNotifyNumber.find(data => data.code === deskData.DeskTypeCode)
      if (!currentNumberTmp) return;
      const currentNumber = currentNumberTmp.lastNumber

      const data = {
        act: "addwaitingposition",
        Account,
        AllowSeparateNumber,
        AllowUniteNumber,
        Name: Name + gender,
        Number: parseInt(currentNumber) + 1,
        ManCount: manCount,
        KidCount: KidCount,
        KidTablewareCount: KidTablewareCount,
        DeskID: deskData.DeskTypeCode,
        DeskTypeID: deskData.GID,
        WaitTags: WaitTags.join(','),
        Memo:Memo
      }

      const result = await this.$store.dispatch('createWaitingQueue', data)
      if (result.error) showAlert(result.msg)
      this.newWaiting = false
      this.alerted = false
        //更新候位資料
      await this.$store.dispatch('fetchWaitingQueue')
      this.resetQueueForm()
    },
    // 更新候位資料： 叫號
    async queueCalling(wait) {
console.log('候位叫號-wait: ', wait);	// @@
      const {GID, CallNb, CallTimeList, EnterpriseID, Number} = wait
      const curTime = currentTime()
      // 叫號次數
      const num1 = CallNb ? parseInt(CallNb)+1 : 1
      // 叫號紀錄
      let callList = []
      let callData ; try { callData = JSON.parse(CallTimeList) } catch(e) {}
      if (callData) callList = callData
      callList.push({index: num1, time: curTime})
			// console.log('叫號紀錄-callList: ', callList);	// @@

      const body = {
        GID: GID,
        LastState: "M",
        OrderStateID: 6,
        AlertTime: curTime,
        CallNb: num1,
        CallTimeList: JSON.stringify(callList),
      }

      showConfirm("確定叫號？").then(res => {	// 點擊確認執行
				this.$store.dispatch('updateWaitingQueue', body)
				this.$store.dispatch('cablePublish', {act: 'bell', number: `${this.deskType(wait)} ${Number}` } )
				this.closeModal()

				// 判斷是否取號時寄簡訊
				const {EnterpriseName, ShopName} = this.$store.state.baseData
				const string = `${wait.Account};${EnterpriseName} ${ShopName} 您的候位號碼: ${this.deskType(wait)}${Number} 已叫號 ${num1} 次，請盡速報到`
				this.shouldSendSMS && deviseFunction('AppSMSMsg', string)
			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(rej => { this.closeModal() })
    },
    // 發簡訊
    async queueSendSMS(wait) {
			// console.log('發簡訊-wait: ', wait); // @@
      const {GID, SendNb, SendTimeList, EnterpriseID, Number} = wait
      const curTime = currentTime()
				,num1 			= SendNb ? parseInt(SendNb)+1 : 1	// 發簡訊次數
      // 發簡訊紀錄
      let callList = [], callData
      try { callData = JSON.parse(SendTimeList) } catch(e) {}
      if (callData) callList = callData
      callList.push({index: num1, time: curTime})
console.log('發簡訊紀錄-callList: ', callList);	// @@

      const body = {
        GID: GID,
        LastState: "M",
        SendNb: num1,
        SendTimeList: JSON.stringify(callList),
      }

      showConfirm("確定發簡訊？").then(res => {
				this.$store.dispatch('updateWaitingQueue', body)

				const {EnterpriseName, ShopName} = this.$store.state.baseData
					,string = `${wait.Account};${EnterpriseName} ${ShopName} 您的座位已備妥(感謝耐心等候,請盡速前往報到)!`
				// console.warn('string: ', string);	// @@
				deviseFunction('AppSMSMsg', string)
				this.closeModal();
			})
			.catch(this.closeModal) 

		},

    // 過號
    async queuePassing(wait) {
      const body = {
        GID: wait.GID,
        LastState: "M",
        OrderStateID: 7,
        PassTime: currentTime(),
      }

      showConfirm("確定這組客人不在現場，放入過號名單？")
        // 點擊確認執行
        .then(res => { this.$store.dispatch('updateWaitingQueue', body); this.closeModal() })
        // 點擊取消執行 => 關閉 confirmn 視窗
				.catch(this.closeModal)
    },
    // 入席或備註
    async queueCheckin(checkinNote) {
      this.showCheckinNote = false
      checkinNote = checkinNote || ''
      let body={GID: this.currentWait.GID,Memo: checkinNote};
      if (this.buttonFlag==="A") //入席
        body = Object.assign({},body,{LastState: "M",OrderStateID: 5,CheckInTime: currentTime()});

      this.$store.dispatch('updateWaitingQueue', body)
      this.checkinNote = ''
    },
    // 進階搜尋
    filterButton(){
     
     let f_phone = this.filterCond.Phone = document.getElementById("filterCond.Phone").value;     
     //切到搜尋到的頁面
     if (!!f_phone){
        let getWaitObj=this.state.waitQueueList.filter(x=>x.Account.includes(f_phone));
        if (getWaitObj.length>0){
          //只取第一個找到的
          let firstObj = getWaitObj[0];
          let firstDeskID = firstObj.DeskID;
          let firstOrderStateID = firstObj.OrderStateID;
          if (firstOrderStateID === 1 || firstOrderStateID === 6) this.$refs.btnWaiting.click()
          if (firstOrderStateID === 7) this.$refs.btnExpired.click()
          if (firstOrderStateID === 5 || firstOrderStateID === 9) this.$refs.btnEntered.click()
          this.deskTypeID=firstObj.DeskTypeID //切到該桌位頁籤
         
        }
     }
     //優先排序
     this.filterCond.TagFirst = document.getElementById("filterCond.TagFirst").checked; //只要指定就好,在Computed會自動更新List
     if (!!f_phone){
       //上面寫做完優先排序,在執行手機搜尋,以防定位錯誤
      setTimeout(() => {
          var f_obj=document.querySelector('[data-phone*="'+f_phone+'"]');
          if (f_obj){
            //移到定位
            f_obj.scrollIntoView({
              behavior: "smooth",
              block: "center"
            });  
            //增加閃爍效果
            f_obj.closest(".list-group-item").classList.add("blinking");
            //1.5秒後移除
            setTimeout(() => {
                f_obj.closest(".list-group-item").classList.remove('blinking');
              }, 3000);
          }
          else{
            showAlert("找不到該手機號碼")
          }
      }, 100);
     }
    },
    // 清空表單
    resetQueueForm() {
      this.queueForm = {
        Name: "",
        Account: "",
        ManCount: "",
        WaitTags: [],
        gender: "先生",
        AllowSeparateNumber: false,
        AllowUniteNumber: false,
        Memo:"",
      }
    },
    // 判斷是否已建立超過 15 分鐘
    isOutTime(wait) {
      const currentTime = moment(new Date()).toDate()
      const createTimePlus = moment(new Date(wait.CreateDate.replace(/-/g, "/"))).add(15, 'm').toDate()
      return currentTime > createTimePlus
    },
    // 顯示已等待時間
    showWaitedTime(wait) {
      const currentTime = moment(new Date())
      const createTime = moment(new Date(wait.CreateDate.replace(/-/g, "/")))
      return `已等待 ${currentTime.diff(createTime, 'hours')} 小時 ${currentTime.diff(createTime, 'minutes') % 60} 分`
    },
    setOrderState(state, title) {
      if (this.deskTypeID === 'all') this.deskTypeID = this.deskList[0].GID
      this.orderState = state
      this.$store.commit('setTodoTitle', title)
    },
    closeModal() {
			this.$store.commit('setCustomModal', { type: '', text: '' });
    },
  },
}
</script>
