<!-- eslint-disable -->
<template>
  <div class="h-100 login-bg d-flex align-items-center justify-content-center">
    <div class="container" style="max-width: 540px; margin: 0">
      <p class="h3 text-center mb-4">
        <img src="@/assets/images/tzml/logo_b.png" alt=""> / 候位系統
      </p>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
          <div class="ratio ratio-1x1 ratio-rwd">
            <button class="btn btn-dark d-block w-100 btn-lg py-3 shadow rounded-xl" type="button" @click="$router.push('/dashboard')">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-25"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
              <h3 class="mt-3">管 理</h3>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="ratio ratio-1x1 ratio-rwd">
            <button class="btn btn-dark d-block w-100 btn-lg py-3 shadow rounded-xl" type="button" @click="$router.push('/number_taker')">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-25"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
              <h3 class="mt-3">取 號</h3>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="ratio ratio-1x1 ratio-rwd">
            <button class="btn btn-dark d-block w-100 btn-lg py-3 shadow rounded-xl" type="button" @click="$router.push('/kanban')">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-25"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
              <h3 class="mt-3">看 板</h3>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store'
import router from '../router'
import { onBeforeMount } from '@vue/composition-api'

export default {
  name: 'Index',
  setup() {
    // 如果尚未登入 => 導向登入頁
    onBeforeMount(() => {
      const isLogin = store.getters.isLogin
      if (!isLogin) return router.push('/login')
    })

    return {}
  }
}
</script>
