<!-- eslint-disable -->
<template>
  <div class="h-100 login-bg">
    <!-- 版本號 -->
    <small class="position-fixed bottom-0 end-0 text-black-50 me-1">v.{{getVersion}}</small>
    <!-- 上方狀態列 -->
    <nav class="navbar fixed-top navbar-dark bg-dark p-0">
      <div class="container-fluid">
        <a class="navbar-brand text-muted text-decoration-none">
          <img class="img-fluid me-1 align-baseline" style="height: 16px" src="../assets/images/tzml/logo_text.png" alt="">
          候位叫號看板 - <span @click="confirmLogout">{{`${this.$store.state.baseData.ShopName}`}}</span>
        </a>
        <div class="d-flex text-muted" style="width: 10.5em">
          <span class="me-2" id="dtDate"></span>
          <span id="dtTime"></span>
        </div>
      </div>
    </nav>
    <div class="px-3 overflow-hidden h-100" style="padding-top: 40px">
      <div class="row g-3" :class="[isIOS?'row-cols-2':'row-cols-1']">
        <!-- 上 -->
        <div class="col align-self-center h-100 overflow-auto">
          <div class="row text-center bg-white mx-1 my-3 rounded-xl overflow-hidden shadow" v-for="(desk, index) in deskList" :key="index">
            <div class="col-3 d-flex align-items-center justify-content-center bg-dark text-white fw-bold" :class="[isIOS?'py-4 fs-2':'py-5 display-5']">
              <div class="lh-sm">{{ desk.MinSeats }}~{{ desk.MaxSeats }}<br><span class="text-white-50">人組</span></div>
            </div>
            <div class="col-4 p-4 d-flex align-items-center justify-content-center" :class="{'showNotify': showNotify(desk.DeskTypeCode)}"><!-- 在此加入閃爍樣式 showNotify 20秒後移除 -->
              <div>
                <p class="text-muted" :class="[isIOS?'h4':'h1']">待位組數</p>
                <h1 class="fw-bold text-muted" :class="[isIOS?'display-4':'display-1']">{{deskWaitCount(desk)}}</h1>
              </div>
            </div>
            <div class="col-5 p-4 d-flex align-items-center justify-content-center" :class="{'showNotify': showNotify(desk.DeskTypeCode)}"><!-- 在此加入閃爍樣式 showNotify 20秒後移除 -->
              <div>
                <p class="text-muted" :class="[isIOS?'h4':'h1']">準備入座</p>
                <h1 class="fw-bold text-gold" :class="[isIOS?'display-4':'display-1']">{{showCurrentAlertNumber(desk.DeskTypeCode)}}</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- 下 -->
        <div class="col align-self-center">
          <!-- 輪播 Banner -->
          <div class="py-3">
            <Swiper ref="awesomeSwiperA" :options="swiperOptionA">
              <SwiperSlide v-for="(item, index) in banner" :key="index">
                <div class="ratio ratio-1x1 ratio-rwd">
                  <img class="w-100" :src="item">
                </div>
              </SwiperSlide>
              <!-- Optional controls -->
              <div class="swiper-pagination" slot="pagination"></div>
            </Swiper>
          </div>
        </div>
      </div>
    </div>  
     <!-- 測試語音彈窗 -->
    <template v-if="testTalk">
      <div class="modal d-block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white shadow-lg">
            <div class="modal-body p-4">
              <p class="h4 text-center mb-4">語音測試</p>
              <div class="mb-3">
                <input class="form-control form-control-lg"  type="text"  v-model="testTalkMessage" placeholder="請輸入文字">
              </div>
            </div>
            <div class="modal-footer justify-content-start border-top-0">
              <div class="row w-100 g-2"> 
                  <button type="button" class="btn btn-lg bg-secondary w-100" @click="testTalk = false">取消</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100" @click="toTalk()">測試</button>
                </div>
              </div>
         
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>
  </div>
</template>

 

<script>
/* eslint-disable */
import moment from 'moment'
import store from '../store'
import router from '../router'
import { onBeforeMount, computed, ref } from '@vue/composition-api'
import { showConfirm } from '../libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'

import 'swiper/dist/css/swiper.css'

export default {
  name: 'NumberTaker',
  // BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  mounted () {
    document.addEventListener('keyup', this.keyupHandler)
  },
  destroyed () {
    document.removeEventListener('keyup', this.keyupHandler)
  },
  methods: {  
    keyupHandler (event) {
      //按ctrl+z 開啟語言測試畫面
      if (event.ctrlKey  && event.keyCode==90) {        
        this.testTalk=true
        this.testTalkMessage=''
    }},
    toTalk(){
        if (typeof(JSInterface) !== 'undefined')
          JSInterface.CallJsInterFace('Talk',this.testTalkMessage,'');  
        else
        {
          alert("請在殼內執行")
          this.testTalk=false
        }
    }
  },
  setup() {
  
    const currentMealCount = computed(() => store.state.baseData.MealCount )
    // BANNER輪播
    const swiperOptionA = {
      pagination: { el: '.swiper-pagination' },
      autoplay: { delay: 4000, },
      speed: 2000,
      effect : 'fade',
      fadeEffect: {
        crossFade: true,
      }
/* 	//等同于以下设置
	  autoplay: {
			delay: 3000,
			stopOnLastSlide: false,
			disableOnInteraction: true,
	  },
*/
      // loop: true,	// 外掛的bug:不能與autoplay一起做,否則不會輪播(無輪回)
    }

    // 桌位清單
    const deskList = computed(() => store.state.deskTypeList.slice().sort((a, b) => b.SortValue - a.SortValue) )
    // 等待候位清單
    function byProcessing(wait) { return wait.MealCount === currentMealCount.value && (wait.OrderStateID === 1 || wait.OrderStateID === 6) }
    const waitList = computed(() => store.state.waitQueueList.filter(wait => byProcessing(wait) ) )

    // 待位統計
    function deskWaitCount(desk) { return waitList.value.filter(wait => wait.DeskTypeID === desk.GID).length }
    // 目前叫號
    function showCurrentAlertNumber(deskID) {
      function byDeskID(wait) { return wait.AlertTime !== '' && wait.DeskID === deskID }
      function byAlertTime(a, b) { return moment(b.AlertTime).unix() - moment(a.AlertTime).unix() }
      const list = waitList.value
                     .filter(wait => byDeskID(wait) )
                     .sort((a, b) => byAlertTime(a, b) )

      if (list.length === 0) return '--'
      return `${deskID}${list[0].Number}`
    }

    const deskNotify = computed(() => store.state.deskNotify )
    // 判斷顯示通知的邏輯
    function showNotify(deskCode) {
      return deskCode === deskNotify.value
    }

    // 確認是否登出
    function confirmLogout() {
      showConfirm('是否登出？')
        // 點擊確認執行
        .then(() => {
          const EnterpriseID = store.state.baseData.EnterpriseID
          store.commit('setLogin', {userName: '', userCode: '', ShopID: '', EnterpriseID})
          store.commit('setHeadTitle', '候位管理系統')
          router.push('/login')
          store.commit('setCustomModal', { type: '', text: '' })
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    }

    // 每秒更新現在時間
    setInterval(() => {
      let nowDt = moment(new Date())
      if (document.getElementById("dtDate"))
        document.getElementById("dtDate").innerText =nowDt.format('YYYY-MM-DD')
      if (document.getElementById("dtTime"))
        document.getElementById("dtTime").innerText =nowDt.format('HH:mm:ss')
    }, 1000)
    
    return {deskList, deskWaitCount, showCurrentAlertNumber, swiperOptionA, showNotify, confirmLogout}
  },
  async beforeRouteEnter(to, from, next) {
    console.log('kanban beforeRouteEnter ===> start')
    // alert('kanban beforeRouteEnter ===> start')

    // 如果尚未登入 => 導向登入頁
    const isLogin = store.getters.isLogin
    store.commit('setEntryPath', '/kanban')
    if (!isLogin) return router.push('/login')
    // 取桌位與候位資訊
    store.commit('setHeadTitle', '候位取號')
    store.dispatch('fetchKanbanBanner') // 取得Banner圖片
    await store.dispatch('fetchWaitingDesk')
    store.dispatch('fetchWaitingTag')
    store.dispatch('fetchWaitingQueue')
    next()
  },
  created() {
    let EnterpriseID = this.state.baseData.EnterpriseID
    let shopID = this.state.baseData.ShopID
    console.log('kanban created ===> eid =>' + EnterpriseID
      + '/ shopID =>' + shopID)
    // alert('kanban created ===> eid =>' + EnterpriseID
      // + '/ shopID =>' + shopID)

    setTimeout(()=>{
      if(this.$cable && this.$cable.isConnected()) {
        //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+EnterpriseID+""+shopID);
      } else {
        this.$cable.ReConnect("Waiting"+EnterpriseID+""+shopID);  
      }
    }, 500)
  },
  computed: {
  	banner() {
  		return this.$store.state.kanbanBanner.map(function (one) {
  			const path = one.path,
  			url = one.url,
  			_src = /http/.test(path) ? path : url + path;
  			// console.log('banner_src: ', _src); // @@
  			return _src;
  		})
  	},
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    },
    // iOS 13 below & above
    isIOS() {
      return /iPad/i.test(navigator.userAgent) || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)
    }
  },
  data() {
    return {
      state: this.$store.state,
      testTalk:false,
      testTalkMessage:''
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
