<!-- eslint-disable -->
<template>
  <div class=" d-flex align-items-center justify-content-center h-100 login-bg">

    <div class="container" style="max-width:540px; margin: 0">
      <p class="h3 text-center mb-4">
        <img src="@/assets/images/tzml/logo_b.png" alt=""> / 候位系統
      </p>
      <!-- 選擇企業號 -->
      <template v-if="isStep==='login' && form.EnterpriseID === ''">
        <div class="mb-4">
          <input class="form-control form-control-lg shadow" type="text" v-model="EnterpriseID" @keyup="toLower" @keyup.13="setEnterpriseID" placeholder="輸入企業號" name="EnterpriseID">
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-dark btn-lg shadow w-100" @click="setEnterpriseID">確定</button>
        </div>
      </template>
      <!-- 會員登入 -->
      <template v-if="isStep==='login' && form.EnterpriseID !== ''">
        <div class="mb-3">
          <input class="form-control form-control-lg shadow" type="text" v-model="form.user" placeholder="帳號" name="name" @keyup.13="userLogin">
        </div>
        <div class="mb-4">
          <input class="form-control form-control-lg shadow" type="password"  v-model="form.pwd" placeholder="密碼" name="password" @keyup.13="userLogin">
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-dark btn-lg shadow w-100" @click="userLogin">確定</button>
        </div>
      </template>
      <!-- 選擇門店 -->
      <template v-if="isStep==='store'">
        <p class="h4 text-center border border-secondary rounded-3 p-2 mb-4" style="background: rgba(255, 255, 255,.25)">
          選擇門店
        </p>
        <div class="overflow-y-auto" style="height: 480px">
          <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-3">
              <div class="col" v-for="(shop,index) in shops" :key="index" @click="select(shop)">
                <button class="btn btn-dark d-block w-100 btn-lg py-3 shadow" type="button">{{shop.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <small class="fixed-bottom p-3 text-center">Powered by JINHER INFO.COM.,LTD. Version:{{this.getVersion}}</small>
  </div>
</template>

<script>
import axios from 'axios';
import md5 from 'md5';
// import { deviseFunction } from '../libs/deviseHelper.js'
import { L_Obj } from '../s_obj.js'
import { GetEnterpriseKey } from '../f_waiting.js'
import Vue from 'vue'
import VueCookies from 'vue-cookies'
Vue.use(VueCookies)
axios.defaults.timeout = 15000;
const LS_key1 = 'loginForm'
	,LS1 				= L_Obj.read(LS_key1) || {}
// console.log('LS1loginForm-LS1: ', LS1);	// @@

export default {
  name: 'Index',
  computed: {
    isLogin() { return this.$store.getters.isLogin },
    entryPath() { return this.$store.state.baseData.entryPath },
    getVersion() {return this.$store.getters.getStateVersion}
  },
  data() {
    return {
      isStep: 'login',
      reqHead: { "headers": { "Content-Type": "application/x-www-form-urlencoded" } },
      EnterpriseID: this.$store.state.baseData.EnterpriseID,
      EnterpriseName: '',
      userName: '',
      userCode: '',
      shops: [],
      form: {
        EnterpriseID: this.$store.state.baseData.EnterpriseID,
        user: LS1.user || '',
        pwd: LS1.pwd || '',
      },
    };
  }, 
  methods: {
    // 自動轉小寫及去空白
    toLower() {
			this.EnterpriseID = this.EnterpriseID.toLowerCase().trim()
    },
    // 設定企業號
    setEnterpriseID() {
      if (this.EnterpriseID === '') return alert('請輸入企業號')
      this.$cookies.set('EnterpriseID', this.EnterpriseID)
      this.$store.commit('setLogin', {EnterpriseID: this.EnterpriseID})
			this.form = LS1;
      this.form.EnterpriseID = this.EnterpriseID

      let currentEnterpriseKey=GetEnterpriseKey(this.EnterpriseID)
      L_Obj.save('themeVar',currentEnterpriseKey)
      L_Obj.save('EnterpriseID',this.EnterpriseID)

      setTimeout(() => {
         window.location.reload()
      }, 100); 
    },
    // 使用者登入
    async userLogin() {
      // 設定基本參數
      const {EnterpriseID, user, pwd} = this.form
			L_Obj.save(LS_key1, this.form);
     

      const password = md5(pwd)
      const loginUrl = 'https://8012.jh8.tw/public/AppNCWOneEntry.ashx'
      const loginBody = {
        act: "login",
        EnterpriseID: EnterpriseID,
        userphone: user,
        userPwd: password,
      }
      
      // 1. 確認登入是否成功
      //const {data: loginData} = await axios.post(loginUrl, loginBody, this.reqHead)
      const datatmp 	= await axios.post(loginUrl, loginBody, this.reqHead).catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!datatmp) return; //萬一datatmp.data沒有值時.
      const  {data: loginData} = datatmp;
      
      
      if (loginData.ErrorCode !== '0') {
        this.isStep = 'login'
        this.$cookies.remove('EnterpriseID')
        this.EnterpriseID = ''
        this.form = { EnterpriseID: '', user: '', pwd: ''}
        alert(loginData.ErrorMsg)     
        window.location.href = `${window.location.origin}${window.location.pathname}#/login`; //導回預設登錄頁面
        return
      }
      if (!loginData.Remark || typeof(loginData.Remark) !== 'string') return alert('錯誤'); //萬一Remark沒有值時.
      const login = JSON.parse(loginData.Remark)
      this.$store.commit('setBaseHoHttp', loginData.HoHttp)
      this.EnterpriseID = EnterpriseID
      this.EnterpriseName = login.EnterpriseName
      this.userName = login.UserName
      this.userCode = login.UserCode
     
      // 2. 取門店資料，並導向選取門店
      const shopUrl = 'https://8012.jh8.tw/Public/AppDataOneEntry.ashx'
      const shopBody = {
        act: "WaitingGetShopList",
        FunctionID: "420101",
        EnterPriseID: EnterpriseID,
        Account: user,
      }
      //const {data: shopData} = await axios.post(shopUrl, shopBody, this.reqHead)
      const dataShop 	= await axios.post(shopUrl, shopBody, this.reqHead).catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!dataShop) return; //萬一datatmp.data沒有值時.
      const  {data: shopData} = dataShop;
      
      
      if (shopData.ErrorCode !== '0' || JSON.parse(shopData.Remark).length === 0) {
        this.isStep = 'login'
        this.$cookies.remove('EnterpriseID')
        this.EnterpriseID = ''
        this.form = { EnterpriseID: '', user: '', pwd: ''}

        // 補清使用者資料
        this.userName = ''
        this.userCode = ''
        if (JSON.parse(shopData.Remark).length === 0) return alert('此帳號沒有門店權限，請聯繫管理人員')
        return alert(shopData.ErrorMsg)
      }

      this.shops = JSON.parse(shopData.Remark)
      this.isStep='store'
    },
    // 選擇門店
    async select(shop) {
      // 取得門店的地址與電話
      const shopUrl = 'https://8012.jh8.tw/Public/AppDataOneEntry.ashx'
      const shopBody = {
        act: "WaitingGetShopData",
        FunctionID: "420101",
        EnterPriseID: this.EnterpriseID,
        // 避免this.form.user不見,所以改用this.userCode
        Account: this.userCode, // this.form.user,
        param: { "ShopID": btoa(`'${shop.id}'`) }
      }
      //const {data} = await axios.post(shopUrl, shopBody, this.reqHead)
      const dataShop 	= await axios.post(shopUrl, shopBody, this.reqHead).catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!dataShop) return; //萬一datatmp.data沒有值時.
      const  {data} = dataShop;
      
      if (data.ErrorCode !== '0') {
        this.isStep = 'login'
        this.$cookies.remove('EnterpriseID')
        this.EnterpriseID = ''
        this.form = { EnterpriseID: '', user: '', pwd: '',}
        return alert(data.ErrorMsg)
      }
      if (!data.Remark || typeof(data.Remark) !== 'string') return alert('錯誤'); //萬一Remark沒有值時.
      const shopTmp = JSON.parse(data.Remark)
      if (!Array.isArray(shopTmp) || (Array.isArray(shopTmp) && !shopTmp.length) ) return alert('錯誤');
      const shopData = shopTmp[0] || {}
      let {Tel: ShopTel, Addr: ShopAddr} = shopData

      // 存入登入資料
      this.$store.commit('setLogin', {EnterpriseID: this.EnterpriseID, EnterpriseName: this.EnterpriseName, userName: this.userName, userCode: this.userCode, ShopID: shop.id, ShopName: shop.name, ShopTel, ShopAddr})
      // 清空表單資料
      this.form = { EnterpriseID: '', user: '', pwd: '',}
      if(this.$cable && this.$cable.isConnected())
      {
      //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+this.EnterpriseID+""+shop.id);
      }
      else
        this.$cable.ReConnect("Waiting"+this.EnterpriseID+""+shop.id);
        
      this.$store.commit('setHeadTitle', shop.name)
           
      let entryPathInLs = L_Obj.read("entryPath")      
      this.$router.push(entryPathInLs || this.entryPath)
    },
  },
  beforeRouteLeave(to, from, next) {
    this.isStep = 'login'
    next()
  },
}
</script>
<style lang="scss" scoped>
/*for ie10 、 ie11*/
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
  .row > * {
      padding-right: 8px;
      padding-left: 8px;
      margin-top: 16px;
  }
}
</style>
