<!-- eslint-disable -->
<template>

  <div class="h-100 login-bg" style="padding-top: 40px">
    <!-- 版本號 -->
    <small class="position-fixed bottom-0 end-0 text-black-50 me-1">v.{{getVersion}}</small>
    <div class="p-3 overflow-hidden h-100">
      <div class="row g-3 row-cols-2 h-100">
        <!-- 左側 -->
        <div class="col h-100 overflow-auto">
          <!-- 候位資訊區 -->
            <p class="d-flex align-items-center mb-0">
              <img src="@/assets/images/tzml/logo_b.png" alt="">
              <span class="ms-4 fs-3">
                <span class="me-2">{{currentTime.format('YYYY-MM-DD')}}</span>
                <span>{{currentTime.format('HH:mm:ss')}}</span>
              </span>
            </p>
            <p class="h4 text-center border border-secondary rounded-3 p-2 mb-4" style="background: rgba(255, 255, 255,.4)">目前取號狀態</p>
            <div class="row text-center bg-white mx-1 my-2 rounded-xl overflow-hidden shadow" v-for="(desk, index) in deskList" :key="index">
              <div class="col-3 py-4 d-flex align-items-center justify-content-center bg-dark text-white fs-3 fw-bold">
                <div class="lh-sm text-white-50">{{ desk.MinSeats }} ~ {{ desk.MaxSeats }}<br>人組</div>
              </div>
              <div class="col-4 p-4 d-flex align-items-center justify-content-center">
                <div>
                  <p class="h5 mb-0 text-muted">待位組數</p>
                  <h1 class="fw-bold display-5 text-muted mb-0">{{deskWaitCount(desk)}}</h1>
                </div>
              </div>
              <div class="col-5 p-4 d-flex align-items-center justify-content-center">
                <div>
                  <p class="h5 mb-0 text-muted">準備入座</p>
                  <h1 class="fw-bold display-5 text-gold mb-0">{{showCurrentAlertNumber(desk.DeskTypeCode)}}</h1>
                </div>
              </div>
            </div>
            <p class="h4 py-4 px-2" v-if="RequestWaitMSG">{{RequestWaitMSG}}</p>
        </div>
        <!-- 右側 -->
        <div class="col h-100">
          <!-- 輸入區 -->
          <div style="margin: 8px 0">
            <form id="queue_add" name="queue_add" class="queue_add">
              <div class="row g-2">
                <div class="col-7">
                  <div class="position-relative">
                    <small class="position-absolute top-0 start-50 translate-middle-x badge bg-dark rounded-pill fs-6 px-4" :class="inputFocus === 'people' ? '':'bg-dark text-white'" style="margin-top: -12px">
                      * 含佔位兒童數
                    </small>
                    <input
                      type="number" class="form-control rounded-xl text-center border-white border-4 shadow-none py-3" id="add_people"
                      name="add_people" maxlength="3" placeholder="用餐人數"
                      style="font-size: 3rem"
                      :style= "{'border-color':(inputFocus === 'people') ? '#c79f5e !important' : 'inherit', 'background-color':(inputFocus === 'people') ? 'cornsilk' : 'white'}"
                      v-model="form.people" @click="inputFocus = 'people'"
                      readonly
                    >
                  </div>
                </div>
                <div class="col-5">
                  <div class="position-relative">
                    <small class="position-absolute top-0 start-50 translate-middle-x badge bg-dark rounded-pill fs-6 px-4" :class="inputFocus === 'people' ? '':'bg-dark text-white'" style="margin-top: -12px">
                      * 兒童椅
                    </small>
                    <FAI icon="caret-down" class="position-absolute top-50 end-0 translate-middle-y me-2" size="lg" fixed-width />
                    <select v-model="form.KidCount" class="form-control rounded-xl text-center border-white border-4 shadow-none py-3" name="option"
                      style="-webkit-appearance:none; font-size: 3rem"
                      :class="{'input-focus':(inputFocus === 'people')}"
                      :style= "{'border-color':(inputFocus === 'people') ? '#c79f5e !important' : 'inherit', 'background-color':(inputFocus === 'people') ? 'cornsilk !important' : ''}"
                      @click.self="inputFocus = 'people'"
                    >
                      <option value="-1" selected>不需要</option>
                      <option value="1">1 張</option>
                      <option value="2">2 張</option>
                      <option value="3">3 張</option>
                      <option value="4">4 張</option>
                      <option value="5">5 張</option>
                    </select>
                    <span class="badge rounded-pill bg-secondary position-absolute bottom-0 end-0 m-2" v-if="form.KidCount != -1 && form.KidTablewareCount>0" @click="kidTablewareModal=true">餐具 x {{form.KidTablewareCount}}</span>
                  </div>
                </div>
                <div class="col-12">
                  <input
                    type="number" class="form-control fs-1 rounded-xl text-center border-white border-4 shadow-none" id="guest_phone"
                    name="guest_phone" maxlength="16" placeholder="* 輸入手機號碼"
                    :style= "{'border-color':(inputFocus === 'phone') ? '#c79f5e !important' : 'inherit', 'background-color':(inputFocus === 'phone') ? 'cornsilk' : 'white'}"
                    v-model="form.phone" @click="inputFocus = 'phone'"
                    readonly
                  >
                </div>
                <div class="col-12">
                  <div class="position-relative">
                    <span class="position-absolute top-50 translate-middle-y end-0 opacity-50" style="margin-right: 160px">* 稱謂:</span>
                    <div class="btn-group bg-white position-absolute top-50 end-0 translate-middle-y me-3 shadow-sm">
                      <input type="radio" class="btn-check" name="gender" autocomplete="off" v-model="form.gender" id="btnradio-male" value='先生'>
                      <label class="btn btn-outline-dark" for="btnradio-male"><p class="h4 mb-0">先生</p></label>
                      <input type="radio" class="btn-check" name="gender" autocomplete="off" v-model="form.gender" id="btnradio-female" value='小姐'>
                      <label class="btn btn-outline-dark" for="btnradio-female"><p class="h4 mb-0">小姐</p></label>
                    </div>
                    <input
                      type="text" class="form-control fs-1 rounded-xl text-center border-white border-4 shadow-none" style="padding: 4px 160px 4px 4px"
                      name="guest_phone" placeholder="* 姓名" @click="inputFocus = 'name'"  autocomplete="off" v-model="form.name"
                      :style= "{'border-color':(inputFocus === 'name') ? '#c79f5e !important' : 'inherit', 'background-color':(inputFocus === 'name') ? 'cornsilk' : ''}"
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="my-3 position-relative">
            <transition name="slide-fade" mode="out-in">
              <div v-if="!tagModal" key="slide1">
                <div class="row row-cols-3 g-2 text-center">
                  <div class="col" :class="{'tapStatus':tapVar=='1'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(1)">1</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='2'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(2)">2</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='3'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(3)">3</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='4'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(4)">4</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='5'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(5)">5</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='6'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(6)">6</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='7'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(7)">7</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='8'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(8)">8</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='9'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(9)">9</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='b'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey('backspace')"><FAI icon="backspace" /></h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='0'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey(0)">0</h1></div>
                  <div class="col" :class="{'tapStatus':tapVar=='c'}"><h1 class="py-3 mb-0 display-6 text-white bg-dark rounded-xl" @click="snedKey('clear')"><FAI icon="times" /></h1></div>
                  <div class="col-4">
                    <button type="button" id="ticket_pick_up_btn" class="btn btn-lg text-white bg-dark w-100" @click="clearInputForm">
                      <h1 class="fs-3 lh-lg my-1">清除全部</h1>
                    </button>
                  </div>
                  <div class="col-8">
                    <button type="button" id="ticket_pick_up_btn" class="btn btn-lg bg-gold w-100" @click="tagModal = true" :disabled="formValid">
                      <h1 class="my-2 fs-1 fw-bolder">下一步 <FAI class="ms-3" icon="angle-right" /></h1>
                    </button>
                  </div>
                </div>
              </div>
              <!-- 備註 -->
              <div class="bg-dark p-2 rounded-xl" key="slide2" v-else>
                <p class="h3 text-center my-2 text-white">優先需求</p>
                <div class="overflow-y-auto p-2 mb-2" style="height: 260px">
                  <div class="row g-2 row-cols-2">
                    <div v-for="data in tags" :key="data.GID" class="col">
                       <input :class="{'ck-btn':data.IsPriority==false,'ck-btn-sp':data.IsPriority==true,'d-none':true}" type="checkbox" v-model="form.WaitTags" :value="data.Tag" :id="data.GID" :name="data.GID">
                       <label class="btn fs-5 w-100" :for="data.GID">{{data.Tag}}</label>
                    </div>
                  </div>
                  <div class="text-muted text-center my-6 py-5 fs-4 opacity-50" v-if="!tags.length">-- 無設定值 --</div>
                </div>            
                <div class="row g-2">
                  <div class="col-4">
                    <button type="button" class="btn btn-lg bg-secondary w-100" @click="tagModal=false">
                      <h1 class="fs-3 lh-lg my-1">返回</h1>
                    </button>
                  </div>
                  <div class="col-8">
                    <button type="button" class="btn btn-lg bg-gold w-100" @click="clickCreate">
                      <h1 class="my-2 fs-1 fw-bolder">取號 <FAI class="ms-3" icon="check" size="sm" /></h1>
                    </button>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
    <!-- 兒童餐具彈窗 -->
    <template v-if="kidTablewareModal">
      <div class="modal d-block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white">
            <div class="modal-header border-0">
              <p class="h5 text-center mb-0" v-html="'是否需要兒童餐具？'"></p>
            </div>
            <div class="modal-body text-center text-white fs-4">
              <div class="form-check form-check-inline mx-2">
                <input class="form-check-input" type="radio" v-model="form.KidTablewareCount" name="KidTablewareCount" id="KidTablewareCount1" value="1">
                <label class="form-check-label" for="KidTablewareCount1">1 套</label>
              </div>
              <div class="form-check form-check-inline mx-2">
                <input class="form-check-input" type="radio" v-model="form.KidTablewareCount" name="KidTablewareCount" id="KidTablewareCount2" value="2">
                <label class="form-check-label" for="KidTablewareCount2">2 套</label>
              </div>
              <div class="form-check form-check-inline mx-2">
                <input class="form-check-input" type="radio" v-model="form.KidTablewareCount" name="KidTablewareCount" id="KidTablewareCount3" value="3">
                <label class="form-check-label" for="KidTablewareCount3">3 套</label>
              </div>
              <div class="form-check form-check-inline mx-2">
                <input class="form-check-input" type="radio" v-model="form.KidTablewareCount" name="KidTablewareCount" id="KidTablewareCount4" value="4">
                <label class="form-check-label" for="KidTablewareCount4">4 套</label>
              </div>
              <div class="form-check form-check-inline mx-2">
                <input class="form-check-input" type="radio" v-model="form.KidTablewareCount" name="KidTablewareCount" id="KidTablewareCount5" value="5">
                <label class="form-check-label" for="KidTablewareCount5">5 套</label>
              </div>
            </div>
            <div class="modal-footer border-top-0">
              <div class="row w-100 g-2">
                <div class="col">
                  <button type="button" class="btn btn-lg btn-secondary w-100 py-2" @click="kidTablewareModal = false;form.KidTablewareCount = 0">不需要</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100 py-2" @click="kidTablewareModal = false">確認</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>

  </div>
</template>

<style lang="scss" scoped>
  .tapStatus > h1 {
    background: var(--color-gold) !important;
  }
  .input-focus {
    background-color: cornsilk;
    border-color: var(--primary-color) !important;
  }
  .btn-outline-dark {
    border-color: #adb5bd;
  }
  .btn:disabled {
    opacity: .4 !important;
  }
  .btn-group-lg>.btn, .btn-lg {
    border-radius: .5rem;
  }
  .form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
</style>

<script>
/* eslint-disable */
import { showConfirm, showAlert } from '../libs/appHelper.js'
import axios from 'axios'
import moment from 'moment'
import store from '../store'
import router from '../router'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faCaretDown, faTimes, faBackspace, faCheck, faAngleRight } from '@fortawesome/free-solid-svg-icons'
axios.defaults.timeout = 15000;
library.add(faCaretDown, faTimes, faBackspace, faCheck, faAngleRight)
const defaultFormData=()=>(
  { people: '', phone: '', KidCount: '-1', name: '',WaitTags: [], gender: '' }
)
export default {
  name: 'NumberTaker',
  computed: {
    currentTime() { return moment(this.datetime) },
    // 不能直接 .sort(), 要用.slice().sort(), => ref: https://stackoverflow.com/questions/49869081/unexpected-side-effect-in-computed-property
    deskList() { return this.state.deskTypeList.slice().sort((a, b) => b.SortValue - a.SortValue) },
    waitList() { return this.state.waitQueueList.filter(wait => wait.MealCount === this.currentMealCount && (wait.OrderStateID === 1 || wait.OrderStateID === 6) ) },
    currentDeskNotifyNumber() { return this.$store.getters.currentDeskNotifyNumber },
    // 表單資料驗證
    formValid() { return this.$store.state.isLoading || !(this.form.people.length >= 1 && this.form.name.length>=1 && this.form.gender.length>=1 && /^09[0-9]{8}$/.test(this.form.phone)) },
    // 當下餐期
    currentMealCount() { return this.state.baseData.MealCount },
    RequestWaitMSG() { return this.state.waitConfig.RequestWaitMSG || '' },
     // 候位備註標籤
    tags() { return this.state.waitTagList },
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  },
  data() {
    return {
      tapVar: '',
      state: this.$store.state,
      inputFocus: 'people',
      datetime: new Date(),
      logoUrl: undefined,
      // 候位資料
      form: defaultFormData(),
      lastClickTime: null,
      // timer: null
      tagModal: false,
      kidTablewareModal: false,
      KidTablewareCount: 0
    }
  },
  async created() {
    const {EnterpriseID, ShopName} = this.$store.state.baseData
    this.$store.commit('setHeadTitle', `${ShopName}`)
    this.$store.commit('setHeadName', '候位取號')
    if (!this.$store.getters.isLogin) return

    let shopID = this.state.baseData.ShopID
    setTimeout(()=>{
      if(this.$cable && this.$cable.isConnected()) {
        //  this.$cable.unsubscribe("PosHostChannel");
        this.$cable.subscribe("Waiting"+EnterpriseID+""+shopID);
      } else {
        this.$cable.ReConnect("Waiting"+EnterpriseID+""+shopID);  
      }
    }, 500)

    await this.$store.dispatch('fetchWaitingDesk')
    this.fetchLogoUrl(EnterpriseID)
    this.$store.dispatch('fetchWaitConfig')
    this.$store.dispatch('fetchWaitingTag')
    this.$store.dispatch('fetchWaitingQueue')
    // 每秒刷新一次當下時間
    setInterval(() => { this.datetime = new Date() }, 1000)
  },
  beforeRouteEnter(to, from, next) {
    store.commit('setEntryPath', to.path)
   
    if (!store.getters.isLogin) return router.push('/login')
    next()
  },
  beforeRouteLeave(to, from, next) {
    // 消滅此 instance
    this.$destroy()
    next()
  },
  methods: {
    deskWaitCount(desk) {
      return this.waitList.filter(wait => wait.DeskTypeID === desk.GID).length
    },
    snedKey(key) {

      this.tapVar = key

      // 鍵盤移除點按樣式
      setTimeout(() => {
        this.tapVar = ''
      }, 100)

      const { people, phone} = this.form
      let model = this.form[this.inputFocus]
      // 退後鍵
      if (key === 'backspace') return this.form[this.inputFocus] = model.slice(0, model.length-1), this.tapVar = 'b'
      // 清除鍵
      if (key === 'clear') return this.form[this.inputFocus] = '', this.tapVar = 'c'
      // 若不是數字，則中斷
      if (typeof(key) !== 'number') return

      // 資料驗證 (電話)
      if (this.inputFocus === 'phone') {
        if (phone.length >= 10) return
      }

      // 資料驗證 (人數)
      if (this.inputFocus === 'people') {
        if (people.length === 0 && key === 0 ) return
        if (people.length >= 2) return
      }     

      // 執行按鍵的資料變化
      this.form[this.inputFocus] = model + key

    },
    // // 顯示最新叫號資訊
    showCurrentAlertNumber(deskID) {
      const list = this.waitList
      .filter(wait => wait.AlertTime !== '' && wait.DeskID === deskID)
      .sort((a, b) => { return new Date(b.AlertTime).getTime() - new Date(a.AlertTime).getTime() })

      if (list.length === 0) return '--'
      return `${deskID}${list[0].Number}`
    },
    // 清空確認視窗
    clearConfirm() {
      return this.$store.commit('setCustomModal', { type: '', text: '' })
    },
    //清除鍵
    clearInputForm(){
      this.form = defaultFormData()
    },
		/* 取號 */
    async clickCreate() {
      let nowTime = new Date().getTime()
      // 只有按第一下的時候要真的[取號] (或間隔超過3秒)
      if(!this.lastClickTime || (nowTime-this.lastClickTime)>3000) {
        console.log('clickCreate ===> this.clicks is 1 ')
        this.createWaitingQueue()

      // 快速按第2下的時候就忽略
      } else {
        console.log('clickCreate ===> this.clicks is 2 ')
        // clearTimeout(this.timer)
        // this.clicks = 0
      }
      this.lastClickTime = nowTime
      this.tagModal = false
    },
    // 取號，建立候位資料
    async createWaitingQueue() {
      // 1. 重新刷新取最新的候位資料
      await this.$store.dispatch('fetchWaitingQueue')
      // 2. 依據候位人數，取對應的桌位資料與號次
      const { people, phone, KidCount, KidTablewareCount, WaitTags, name, gender } = this.form
      const kidCount = (KidCount === '-1') ? 0 : KidCount
      const ManCount = parseInt(people)
      const deskData = this.deskList.find(desk => (parseInt(desk.MinSeats) <= ManCount) && (parseInt(desk.MaxSeats) >= ManCount))
      const currentNumberTmp = this.currentDeskNotifyNumber.find(data => data.code === deskData.DeskTypeCode)
      if (!currentNumberTmp) return;
      const currentNumber = currentNumberTmp.lastNumber  
      let AllowSeparateNumber = false // 同意拆桌
      let AllowUniteNumber = false    // 同意併桌

      // 3. 判斷 & 詢問是否同意拆桌
      const splitCount = parseInt(deskData.MiniNumber)
      const shouldAskSplitDesk = ( splitCount > 0 && deskData.SplitNumber === '1' && ManCount >= splitCount)
      if (shouldAskSplitDesk) await showConfirm("是否同意拆桌？", "同意", "不同意")
        // 點擊同意執行
        .then(res => { AllowSeparateNumber = true; this.clearConfirm() })
        // 點擊不同意執行 => 關閉 confirmn 視窗
        .catch(rej => { this.clearConfirm() })

      // 4. 判斷 & 詢問是否同意併桌
      const unitCount = parseInt(deskData.UniteMiniNumber)
      const shouldAskUnitDesk = ( unitCount > 0 && deskData.UniteNumber === '1' && ManCount <= unitCount)
      if (shouldAskUnitDesk) await showConfirm("是否同意併桌？", "同意", "不同意")
        // 點擊同意執行
        .then(res => { AllowUniteNumber = true; this.clearConfirm() })
        // 點擊不同意執行 => 關閉 confirmn 視窗
        .catch(rej => { this.clearConfirm() })

      // 5. 組合成要建立的候位資料
      const data = {
        act: "addwaitingposition",
        Name: (name!='' && gender!='') ? name + gender: "門店候位",
        Number: parseInt(currentNumber) + 1,
        Account: phone,
        ManCount: ManCount,
        KidCount: kidCount,
        KidTablewareCount:KidTablewareCount,
        DeskID: deskData.DeskTypeCode,
        DeskTypeID: deskData.GID,
        AllowSeparateNumber,
        AllowUniteNumber,
        WaitTags: WaitTags.join(',')
      }
    
      // 6. 執行資料建立
      const result = await this.$store.dispatch('createWaitingQueue', data)
      this.clearInputForm(); //清除欄位
      this.inputFocus = 'people'
      //7. 重新更新一次候位資料
      await this.$store.dispatch('fetchWaitingQueue');

      if (result.error) return showAlert(result.msg)
      if (this.RequestWaitMSG !== '') showAlert(this.RequestWaitMSG)
    },
    // 取 Logo 網址
    async fetchLogoUrl(EnterpriseID) {
      this.logoUrl = undefined
      const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }

      // // 取 baseUrl
      // const { data: baseData } = await axios.post('https://8012.jh8.tw/Public/AppVipOneEntry.ashx', {"act":"db_name","EnterPriseID": EnterpriseID}, head)
      // if (baseData.ErrorCode !== '0') return
      // const base = baseData.Remark

      // 取檔案位置
      const dataTmp = await axios.post('https://8012.jh8.tw/Public/AppNCWOneEntry.ashx', {"act":"getapplogo","EnterPriseID": EnterpriseID}, head)
      .catch(err => {
        if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
      })
      if (!dataTmp) return; //萬一datatmp.data沒有值時.
      const { data: fileData } = dataTmp;
      if (fileData.ErrorCode !== '0') return
      const src = JSON.parse(fileData.Remark)[0]
      if (!src.Dir || src.Dir === '' || !src.FileName || src.FileName === '') return

      // 存入 logoUrl
      // this.logoUrl = `https://${base}.jinher.com.tw${src.Dir}${src.FileName}`
			// 取號的logoUrl改為jh8
      // this.logoUrl = `https://${base}.jh8.tw${src.Dir}${src.FileName}`
      this.logoUrl = `${store.state.baseInfo.baseHoHttp}/${src.Dir}${src.FileName}`
    },
  },
  watch: {
    "form.KidCount": function (newVal, oldVal) {
      this.KidTablewareCount = 0 //有變化時,餐具歸0
      if(this.form.KidCount != -1) {
        setTimeout(() => {
          this.kidTablewareModal = true
        } , 500)
      }      
    }
  }
}
</script>