<template>
  <div style="padding-bottom:24px" v-if="waitData && waitingQueue">
    <!-- 商家店號、圖片 -->
    <div class="p-4 text-center login-bg">
      <img class="mb-3" v-if="logoUrl" :src="logoUrl" style="max-height: 56px">
      <!-- 如無圖片則顯示名稱 -->
      <h3 v-else class="fw-bolder mb-3">{{waitData.EnterpriseName}}</h3>
      <!-- 分店資訊 -->
      <div><span class="badge bg-dark fs-4 px-4 rounded-pill mb-3">{{waitData.ShopName}}</span></div>
      <!-- <p class="mb-0" v-if="waitData.tel">{{waitData.tel}}</p> -->
      <p class="mb-0" v-if="waitData.Addr">{{waitData.Addr}}</p>
    </div>
    <div class="container" style="max-width: 480px">
      <span class="d-none">User {{ $route.params.id }}</span>
      <div class="text-center my-3">
        <p class="mb-0 text-black-50">候位資訊 ( 餐期: {{waitData.MealCount}} )</p>
        <p class="mb-0" v-if="waitData.Name !== '門店候位'">
          {{waitData.Name}} 您好，您的序號：<b class="fs-1 text-waiting">{{`${waitData.DeskID}${waitData.Number}`}}</b>
        </p>
      </div>
      <!-- 等待組數 -->
      <div class="text-center p-4 rounded-xl border border-2 shadow-sm w-75 mx-auto">
        <template v-if="waitData.OrderStateID === 1">
          <p class="text-black-50 mb-1">候位順序</p>
          <span class="badge bg-light px-5"><h1 class="display-1 fw-bold mb-0 text-waiting">{{numberDiff}}</h1></span>
          <!-- 預計等候時間 <b class="text-waiting w3-xlarge">30</b> 分鐘 -->
          <!-- <div class="w3-padding-16">
            <div class="w3-btn w3-block w3-large w3-border w3-round-large w3-border-dark-gray mt-1">取消候位</div>
          </div>
          <div class="w3-center w3-opacity">如須放棄，請按取消候位。</div> -->
        </template>
        <!-- 已備座 -->
        <template v-if="waitData.OrderStateID === 6">
          <span class="badge bg-light text-waiting px-4 mb-2"><h1 class="h1 fw-bold mb-0">您的座位已備妥</h1></span>
          <br>感謝耐心等候，請盡速前往報到
          <!-- ，<br>位置將保留至 <b class="text-waiting w3-xlarge">6：30</b> 下午 -->
        </template>
        <!-- 已過號 -->
        <template v-if="waitData.OrderStateID === 7">
          <span class="badge bg-light px-4 mb-2"><h1 class="h1 text-waiting fw-bold mb-0">已過號</h1></span>
          <br>很抱歉，請重新取號，<br>期望能再次為您服務。
        </template>
        <!-- 已入席 -->
        <template v-if="waitData.OrderStateID === 5">
          <span class="badge bg-light px-4 mb-2"><h1 class="h1 text-waiting fw-bold mb-0">候位已入座</h1></span>
          <br>感謝您的光臨，<br>希望下次還有機會為您服務。
        </template>
      </div>
      <!-- 備註 -->
      <ol class="my-3">
        <div class="mb-2" style="margin-left:-1rem">親愛的貴賓您好，謝謝您的等候；</div>
        <li>入座順序依「現場叫號」為主，叫號未到即為過號。</li>
        <li>若過號，需請您重新抽取號碼單。</li>
        <li>本號碼單為 <b>{{waitData.CreateDate.substr(0,10)}}</b> 的第 <b>{{waitData.MealCount}}</b> 餐期，不得使用於其他餐期，非號碼單餐期本單無效。</li>
        <div class="my-2 " style="margin-left:-1rem">【 謝謝您蒞臨本店。更感謝您的耐心等候 】<br>碳佐麻里。{{waitData.ShopName}}<br>TEL：{{waitData.tel}}</div>
      </ol>
    </div>
    <!-- 季河技術支援宣告 -->
    <div class="fixed-bottom w-100 text-center bg-white">
      <small><a class="text-decoration-none text-secondary" href="https://www.jinher.com.tw/page1.html" target="_blank">Power by JINHER</a><span class="text-black-50 ms-2">v.{{getVersion}}</span></small>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import store from '../store'
import { setLoading } from '../libs/appHelper.js'
import { onBeforeMount, computed, ref } from '@vue/composition-api'
axios.defaults.timeout = 15000;
const waitData = ref(undefined)
const waitingQueue = ref(undefined)
const logoUrl = ref(undefined)

const numberDiff = computed(() => {
  const queue = waitingQueue.value
  if (!queue || !waitData.value) return 1
  const number = waitData.value.Number
  const diff = queue.indexOf(queue.find(i => i.Number === number))
  return (diff !== -1) ? diff + 1 : 1
})

// 取 Logo 網址
async function fetchLogoUrl(EnterpriseID) {
  logoUrl.value = undefined
  const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }

  // // 取 baseUrl
  // const { data: baseData } = await axios.post('https://8012.jh8.tw/Public/AppVipOneEntry.ashx', {"act":"db_name","EnterPriseID": EnterpriseID}, head)
  // if (baseData.ErrorCode !== '0') return
  // const base = baseData.Remark

  // 取檔案位置
  const dataTmp = await axios.post('https://8012.jh8.tw/Public/AppNCWOneEntry.ashx', {"act":"getapplogo","EnterPriseID": EnterpriseID}, head)
    .catch(err => {
      if (/Network Error|timeout/.test(err)) this.$store.commit('setNetworkError', true);
    })
  if (!dataTmp) return; //萬一datatmp.data沒有值時.
  const { data: fileData } = dataTmp;
  if (fileData.ErrorCode !== '0') return
  const srcTmp = JSON.parse(fileData.Remark)
  if (!Array.isArray(srcTmp) || (Array.isArray(srcTmp) && !srcTmp.length) ) return;
  const src = srcTmp[0] || {}
  if (!src.Dir || src.Dir === '' || !src.FileName || src.FileName === '') return

  // 存入 logoUrl
  //logoUrl.value = `https://${base}.jinher.com.tw${src.Dir}${src.FileName}`
  logoUrl.value = `${store.state.baseInfo.baseHoHttp}/${src.Dir}${src.FileName}` 
}

// 取候位資訊
async function fetchWaitData(pathData) {
  waitData.value = undefined
  waitingQueue.value = undefined
  setLoading(true)

  const EnterpriseID = pathData.params.id

  // 取 Logo 網址
  fetchLogoUrl(EnterpriseID)
  // 確認是否取到顧客的預約資訊
  const ID = pathData.query.i
  const wData = await store.dispatch('fetchWaitInfo', {EnterpriseID, ID})
  // 如果有錯 / 找不到直接中斷
  if (wData.error) return setLoading(false)

  // 取得目前的候位資訊
  const {ShopID} = wData
  await store.dispatch('fetchWaitingQueue', {EnterpriseID, ShopID})
  // 如果有錯 / 找不到直接中斷
  const waitList = store.state.waitQueueList
  if (waitList.length === 0) return setLoading(false)

  // 取得目前已叫號的最新號碼
  const wQueue = waitList
                  .filter(wait => wait.DeskID === wData.DeskID && (wait.OrderStateID === 1 || wait.OrderStateID === 6))
                  .sort((a, b) => { return a.Number - b.Number })

  // final: 設定畫面所需的變數
  setLoading(false)
  waitingQueue.value = wQueue
  waitData.value = wData
}

// 取候位資訊 => 每隔幾秒重撈一次
async function fetchWaitDataCycle(pathData) {
	// console.log('fetchWaitDataCycle-pathData: ', pathData);	// @@
  const EnterpriseID = pathData.params.id

  // 確認是否取到顧客的預約資訊
  const ID = pathData.query.i
  const wData = await store.dispatch('fetchWaitInfo', {EnterpriseID, ID})
  // 如果有錯 / 找不到直接中斷
  if (wData.error) return setLoading(false)

  // 取得目前的候位資訊
  const {ShopID} = wData
  await store.dispatch('fetchWaitingQueue', {EnterpriseID, ShopID})
  // 如果有錯 / 找不到直接中斷
  const waitList = store.state.waitQueueList
  if (waitList.length === 0) return setLoading(false)

  // 取得目前已叫號的最新號碼
  const wQueue = waitList
                  .filter(wait => wait.DeskID === wData.DeskID && (wait.OrderStateID === 1 || wait.OrderStateID === 6))
                  .sort((a, b) => { return a.Number - b.Number })

  // final: 設定畫面所需的變數
  waitingQueue.value = wQueue
  waitData.value = wData

  // 狀態若為 -> 5: 已入席, 7: 已過號 ==> 不再重撈資料
  const OrderStateID = waitData.value.OrderStateID
  if ((OrderStateID === 5) || (OrderStateID === 7)) {
    clearInterval(this.cycleId)
  }
}

export default {
  name: 'Reservations',
  setup(props, context) {

    onBeforeMount(() => fetchWaitData(context.root.$route) )

    return {waitData, waitingQueue, numberDiff, fetchWaitData, fetchWaitDataCycle, logoUrl}
  },
  data() {
    return {
      cycleId: null
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.fetchWaitData(to)
    next()
  },
  created() {
    // 每5秒重刷一次 (5000)
    this.cycleId = setInterval(() => {
      this.fetchWaitDataCycle(this.$route)
    }, 5000)
  },
  computed: {
    // 版本號
    getVersion() {
      return this.$store.getters.getStateVersion
    }
  }
}
</script>
<style>
  .jh-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffffde;
    text-align: center;
  }
</style>
