<template>
  <div id="app" class="full-height" :class="{'expired-color':(todoTitle === '過號歷史紀錄'),'entered-color':(todoTitle === '入席歷史紀錄')}">

    <!-- 畫面載入動畫 -->
    <div v-if="isLoading" class="w3-modal w3-display-container loader-modal" style="display: block; z-index: 9999" v-cloak>
      <div class="w3-modal-content w3-center w3-padding-24 w3-text-black w3-large w3-round w3-display-middle w3-card flex-center loader-container">
        <img src="./assets/images/loading.svg">
      </div>
    </div>

    <!-- Alert 彈窗 -->
    <div class="w3-modal app-modal" v-if="$store.state.customModal.type == 'alert'" style="z-index: 9999;" v-cloak>
      <div class="w3-modal-content w3-card-4 w3-round" style="max-width: 380px;">
        <div class="w3-container">
          <!-- 文字提示 -->
          <p class="w3-container w3-padding-16 w3-center w3-xlarge w3-margin-top" v-html="$store.state.customModal.text"></p>
          <div class="w3-section w3-center">
            <button class="w3-button w3-round w3-large primary-color" style="width:49%" @click="$store.commit('setCustomModal', { type: '', text: '' })">確定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm 彈窗 -->
    <div class="w3-modal app-modal" v-if="$store.state.customModal.type == 'confirm'" v-cloak>
      <div class="w3-modal-content w3-card-4 w3-round" style="max-width: 400px;">
        <div class="w3-container">
          <!-- 文字提示 -->
          <p class="w3-container w3-padding-16 w3-center w3-xlarge w3-margin-top" v-html="$store.state.customModal.text"></p>
          <div class="w3-section w3-center w3-cell-row">
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large w3-dark-gray" @click="$store.state.promise.reject()">{{$store.state.customModal.cancelText}}</button>
            </div>
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large primary-color" style="margin:4px" @click="$store.state.promise.resolve()">{{$store.state.customModal.confirmText}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Prompt 彈窗 -->
    <div class="w3-modal app-modal" v-if="$store.state.customModal.type == 'prompt'" v-cloak>
      <div class="w3-modal-content w3-card-4 w3-round" style="max-width: 400px;">
        <div class="w3-container">
          <!-- 文字提示 -->
          <p class="w3-container w3-padding-16 w3-center w3-xlarge w3-margin-top" v-html="$store.state.customModal.text"></p>
          <input class="w3-input w3-border w3-round w3-section" type="text"  v-model="userphone" placeholder="帳號" name="text">
          <input class="w3-input w3-border w3-round w3-section" type="password"  v-model="password" placeholder="密碼" name="password">
          <div class="w3-section w3-center w3-cell-row">
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large w3-dark-gray" @click="$store.state.promise.reject()">取消</button>
            </div>
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large primary-color" style="margin:4px" @click="$store.state.promise.resolve()">確定</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Prompt 彈窗 (設定出單機IP) -->
    <div class="w3-modal app-modal" v-if="prinIpModal" v-cloak>
      <div class="w3-modal-content w3-card-4 w3-round" style="max-width: 400px;">
        <div class="w3-container">
          <!-- 文字提示 -->
          <p class="w3-container w3-padding-16 w3-center w3-xlarge w3-margin-top">設定出單機</p>
          <span>出單機 IP</span>
          <input class="w3-input w3-border w3-round w3-section" type="string"  v-model="prinip" placeholder="請輸入IP位址" name="ip" v-on:keyup.enter="onOK">
          <span>單據格式</span>
          <br>
          <input style="margin-top: 10px;" class="w3-radio" type="radio" v-model="prinFolder" value="default" /><label>預設</label>
          <input style="margin-left: 15px;" class="w3-radio" type="radio" v-model="prinFolder" :value="EnterpriseID" /><label>{{EnterpriseID}}</label>
          <br>
          <div class="w3-section w3-center w3-cell-row">
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large border" @click="testPrint">試印</button>
            </div>
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large w3-dark-gray" @click="onCancel">取消</button>
            </div>
            <div class="w3-cell" style="padding:0 4px">
              <button class="w3-button w3-block w3-round w3-large primary-color" style="margin:4px" @click="onOK">儲存</button>
            </div>
          </div>
					<div class="w3-section w3-text-red">修改設定：請先按[儲存]，再進來[試印]！</div>
        </div>
      </div>
    </div>

    <!-- 預載 loading.svg -->
    <img src="./assets/images/loading.svg" style="right: -999999px;position:fixed">

    <!-- 頂功能列 -->
    <header class="header w3-cell-row w3-large primary-color" v-if="$route.path == '/' || $route.path == '/login' || $route.path == '/number_taker' || $route.path == '/dashboard'">
      <div class="w3-cell w3-cell-middle w3-left-align" style="width:20%">
        <span v-if="$route.path !== '/login'" @click="toggleSideMenu">
        <FAI icon="bars" size="lg" />
        <span class="ml-2">{{headName}}</span>
      </span>
      </div>
      <div class="w3-cell w3-cell-middle w3-center" style="width:65%">
        {{headTitle}}
      </div>
      <div class="w3-cell w3-cell-middle w3-right-align" style="width:15%">
        <span v-if="$route.path === '/dashboard'" @click="reload">
          <span class="w3-hide-small mr-1">手動刷新</span>
          <FAI icon="sync-alt" />
        </span>
      </div>
    </header>


    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav v-if="isSideMenu && $store.getters.isLogin" class="w3-sidebar w3-bar-block w3-card w3-large w3-padding-16 w3-white" v-cloak>
        <div class="w3-overlay w3-transparent" style="display:block;z-index:-1" @click="closeMenu"></div>
        <div @click="enableDebug" class="w3-bar-item w3-border-bottom w3-margin-bottom" v-if="$store.state.baseData.userName">
          <span style="color: gray">{{EnterpriseName}}</span>
          <br>
          {{$store.state.baseData.userName}}
          <button class="w3-padding-small w3-block w3-border w3-round w3-section-8" @click="logout">登出</button>
        </div>
        <div v-if="$route.path === '/dashboard'" class="w3-bar-item w3-btn" @click="changeMealTime">
          餐期設置
          <div class="w3-large w3-badge primary-color" style="min-width: 27px; border-radius: 14px; margin: 0.25rem;">{{currentMealCount}}</div>
        </div>
        <div class="w3-bar-item w3-btn" @click="showPrinIp">其他設置</div>
        <div class="w3-bar-item w3-btn" @click="logout">重新選擇門店</div>
        <!-- <div class="w3-bar-item w3-btn w3-text-gray">設定</div> -->
      </nav>
      <nav v-if="isSideMenu && !$store.getters.isLogin" class="w3-sidebar w3-bar-block w3-card w3-large w3-padding-16 w3-white" v-cloak>
        <div class="w3-overlay w3-transparent" style="display:block;z-index:-1" @click="closeMenu"></div>
        <div class="w3-bar-item w3-btn"><button class="w3-padding-small w3-block w3-border w3-light-gray w3-round w3-text-gray" @click="$router.push('/login')">登入</button></div>
      </nav>
    </transition>

    <div class="w3-modal w3-white app-modal" v-if="networkError" style="z-index: 10000;" v-cloak>
      <div class="flex-center full-height">
        <div class="text-center">
          <svg width="144" xmlns="http://www.w3.org/2000/svg" xmlns:v="https://vecta.io/nano" viewBox="0 0 160 120"><linearGradient id="A" gradientUnits="userSpaceOnUse" x1="80.45" y1="120" x2="80.45" y2="84"><stop offset="0" stop-color="#fff"/><stop offset="1" stop-color="#d9d9d9"/></linearGradient><path d="M160 120c-14.1-21.3-44.5-36-79.6-36S15 98.7.9 120" fill="url(#A)"/><g fill="#ccc"><ellipse cx="80.7" cy="94.8" rx="15.9" ry="5.3"/><path d="M38.7 108.8h0c-1.3 0-2.4-1.1-2.4-2.4v-6.3c0-1.3 1.1-2.4 2.4-2.4h0c1.3 0 2.4 1.1 2.4 2.4v6.3c0 1.4-1.1 2.4-2.4 2.4z"/></g><path d="M47.3 92.4c0 7.2-3.8 9.5-8.5 9.5s-8.5-2.3-8.5-9.5 3.8-16.6 8.5-16.6 8.5 9.4 8.5 16.6z" fill="#999"/><path d="M122.7 99h0a1.54 1.54 0 0 1-1.5-1.5v-4.1a1.54 1.54 0 0 1 1.5-1.5h0a1.54 1.54 0 0 1 1.5 1.5v4.1a1.54 1.54 0 0 1-1.5 1.5z" fill="#ccc"/><path d="M128.2 88.2c0 4.7-2.5 6.2-5.6 6.2s-5.6-1.5-5.6-6.2 2.5-10.8 5.6-10.8 5.6 6.1 5.6 10.8z" fill="#999"/><circle cx="25.1" cy="45.9" r="5.3" fill="#ccc"/><circle cx="55.5" cy="26.8" r="4.6" fill="none" stroke="#e6e6e6" stroke-width="1.984" stroke-linejoin="round"/><circle cx="136.9" cy="55.8" r="3.3" fill="#e6e6e6"/><g fill="#ccc"><circle cx="155.4" cy="46" r="1.3"/><circle cx="2" cy="55.8" r="2"/></g><g fill="none"><g stroke="#e6e6e6" stroke-width="3.967" stroke-linecap="round" stroke-miterlimit="10"><path d="M105.8 26.1h7.9"/><path d="M109.8 22.1v8"/></g><path d="M84 3.6v1.5m-3-.7l.7 1.3m-2.9.9l1.3.7M78 9.6h1.5m-.7 2.9l1.3-.7m.9 2.9l.7-1.3m2.3 2.1V14m2.9.7l-.7-1.3m2.9-.9l-1.3-.7m2.1-2.2h-1.5m.7-3l-1.3.7m-.9-2.9l-.7 1.3" stroke-linecap="round" stroke-miterlimit="10" stroke="#ccc" stroke-width="1.322"/></g><g class="wifiWave"><circle cx="97.9" cy="71" r="10.6" fill="#2196f3"/><g fill="#fff"><path d="M97.9 73h0c-1.1 0-2-.9-2-2v-5.3c0-1.1.9-2 2-2h0c1.1 0 2 .9 2 2V71c-.1 1.1-1 2-2 2z"/><circle cx="97.9" cy="76.3" r="2"/></g><path d="M74.4 77.2l5.2 7.1c.5.7 1.6.7 2.1 0l5.2-7.1c.5-.6.3-1.5-.4-1.9-1.7-1-3.8-1.6-5.9-1.6s-4.2.6-5.9 1.6c-.6.4-.8 1.3-.3 1.9z" fill="gray"/><path d="M57.8 54.8l3.1 4.3c.4.6 1.2.7 1.8.3 5.1-3.5 11.3-5.5 17.9-5.5s12.8 2 17.9 5.5c.6.4 1.4.3 1.8-.3l3.1-4.3c.4-.6.3-1.4-.3-1.9-6.4-4.5-14.2-7.1-22.6-7.1s-16.2 2.6-22.6 7.1c-.4.4-.6 1.3-.1 1.9zm31.6 6.9c-2.7-1-5.7-1.6-8.8-1.6-5.2 0-10 1.6-14 4.2-.6.4-.8 1.3-.4 1.9l3.1 4.3c.4.6 1.2.7 1.8.3 2.7-1.8 6-2.8 9.5-2.8 1.7 0 3.3.2 4.8.7.6-2.7 2-5.1 4-7z" fill="#e6e6e6"/></g></svg>
          <p class="w3-opacity w3-medium" style="white-space: nowrap;">網路不給力，請檢查設定...</p>
          <button class="w3-btn w3-round w3-blue w3-large w3-margin-top" @click="reloadPage">刷新頁面</button>
        </div>
      </div>
    </div>

    <div style="height:calc(100% - var(--header-height)">
      <!-- 內容區塊 (router layout/view 放在這) -->
      <transition name="slide-fade" mode="out-in">
        <keep-alive :max="6">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive>
      </transition>
    </div>
  </div>
</template>

<script>

import { showAlert, showConfirm, setLoading, showPrompt } from './libs/appHelper.js'
import { deviseFunction } from './libs/deviseHelper.js'
import { currentTime } from './libs/timeHelper.js'
import performAPI from './libs/performAPI.js'
import VConsole from 'vconsole'
import md5 from 'md5'
import { L_Obj } from './fun1.js'	// 共用fun在此!

import { library } from '@fortawesome/fontawesome-svg-core'
import { faBars, faSyncAlt } from '@fortawesome/free-solid-svg-icons'
library.add( faBars, faSyncAlt )

const LS_key1 = 'loginForm'
	,LS1 				= L_Obj.read(LS_key1) || {}
// console.log('LS1loginForm-LS1: ', LS1);	// @@

export default {
  name: 'app',
  data() {
    return {
      state: this.$store.state,
      enabledCount: 0,
      EnterpriseID: '',
      prinIpModal: false,
      prinip: '',
      prinFolder: '',
      userphone: LS1.user || '',
      password: LS1.pwd || '',
      isSideMenu: false,
      time: currentTime(),
      //networkError: false,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLoading() { return this.state.isLoading },
    headTitle() { return this.state.headTitle },
    headName() { return this.state.headName },
    EnterpriseName() { return this.state.baseData.EnterpriseName },
    // 當下餐期
    currentMealCount() { return this.state.baseData.MealCount },
    // 尚未處理完的候位筆數 (必須為 0 才能更換餐期)
    waitingQueueCount() {
      return this.state.waitQueueList.filter(queue => queue.Name !== 'meatime' && queue.MealCount === this.currentMealCount && (queue.OrderStateID === 1 || queue.OrderStateID === 6)).length
    },
    todoTitle() { return this.state.baseData.todoTitle },
    //網路狀態異常標記
    networkError() { return this.state.networkError },
  },
  // created() {
		/** @PS: 千芳-試拿掉(loading太重問題~ */
    // 2020-01-30: 暫時先停用websocket,因為原本websocket會問一次,
    // 原本每三十秒重刷一次 (30000)
    // setInterval(() => { if (this.$store.getters.isLogin) this.reload() }, 30000)
  // },
  methods: {
    //刷新頁面
    reloadPage() {
      return location.reload();
      //$router.push(1)
    },
    // 刷新資料
    async reload() {
      this.time = currentTime()
			// console.log('刷新資料_time: ', this.time);	// @@

      await this.$store.dispatch('fetchWaitingDesk')	// 取得桌號資料
      this.$store.dispatch('fetchWaitingTag')					// 取得候位標籤資料
			/** @PS: mqtt有做了.. */
      this.$store.dispatch('fetchWaitingQueue')				// 取得候位資料
    },
    // 開啟出單機 IP 表單
    showPrinIp() {
			const state = this.state
      this.EnterpriseID = state.baseData.EnterpriseID.toLocaleLowerCase()

      this.prinip = state.prinip
      // console.log('開啟出單機-prinip: ', this.prinip);	// @@
      this.prinFolder = state.prinFolder
      this.prinIpModal = true
			this.closeMenu()
    },
    // 關閉出單機 IP 表單-(彈窗-取消
    onCancel() {
      this.prinIpModal = false
    },
    // 關閉出單機 IP 表單-(彈窗-確定
    onOK() {
			this.delPrintParam();
			this.state.prinip = this.prinip;
			this.state.prinFolder = this.prinFolder;

      this.prinIpModal = false
    },
    // 重設出單機參數
    delPrintParam() {
			deviseFunction('removefiles', JSON.stringify([{"FileName":"waitticket.prn"}]));

      this.setPrinIp(this.prinip)
      this.setPrinFolder(this.prinFolder)
			// console.log('存入出單機-setPrinIp: '+this.prinFolder, this.prinip);	// @@
    },
    // 存入出單機 IP (並存入全域參數)
    setPrinIp(ip) {
			if (ip) {
				this.$store.commit('setPrinip', ip)

				deviseFunction('SetSP', JSON.stringify({ spName: "prnip", spValue: ip }))
				setTimeout(() => deviseFunction('GetSP', 'prnip', '"cbFbSetPrinip"') , 500)
			}
    },
    // 存入出單機格式 (並存入全域參數)
    setPrinFolder(folder) {
			if (folder) {
				deviseFunction('SetSP', JSON.stringify({ spName: "prnfolder", spValue: folder }))
				setTimeout(() => deviseFunction('GetSP', 'prnfolder', '"cbFbSetPrinFolder"') , 500)
			}
    },
    // 試印出單機
    testPrint() {
      setLoading(true)
			// this.delPrintParam();	// 為了取消,不要存數據,要按確定後寫入值再來試印,不要馬上改馬上測!!

			// console.log('試印出單機-prinip: ', this.state.prinip);	// @@
      setTimeout(() => {
        setLoading(false)
        const printParams = {
          StoreName: '印單測試',
          MealCount: '1',
          Number: '999',
          Code: 'T',
          QRcode: "https://www.jinher.com.tw/page0.html",
          prinip: this.state.prinip,
          ticketUrl: `https://web.jh8.tw/waiting/printFiles/${this.state.prinFolder}/waitticket.prn`,
        }
        deviseFunction('prnwait', JSON.stringify(printParams))
      } , 1500)
    },
    // 更換餐期(確認)
    changeMealTime() {
      if (this.waitingQueueCount > 0) return showAlert('請先將當前候位處理完，才能更換餐期。')
      this.closeMenu()
      showConfirm('是否確認更換餐期？')
        // 點擊確認執行
        .then(() => { this._doChangeMealTime() ; this.$store.commit('setCustomModal', { type: '', text: '' }) })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => { this.$store.commit('setCustomModal', { type: '', text: '' }) })
    },
    // 更換餐期(執行)
    async _doChangeMealTime() {
      setLoading(true)
      // 建立新餐期
      await this.$store.dispatch('createWaitingQueue', {act: "addwaitingposition", Name: "meatime", MealCount: this.currentMealCount + 1})
      // 重新刷新所有資料
      await this.$store.dispatch('fetchWaitingDesk')
      this.$store.dispatch('fetchWaitingTag')
      this.$store.dispatch('fetchWaitingQueue')

      setLoading(false)
      showAlert('餐期更換完成')
    },
    // 清空確認視窗
    clearConfirm() {
      return this.$store.commit('setCustomModal', { type: '', text: '' })
    },
    // 切換顯示 sideMenu
    async toggleSideMenu() {
      if (this.isSideMenu === true) return this.isSideMenu === false
      if (this.$route.path !== '/number_taker') return this.isSideMenu = !this.isSideMenu

      const {EnterpriseID} = this.state.baseData

      // 請使用者輸入密碼
      await showPrompt(`請輸入帳號密碼解鎖`)
        .then(() => this.clearConfirm() )  // 點擊確認執行
        .catch(() => this.clearConfirm() ) // 點擊取消執行
      if (this.password === '') return

      // 驗證使用者帳密
      const url = 'https://8012.jh8.tw/public/AppNCWOneEntry.ashx'
      const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }
      const body = {
        act: "login",
        EnterpriseID: EnterpriseID,
        userphone: this.userphone,
        userPwd: md5(this.password),
      }

      const req = await performAPI(url, {method: 'post', body, head})
      this.password = ''
      if (req.ErrorCode !== '0') return showAlert('密碼錯誤！')
      if (req.ErrorCode === '0') return this.isSideMenu = true

    },
    // 登出
    logout() {
      const EnterpriseID = this.state.baseData.EnterpriseID
      this.$store.commit('setLogin', {userName: '', userCode: '', ShopID: '', EnterpriseID})
      this.$store.commit('setHeadTitle', '候位管理系統')
      this.closeMenu();
      this.$router.push('/login')
      this.state.baseData.todoTitle = ''
    },
    // 關閉-側選單
    closeMenu() {
			this.isSideMenu = false
    },
    // 回到首頁
    redirectToRoot() {
      this.$router.push('/')
      this.$router.go(0)
    },
    // 啟用 debug 工具: 在 iPad, iPhone 的畫面上顯示 console 畫面
    enableDebug() {
      if (this.enabledCount === 7) return

      this.enabledCount += 1
      if (this.enabledCount === 7) new VConsole()
    }
  },
  // 斷網偵測
  mounted() {
    window.addEventListener('offline', ()=>{
      this.$store.commit('setNetworkError', true);
      //this.networkError = true
    });
    window.addEventListener('online',()=>{
      this.$store.commit('setNetworkError', false);
      //this.networkError = false
    });
  },
}
</script>

<style scoped>
/* svg animation */
.wifiWave {
  animation: wobble 3s infinite;
  transform-origin: bottom
  }
  @keyframes wobble {0% {transform: rotate(0deg);}10% {transform: rotate(-6deg);}15% {transform: rotate(6deg);}20% {transform: rotate(-3.6deg);}25% {transform: rotate(2.4deg);}30% {transform: rotate(-1.2deg);}35% {transform: rotate(0deg);}}
</style>
