<template>
  <div id="app" class="h-100" :class="{'expired-theme':(todoTitle === '過號歷史紀錄'),'entered-theme':(todoTitle === '入席歷史紀錄')}">

    <!-- 畫面載入動畫 -->
    <template v-if="isLoading">
      <div class="position-fixed vw-100 vh-100 d-flex align-items-center justify-content-center" style="z-index: 9999">
        <div class="spinner-border text-gold border-5" style="width: 5rem; height: 5rem;border-width: 8px !important" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </template>

    <!-- Alert 彈窗 -->
    <template v-if="$store.state.customModal.type == 'alert'">
      <div class="modal d-block" style="z-index: 9999;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white">
            <div class="modal-body py-5">
              <p class="h4 text-center mb-0" v-html="$store.state.customModal.text"></p>
            </div>
            <div class="modal-footer border-top-0">
              <div class="row w-100 g-2">
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100 py-2" @click="$store.commit('setCustomModal', { type: '', text: '' })">確定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>

    <!-- Confirm 彈窗 -->
    <template v-if="$store.state.customModal.type == 'confirm'">
      <div class="modal d-block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white">
            <div class="modal-body py-5">
              <p class="h4 text-center mb-0" v-html="$store.state.customModal.text"></p>
            </div>
            <div class="modal-footer border-top-0">
              <div class="row w-100 g-2">
                <div class="col">
                  <button type="button" class="btn btn-lg btn-secondary w-100 py-2" @click="$store.state.promise.reject()">{{$store.state.customModal.cancelText}}</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100 py-2" @click="$store.state.promise.resolve()">{{$store.state.customModal.confirmText}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>


    <!-- Prompt 彈窗 -->
    <template v-if="$store.state.customModal.type == 'prompt'">
      <div class="modal d-block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white">
            <div class="modal-body py-4">
              <p class="h4 text-center mb-4" v-html="$store.state.customModal.text"></p>
              <input class="form-control form-control-lg mb-3" type="text" v-model="userphone" placeholder="帳號" name="text">
              <input class="form-control form-control-lg" type="password"  v-model="password" placeholder="密碼" name="password">
            </div>
            <div class="modal-footer border-top-0">
              <div class="row w-100 g-2">
                <div class="col">
                  <button type="button" class="btn btn-lg btn-secondary w-100 py-2"  @click="$store.state.promise.reject()">取消</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100 py-2"  @click="$store.state.promise.resolve()">確定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>

    <!-- Prompt 彈窗 (設定出單機IP) -->
    <template v-if="prinIpModal">
      <div class="modal d-block">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-xl bg-dark text-white shadow-lg">
            <div class="modal-body p-4">
              <p class="h4 text-center mb-4">設定出單機</p>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label col-form-label-lg">出單機 IP</label>
                <div class="col-sm-9">
                  <input class="form-control form-control-lg mb-3" type="string"  v-model="prinip" placeholder="請輸入IP位址" name="ip" v-on:keyup.enter="onOK">
                </div>
            </div>
            <div class="row">
              <label for="inputPassword" class="col-sm-3 col-form-label col-form-label-lg">單據格式</label>
              <div class="col-sm-9 pt-2">
                <div class="form-check form-check-inline">
                  <input class="form-check-input col-form-label-lg ck-gold" type="radio" name="inlineRadioOptions" id="inlineRadio1" v-model="prinFolder" value="default">
                  <label class="form-check-label col-form-label-lg p-0" for="inlineRadio1">預設</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input col-form-label-lg ck-gold" type="radio" name="inlineRadioOptions" id="inlineRadio2" v-model="prinFolder" :value="EnterpriseID">
                  <label class="form-check-label col-form-label-lg p-0" for="inlineRadio2">{{EnterpriseID}}</label>
                </div>
              </div>
            </div>
            </div>
            <div class="modal-footer justify-content-start border-top-0">
              <small class="text-white-50">修改設定：請先按[儲存]，再進來[試印]！</small>
              <div class="row w-100 g-2">
                <div class="col">
                  <button type="button" class="btn btn-lg bg-white w-100" @click="testPrint">試印</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg btn-secondary w-100" @click="onCancel">取消</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-lg bg-gold w-100" @click="onOK">儲存</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show opacity-75"></div>
    </template>

    <!-- 預載 loading.svg -->
    <img src="./assets/images/loading.svg" style="right: -999999px;position:fixed">

    <!-- 頂功能列 -->
    <template v-if="$route.path == '/number_taker' || $route.path == '/dashboard'">
      <nav class="navbar fixed-top navbar-dark bg-dark p-0">
        <div class="container-fluid">
          <a class="navbar-brand text-muted text-decoration-none" v-if="$route.path !== '/login'" @click="toggleSideMenu">
            <svg xmlns="http://www.w3.org/2000/svg" class="me-2 align-text-top" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            <img class="img-fluid me-2 align-baseline" style="height: 16px" src="@/assets/images/tzml/logo_text.png" v-if="$route.path !== '/number_taker'">
            <span>{{headName}} - {{headTitle}}</span>
          </a>
          <div class="d-flex text-white" v-if="$route.path === '/dashboard'" @click="reload">
            手動刷新
            <svg xmlns="http://www.w3.org/2000/svg" class="ms-2 align-text-top" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 2.1l4 4-4 4"/><path d="M3 12.2v-2a4 4 0 0 1 4-4h12.8M7 21.9l-4-4 4-4"/><path d="M21 11.8v2a4 4 0 0 1-4 4H4.2"/></svg>
          </div>
          <div v-if="$route.path === '/number_taker'" class="text-right text-warning">* 星號為必填欄位</div>
        </div>
      </nav>
    </template>


    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav class="nav flex-column position-fixed h-100 w-100 fs-5" style="z-index: 1" v-if="isSideMenu && $store.getters.isLogin" @click.self="closeMenu">
        <div class="container position-absolute h-100 bg-white shadow-lg" style="padding-top: 40px; width: 200px">
          <template class="" v-if="$store.state.baseData.userName">
            <p class="m-0 pt-4 pb-3 px-2" @click="enableDebug">
              <span class="text-black-50">{{EnterpriseName}}</span><br>
              {{$store.state.baseData.userName}}
            </p>
            <button type="button" class="btn btn-light border w-100 mb-2" @click="logout">登 出</button>
          </template>
          <hr>
          <a class="nav-link link-dark text-decoration-none" v-if="$route.path === '/dashboard'" @click="changeMealTime">餐期設置 <span class="badge bg-dark align-text-bottom">{{currentMealCount}}</span></a>
          <a class="nav-link link-dark text-decoration-none" @click="showPrinIp">其他設置</a>
          <a class="nav-link link-dark text-decoration-none" @click="logout">重新選擇門店</a>
          <button type="button" class="btn btn-light border w-100" v-if="isSideMenu && !$store.getters.isLogin" @click="$router.push('/login')">登 入</button>
        </div>
      </nav>
    </transition>

    <!-- 斷網提示 -->
    <template v-if="networkError">
      <div class="modal d-block bg-white" style="z-index: 10000;">
          <!-- <div class="modal-dialog modal-fullscreen d-flex align-items-center justify-content-center"> -->
          <div class="modal-fullscreen d-flex align-items-center justify-content-center"><!--modal-dialog按不到button?-->
            <div class="text-center">
              <svg width="144" xmlns="http://www.w3.org/2000/svg" xmlns:v="https://vecta.io/nano" viewBox="0 0 160 120"><linearGradient id="A" gradientUnits="userSpaceOnUse" x1="80.45" y1="120" x2="80.45" y2="84"><stop offset="0" stop-color="#fff"/><stop offset="1" stop-color="#d9d9d9"/></linearGradient><path d="M160 120c-14.1-21.3-44.5-36-79.6-36S15 98.7.9 120" fill="url(#A)"/><g fill="#ccc"><ellipse cx="80.7" cy="94.8" rx="15.9" ry="5.3"/><path d="M38.7 108.8h0c-1.3 0-2.4-1.1-2.4-2.4v-6.3c0-1.3 1.1-2.4 2.4-2.4h0c1.3 0 2.4 1.1 2.4 2.4v6.3c0 1.4-1.1 2.4-2.4 2.4z"/></g><path d="M47.3 92.4c0 7.2-3.8 9.5-8.5 9.5s-8.5-2.3-8.5-9.5 3.8-16.6 8.5-16.6 8.5 9.4 8.5 16.6z" fill="#999"/><path d="M122.7 99h0a1.54 1.54 0 0 1-1.5-1.5v-4.1a1.54 1.54 0 0 1 1.5-1.5h0a1.54 1.54 0 0 1 1.5 1.5v4.1a1.54 1.54 0 0 1-1.5 1.5z" fill="#ccc"/><path d="M128.2 88.2c0 4.7-2.5 6.2-5.6 6.2s-5.6-1.5-5.6-6.2 2.5-10.8 5.6-10.8 5.6 6.1 5.6 10.8z" fill="#999"/><circle cx="25.1" cy="45.9" r="5.3" fill="#ccc"/><circle cx="55.5" cy="26.8" r="4.6" fill="none" stroke="#e6e6e6" stroke-width="1.984" stroke-linejoin="round"/><circle cx="136.9" cy="55.8" r="3.3" fill="#e6e6e6"/><g fill="#ccc"><circle cx="155.4" cy="46" r="1.3"/><circle cx="2" cy="55.8" r="2"/></g><g fill="none"><g stroke="#e6e6e6" stroke-width="3.967" stroke-linecap="round" stroke-miterlimit="10"><path d="M105.8 26.1h7.9"/><path d="M109.8 22.1v8"/></g><path d="M84 3.6v1.5m-3-.7l.7 1.3m-2.9.9l1.3.7M78 9.6h1.5m-.7 2.9l1.3-.7m.9 2.9l.7-1.3m2.3 2.1V14m2.9.7l-.7-1.3m2.9-.9l-1.3-.7m2.1-2.2h-1.5m.7-3l-1.3.7m-.9-2.9l-.7 1.3" stroke-linecap="round" stroke-miterlimit="10" stroke="#ccc" stroke-width="1.322"/></g><g class="wifiWave"><circle cx="97.9" cy="71" r="10.6" fill="#2196f3"/><g fill="#fff"><path d="M97.9 73h0c-1.1 0-2-.9-2-2v-5.3c0-1.1.9-2 2-2h0c1.1 0 2 .9 2 2V71c-.1 1.1-1 2-2 2z"/><circle cx="97.9" cy="76.3" r="2"/></g><path d="M74.4 77.2l5.2 7.1c.5.7 1.6.7 2.1 0l5.2-7.1c.5-.6.3-1.5-.4-1.9-1.7-1-3.8-1.6-5.9-1.6s-4.2.6-5.9 1.6c-.6.4-.8 1.3-.3 1.9z" fill="gray"/><path d="M57.8 54.8l3.1 4.3c.4.6 1.2.7 1.8.3 5.1-3.5 11.3-5.5 17.9-5.5s12.8 2 17.9 5.5c.6.4 1.4.3 1.8-.3l3.1-4.3c.4-.6.3-1.4-.3-1.9-6.4-4.5-14.2-7.1-22.6-7.1s-16.2 2.6-22.6 7.1c-.4.4-.6 1.3-.1 1.9zm31.6 6.9c-2.7-1-5.7-1.6-8.8-1.6-5.2 0-10 1.6-14 4.2-.6.4-.8 1.3-.4 1.9l3.1 4.3c.4.6 1.2.7 1.8.3 2.7-1.8 6-2.8 9.5-2.8 1.7 0 3.3.2 4.8.7.6-2.7 2-5.1 4-7z" fill="#e6e6e6"/></g></svg>
              <p class="text-nowrap mt-3">網路不給力，請檢查設定...</p>
              <button type="button" class="btn btn-light border w-100" @click="reloadPage">刷新頁面</button>
            </div>
          </div>
      </div>
    </template>

    <div class="h-100">
      <!-- 內容區塊 (router layout/view 放在這) -->
      <transition name="slide-fade" mode="out-in">
        <keep-alive :max="6">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive>
      </transition>
    </div>
  </div>
</template>

<script>

import { showAlert, showConfirm, setLoading, showPrompt } from './libs/appHelper.js'
import { deviseFunction } from './libs/deviseHelper.js'
import { currentTime } from './libs/timeHelper.js'
import performAPI from './libs/performAPI.js'
import VConsole from 'vconsole'
import md5 from 'md5'
import { L_Obj } from './fun1.js'	// 共用fun在此!

import { library } from '@fortawesome/fontawesome-svg-core'
import { faBars, faSyncAlt } from '@fortawesome/free-solid-svg-icons'
library.add( faBars, faSyncAlt )

const LS_key1 = 'loginForm'
	,LS1 				= L_Obj.read(LS_key1) || {}
// console.log('LS1loginForm-LS1: ', LS1);	// @@

export default {
  name: 'app',
  data() {
    return {
      state: this.$store.state,
      enabledCount: 0,
      EnterpriseID: '',
      prinIpModal: false,
      prinip: '',
      prinFolder: '',
      userphone: LS1.user || '',
      password: LS1.pwd || '',
      isSideMenu: false,
      time: currentTime(),
      //networkError: false,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLoading() { return this.state.isLoading },
    headTitle() { return this.state.headTitle },
    headName() { return this.state.headName },
    EnterpriseName() { return this.state.baseData.EnterpriseName },
    // 當下餐期
    currentMealCount() { return this.state.baseData.MealCount },
    // 尚未處理完的候位筆數 (必須為 0 才能更換餐期)
    waitingQueueCount() {
      return this.state.waitQueueList.filter(queue => queue.Name !== 'meatime' && queue.MealCount === this.currentMealCount && (queue.OrderStateID === 1 || queue.OrderStateID === 6)).length
    },
    todoTitle() { return this.state.baseData.todoTitle },
    //網路狀態異常標記
    networkError() { return this.state.networkError },
  },
  // created() {
		/** @PS: 千芳-試拿掉(loading太重問題~ */
    // 2020-01-30: 暫時先停用websocket,因為原本websocket會問一次,
    // 原本每三十秒重刷一次 (30000)
    // setInterval(() => { if (this.$store.getters.isLogin) this.reload() }, 30000)
  // },
  methods: {
    //刷新頁面
    reloadPage() {
      return location.reload();
      //$router.push(1)
    },
    // 刷新資料
    async reload() {
      this.time = currentTime()
			console.log('刷新資料_time: ', this.time);	// @@    
      await this.$store.dispatch('fetchWaitingDesk')	// 取得桌號資料
      this.$store.dispatch('fetchWaitingTag')					// 取得候位標籤資料
			/** @PS: mqtt有做了.. */
      this.$store.dispatch('fetchWaitingQueue')				// 取得候位資料
    },
    // 開啟出單機 IP 表單
    showPrinIp() {
			const state = this.state
      this.EnterpriseID = state.baseData.EnterpriseID.toLocaleLowerCase() 

      this.prinip = state.prinip
      // console.log('開啟出單機-prinip: ', this.prinip);	// @@
      this.prinFolder = state.prinFolder
      this.prinIpModal = true
			this.closeMenu()
    },
    // 關閉出單機 IP 表單-(彈窗-取消
    onCancel() {
      this.prinIpModal = false
    },
    // 關閉出單機 IP 表單-(彈窗-確定
    onOK() {
			this.delPrintParam();
			this.state.prinip = this.prinip;
			this.state.prinFolder = this.prinFolder;

      this.prinIpModal = false
    },
    // 重設出單機參數
    delPrintParam() {
			deviseFunction('removefiles', JSON.stringify([{"FileName":"waitticket.prn"}]));

      this.setPrinIp(this.prinip)
      this.setPrinFolder(this.prinFolder)
			// console.log('存入出單機-setPrinIp: '+this.prinFolder, this.prinip);	// @@
    },
    // 存入出單機 IP (並存入全域參數)
    setPrinIp(ip) {
			if (ip) {
				this.$store.commit('setPrinip', ip)

				deviseFunction('SetSP', JSON.stringify({ spName: "prnip", spValue: ip }))
				setTimeout(() => deviseFunction('GetSP', 'prnip', '"cbFbSetPrinip"') , 500)
			}
    },
    // 存入出單機格式 (並存入全域參數)
    setPrinFolder(folder) {
			if (folder) {
				deviseFunction('SetSP', JSON.stringify({ spName: "prnfolder", spValue: folder }))
				setTimeout(() => deviseFunction('GetSP', 'prnfolder', '"cbFbSetPrinFolder"') , 500)
			}
    },
    // 試印出單機
    testPrint() {
      setLoading(true)
			// this.delPrintParam();	// 為了取消,不要存數據,要按確定後寫入值再來試印,不要馬上改馬上測!!

			// console.log('試印出單機-prinip: ', this.state.prinip);	// @@
      setTimeout(() => {
        setLoading(false)
        const printParams = {
          StoreName: '印單測試',
          MealCount: '1',
          Number: '999',
          Code: 'T',
          QRcode: "https://www.jinher.com.tw/page0.html",
          prinip: this.state.prinip,
          ticketUrl: `https://web.jh8.tw/waiting/printFiles/${this.state.prinFolder}/waitticket.prn`,
        }
        deviseFunction('prnwait', JSON.stringify(printParams))
      } , 1500)
    },
    // 更換餐期(確認)
    changeMealTime() {
      if (this.waitingQueueCount > 0) return showAlert('請先將當前候位處理完，才能更換餐期。')
      this.closeMenu()
      showConfirm('是否確認更換餐期？')
        // 點擊確認執行
        .then(() => { this._doChangeMealTime() ; this.$store.commit('setCustomModal', { type: '', text: '' }) })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => { this.$store.commit('setCustomModal', { type: '', text: '' }) })
    },
    // 更換餐期(執行)
    async _doChangeMealTime() {
      setLoading(true)
      // 建立新餐期
      await this.$store.dispatch('createWaitingQueue', {act: "addwaitingposition", Name: "meatime", MealCount: this.currentMealCount + 1})
      // 重新刷新所有資料
      await this.$store.dispatch('fetchWaitingDesk')
      this.$store.dispatch('fetchWaitingTag')
      this.$store.dispatch('fetchWaitingQueue')

      setLoading(false)
      showAlert('餐期更換完成')
    },
    // 清空確認視窗
    clearConfirm() {
      return this.$store.commit('setCustomModal', { type: '', text: '' })
    },
    // 切換顯示 sideMenu
    async toggleSideMenu() {
      if (this.isSideMenu === true) return this.isSideMenu === false
      if (this.$route.path !== '/number_taker') return this.isSideMenu = !this.isSideMenu

      const {EnterpriseID} = this.state.baseData

      // 請使用者輸入密碼
      await showPrompt(`請輸入帳號密碼解鎖`)
        .then(() => this.clearConfirm() )  // 點擊確認執行
        .catch(() => this.clearConfirm() ) // 點擊取消執行
      if (this.password === '') return

      // 驗證使用者帳密
      const url = 'https://8012.jh8.tw/public/AppNCWOneEntry.ashx'
      const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }
      const body = {
        act: "login",
        EnterpriseID: EnterpriseID,
        userphone: this.userphone,
        userPwd: md5(this.password),
      }

      const req = await performAPI(url, {method: 'post', body, head})
      this.password = ''
      if (req.ErrorCode !== '0') return showAlert('密碼錯誤！')
      if (req.ErrorCode === '0') return this.isSideMenu = true

    },
    // 登出
    logout() {
      const EnterpriseID = this.state.baseData.EnterpriseID
      this.$store.commit('setLogin', {userName: '', userCode: '', ShopID: '', EnterpriseID})
      this.$store.commit('setHeadTitle', '候位管理系統')
      this.closeMenu();
      this.$router.push('/login')
      this.state.baseData.todoTitle = ''
    },
    // 關閉-側選單
    closeMenu() {
			this.isSideMenu = false
    },
    // 回到首頁
    redirectToRoot() {
      this.$router.push('/')
      this.$router.go(0)
    },
    // 啟用 debug 工具: 在 iPad, iPhone 的畫面上顯示 console 畫面
    enableDebug() {
      if (this.enabledCount === 7) return

      this.enabledCount += 1
      if (this.enabledCount === 7) new VConsole()
    }
  },
  // 斷網偵測
  mounted() {
    window.addEventListener('offline', ()=>{
      this.$store.commit('setNetworkError', true);
      //this.networkError = true
    });
    window.addEventListener('online',()=>{
      this.$store.commit('setNetworkError', false);
      //this.networkError = false
    });
  },
}
</script>

<style scoped>
/* svg animation */
.wifiWave {
  animation: wobble 3s infinite;
  transform-origin: bottom
  }
  @keyframes wobble {0% {transform: rotate(0deg);}10% {transform: rotate(-6deg);}15% {transform: rotate(6deg);}20% {transform: rotate(-3.6deg);}25% {transform: rotate(2.4deg);}30% {transform: rotate(-1.2deg);}35% {transform: rotate(0deg);}}
</style>
